/* reset */
    html,body,div,span,h1,h2,h3,p,a,em,img,input,strong,b,u,i,ol,ul,li,form,header,section{
      margin:0;
      padding:0;
      border:0;
      outline:0
    }
    html{
        text-rendering:optimizeLegibility;
        height:100%;
        font-size:80px;
        hyphens:auto;
        -webkit-hyphens:auto;
        -moz-hyphens:auto;
        word-break :normal;
        /*user-select:none;
        -webkit-user-select:none;*/
        -webkit-touch-callout:none;
        -webkit-tap-highlight-color:transparent;
        -webkit-font-smoothing:antialiased;
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
    }
    body{
        -webkit-touch-callout:none;
        /*-webkit-user-select:none;*/
        margin:0;
       /* font-size:100%;*/
    }
    body,button,h1,h2,h3,input,ol,pre,select,textarea,ul {
        -webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;
        font-family:'Microsoft Yahei','宋体','Helvetica Neue',Helvetica,Arial,sans-serif;
        font-weight:400;
    }
    div,span,a,header {
      -webkit-tap-highlight-color:rgba(0,0,0,0);
    }img{display:block;}a{text-decoration:none}li{list-style:none}
/* reset End */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{background: url(../tianjin2019/image/tianjinforeign_bg.jpg) repeat-y;background-size: 100% auto;}
.clearbox:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.tianjin-content{width:7.5rem;margin:0 auto}
.tianjin-top{position:relative;padding-bottom:0.56rem;background: url(../tianjin2019/image/tianjinforeign_banner.png)no-repeat center 1.1rem ;background-size: 100% auto;}
.tianjin-logo{width:2.39rem;height:0.75rem;margin: 0 auto}
.tianjin-collect-wrap{width:6.8rem;margin:0 auto;margin-top:7.36rem;padding:0.48rem 0.6rem 0.5rem;background: #fff;border-radius:0.2rem;box-shadow:0 0.1rem 0.3rem rgba(227,227,227,0.67) }
.collect-title{font-size: 0.36rem;text-align: center;color: #666;font-weight: bold;}
.tianjin-collect{margin-top: 0.5rem}
.tianjin-box{height: 0.8rem;padding-left: 0.38rem;margin-bottom:0.24rem;border: solid 1px #dcdcdc;border-radius: 0.4rem;font-size: 0}
.tianjin-box .form-icon{width: 0.65rem;height: 0.39rem;display: inline-block;vertical-align: middle;}
.tianjin-box .form-icon4{width: 0.65rem;height: 0.42rem}
.tianjin-box input{display: inline-block;vertical-align: middle;width:4.5rem;height:0.78rem;font-size:0.28rem;color:#333;padding-left:0.3rem;border-radius:0.4rem;background: none}
.tianjin-box select{display: inline-block;vertical-align: middle;width:4.5rem;height:0.78rem;font-size:0.28rem;color:#333;padding-left:0.3rem;border-radius:0.4rem;border:none;outline:none;background: url(../tianjin2019/image/select_bg.png)no-repeat right center;background-size: auto 100%;}
/*.tianjin-box input:last-child{margin-right:0}*/
/*.tianjin-box select:last-child{margin-right:0}*/
.tianjin-box.noborder{border: none;padding-left: 0}
#smscode,#imgcode{width: 3rem;border: solid 1px #dcdcdc;}
.imgcode{width:2.4rem;height:0.8rem;vertical-align: middle;float: right;}
.sendcode{display:block;float:right;width:2.4rem;height:0.8rem;text-align:center;font-size:0.24rem;color:#fff;background:#ff0142;border-radius:0.4rem;border:none;outline:none;}
#submit{width: 100%;height:0.8rem;line-height:0.8rem;border-radius: 0.4rem;text-align:center;font-size:0.36rem;color:#fff;border:none;outline:none;}
input[type="button"]:disabled{ background-color:#ccc;}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:#bbb;font-size:0.28rem
        }
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:#bbb;font-size:0.28rem
        }
input::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:#bbb;font-size:0.28rem
        }
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:#bbb;font-size:0.28rem
        }
/*input.inputwarn,.tianjin-box.inputwarn{border:solid 1px #666797;}*/
/*select.selectwarn{color:#f43939}*/
.text-center{text-align: center;}
.flexbox{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
button#submit[disabled]{background: #ccc}
.jianbian{
    background:#ff0142;
    background: -moz-linear-gradient(top, #ff4753, #ff0142); 
    background: -webkit-gradient(linear,top,from(#ff4753),to(#ff0142));
    background: -webkit-linear-gradient(top, #ff4753, #ff0142);
    background: -o-linear-gradient(top, #ff4753, #ff0142);
}
.apply-num{width: 6.8rem;height: 0.7rem;font-size:0.34rem;color: #fff;line-height: 0.7rem;background: #ff4753;border-radius: 0.35rem;text-align: center;margin: 0 auto;margin-top: 0.32rem}
.apply-num img{width: 0.43rem;height: 0.41rem;display: inline-block;vertical-align: middle;}
.apply-num span label{color: #ffea00;font-weight: bold;}
.title{margin:0 auto;margin-bottom:0.6rem}
.title1{width: 1.98rem;height: 0.49rem;}
.title2{width: 1.96rem;height: 0.5rem;}
.title3{width: 3.41rem;height: 0.5rem;}
.title4{width: 2.44rem;height: 0.5rem;}
.title5{width: 1.96rem;height: 0.49rem;}
.part2-box{margin:0.1rem 0.32rem;background-color: #fff;height: 1.6rem;padding-left: 0.32rem;border-radius: 0.2rem;position: relative;}
.part2-box .book-wrap,.part2-box .book-txt{float: left;}
.part2-box .book-wrap{width: 2.6rem;height: 100%;}
.part2-box .book-txt{padding-top:0.28rem}
.part2-box .book-wrap span{display:inline-block; height:100%; width:0; vertical-align:middle;}
.part2-box .book-wrap img{display:inline-block;vertical-align: middle;}
.part2-box .tag{width: 1.18rem;height: 0.98rem;position: absolute;bottom:0.13rem;right:-0.1rem }
.book-txt span{font-size: 0.3rem;color: #333;display: block;margin-bottom: 0.2rem}
.book-txt p{font-size: 0.3rem;color: #023abe;}
.book1{width: 2.16rem;height: 1.66rem}
.book2{width: 1.93rem;height: 1.52rem}
.book3{width: 1.88rem;height: 1.45rem}
.book4{width: 1.92rem;height: 1.54rem}
.book5{width: 1.87rem;height: 1.5rem}
.book6{width: 1.88rem;height: 1.45rem}
.book7{width: 1.93rem;height: 1.45rem}
.book8{width: 1.75rem;height: 1.34rem}
.book9{width: 1.85rem;height: 1.41rem}
.book10{width: 1.94rem;height: 1.52rem}
.book11{width: 1.98rem;height: 1.53rem}
.book12{width: 1.89rem;height: 1.52rem}
.book13{width: 1.89rem;height: 1.45rem}
.book14{width: 1.92rem;height: 1.5rem}
.book15{width: 1.98rem;height: 1.51rem}
.book16{width: 2.23rem;height: 1.57rem}
.book17{width: 2.23rem;height: 1.57rem}
.tianjinforeign-part3{margin-top: 0.9rem}
.part3-wrap{margin: 0 0.32rem;padding:0.38rem 0 0.3rem;background-color: #fff;border-radius: 0.2rem}
.part3-wrap img{width: 6.09rem;height: 5.33rem;margin: 0 auto;}
.part3-txt{padding: 0.6rem 0 0.7rem 0.64rem}
.part3-txt span{font-size: 0.36rem;color: #fff;}
.part3-txt p{font-size: 0.3rem;color: #a6c0ff;margin-bottom: 0.54rem}
.pafr4-main{position: relative;height: 12.2rem;padding-top: 0.46rem;background: url(../tianjin2019/image/tianjinforeign_part4bg.png)no-repeat top center;background-size: auto 100%;}
.part4-img1{width: 6.63rem;height: 4.46rem;margin-left:0.2rem}
.part4-img2{width: 7.16rem;height: 7.56rem;margin-top:-0.36rem;margin-left: 0.15rem}
.part4-fish{width: 4.72rem;height: 3.24rem;position: absolute;top:-2.02rem;right: 0}
.tianjinforeign-part5{padding-top: 0.66rem;}
.part5-main{padding: 0 0.2rem;}
.part5-main .part5-box1{float: left;}.part5-main .part5-box2{float: right;}
.part5-main .part5-box{width: 3.5rem;;padding: 0.27rem 0.16rem 0.4rem;border-radius: 0.2rem;background-color: #021dbf;box-shadow:0 0.03rem 0.4rem rgba(0,30,100,0.4) inset;color: #fff;}
.part5-box p{font-size: 0.3rem;font-weight: bold;margin-bottom: 0.2rem}
.part5-box p img{width: 0.44rem;height: 0.57rem;display: inline-block;vertical-align: middle;margin-right: 0.12rem}
.part5-box2 p img{width: 0.55rem;height: 0.55rem;}
.part5-box span{font-size: 0.24rem;line-height: 0.38rem}
.tianjinforeign-part6{padding: 0.7rem 0 0.68rem}
.tianjinforeign-part6 .part6-img{width: 6.15rem;height: 1.57rem;margin:0 auto}
.footer{padding-top: 1rem;height: 3.6rem;background-color:#ff2059;text-align: center;font-size: 0.4rem;font-weight: bold;color: #fff;}

.fixed-footer{width: 100%;height: 1.2rem;position: fixed;bottom: 0;left: 0;line-height: 1.2rem;font-size:0.34rem;color: #fff;text-align: center;z-index: 100}
.fixed-left,.fixed-right{width: 100%;/*float: left;*/}
.fixed-left{background-color: #3e3d42;}
.fixed-right{background-color: #ff0042;}
.tianjin-ok{display:none;width:5.8rem;padding:0.36rem 0.2rem;background:rgba(0,0,0,0.6);border-radius:0.2rem;position:fixed;top:50%;margin-top:-1.2rem;left:50%;;margin-left:-2.9rem}
.tianjin-ok img{width:0.63rem;height:0.47rem;margin:0 auto;margin-bottom:0.36rem}
.tianjin-ok p,.tianjin-error p{font-size:0.3rem;line-height:0.46rem;color:#fff;text-align:center;}
.tianjin-error{display:none;width:2.8rem;padding:0.36rem 0.2rem;background:rgba(0,0,0,0.6);border-radius:0.2rem;position:fixed;top:50%;margin-top:-1.1rem;left:50%;;margin-left:-1.4rem}
.tianjin-error img{width:0.66rem;height:0.66rem;margin:0 auto;margin-bottom:0.36rem}
.jiujiang-toast{display:none;width:100%;height:0.6rem;position:fixed;top:50%;margin-top:-0.3rem;left:0}
.jiujiang-toast p{text-align:center;font-size:0.3rem;color:#fff}
.jiujiang-toast span{padding:0.08rem 0.2rem 0.1rem;background:rgba(8,12,11,0.6);border-radius:0.1rem;}
button:disabled{background-color: #ccc;}