/* 课程首页 */
.homemain-top{
    padding: 16px 0 20px 20px;
    overflow: hidden;
}
.calendar-wrap{
    width: 580px;
    float: left;
    padding-right: 20px;
}
.homemain-classinfo{
    width: 380px;
    height: 346px;
    float: left;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.homemain-top-title{
    display: block;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: bold;
}
.homemain-top-titlesm{
    display: block;
    margin-bottom: 14px;
    font-size: 14px;
    color:#333
}
.homemain-top-titlesm span{
    color:#f43939;
}
/* .homemain-top-titlesm span a{
    color:#f43939;
} */
.classinfo-top{
    font-size: 12px;
    color:#999;
}
.calendar-box{
    border:solid 1px #e4e2e2;
    padding:3px 12px 11px 12px;
}
.calendar-box-in{
    height: 298px;
    /* overflow: hidden; */
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.calendar-box-fold{
    height: 98px
}
.homemain-classinfo-fold{
    height: 156px
}
.calendar-left{
    width: 140px;
    height: 180px;
    float: left;
    padding-top: 103px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    
}
.calendar-left p{
    font-size: 56px;
    line-height: 56px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.calendar-left span{
    font-size: 18px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.calendar-left-fold{
    padding-top: 52px
}
.calendar-left-fold p{
    font-size: 20px;
    line-height: 8px
}
.calendar-left-fold span{
    font-size: 14px
}

#datetimepicker{
    width: 350px;
    float: right;
}
/* 日历重置 */
/* 下拉日历 */
#ui-datepicker-div {
    width: 300px;
    padding:0 10px 6px 10px;
    border: none;
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0,0,0,0.12);
}
#ui-datepicker-div .ui-datepicker-header {
    padding:0;
    border: none;
    background: none;
    color: #333;
    font-weight:normal;
}
#ui-datepicker-div .ui-datepicker-title {
    margin: 0;
    font-size: 14px;
    height: 30px;
    line-height: 30px
}
#ui-datepicker-div table {
    font-size: 14px;
    margin: 0;
}
#ui-datepicker-div th {
    padding:0;
    color:#666;
    height: 30px;
}
#ui-datepicker-div th span{
    background-color: #f6f6f6;
    display: block;
    height: 20px;
}
#ui-datepicker-div td {
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
}
#ui-datepicker-div td span,#ui-datepicker-div td a {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    padding:0;
    border-radius: 100%;
    text-align: center;
}
#ui-datepicker-div .ui-datepicker-prev,#ui-datepicker-div .ui-datepicker-next{
    width: 16px;
    height: 16px;
    top: 7px;
    cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-prev {
    left: 60px;
}
#ui-datepicker-div .ui-datepicker-next {
    right: 60px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    color: #333;
}
.ui-state-hover,.ui-widget-content .ui-state-hover{
    border: none;
    background:none;
    color: #333;
}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
    border: none;
    background: none;
    color:#f43939;
}
.ui-state-active,.ui-widget-content .ui-state-active{
    border:none;
    background: #f43939;
    font-weight: normal;
    color: #fff;
}
.ui-datepicker-calendar thead tr:first-child{
    vertical-align: top;
}
.ui-widget-header .ui-icon {
    background-image:url(../image/calendar_btn.png);
}
.ui-icon-circle-triangle-w {
    background-position: 0 0;
}
.ui-icon-circle-triangle-e {
    background-position: -16px 0;
}
/* 首页日历重置 */
#datetimepicker .ui-datepicker{
    width: auto;
    padding:0;
}
#datetimepicker .ui-datepicker .ui-datepicker-header {
    padding:0;
    border-radius: 0;
    width: 140px;
    -ms-transform: translate(-184px,16px);
    -webkit-transform: translate(-184px,16px);
    transform: translate(-184px,16px);
}
#datetimepicker .ui-widget-content {
    border:none;
    background: none;
    color: #333;
}
#datetimepicker .ui-widget-header {
    border: none;
    background:none;
    color: #333;
    font-weight:normal;
}
#datetimepicker .ui-datepicker .ui-datepicker-title {
    margin: 0;
    font-size: 14px;
    height: 16px;
    line-height: 16px
}
#datetimepicker .ui-datepicker table {
    font-size: 14px;
    margin: 0;
}
#datetimepicker .ui-datepicker table tbody{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#datetimepicker .ui-datepicker th {
    padding:0;
    color:#666;
    height: 32px;
}
#datetimepicker .ui-datepicker th span{
    background-color: #f6f6f6;
    display: block;
    height: 20px;
}
#datetimepicker .ui-datepicker td {
    padding: 0;
    width: 50px;
    height: 50px;
    text-align: center;
}
#datetimepicker .ui-datepicker td span, #datetimepicker .ui-datepicker td a {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 24px;
    border-radius: 100%;
    text-align: center;
}
/* #datetimepicker .ui-state-default, #datetimepicker .ui-widget-content .ui-state-default, #datetimepicker .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    color: #333;
}
#datetimepicker .ui-state-hover, #datetimepicker .ui-widget-content .ui-state-hover{
    border: none;
    background:none;
    color: #333;
}
#datetimepicker .ui-state-highlight, #datetimepicker .ui-widget-content .ui-state-highlight,#datetimepicker .ui-widget-header .ui-state-highlight {
    border: none;
    background: none;
    color:#f43939;
}
#datetimepicker .ui-state-active, #datetimepicker .ui-widget-content .ui-state-active{
    border:none;
    background: #f43939;
    font-weight: normal;
    color: #fff;
} */
/* #datetimepicker .ui-datepicker-calendar thead tr:first-child{
    vertical-align: top;
}
#datetimepicker .ui-widget-header .ui-icon {
    background-image:url(../image/calendar_btn.png);
}
#datetimepicker .ui-icon-circle-triangle-w {
    background-position: 0 0;
}
#datetimepicker .ui-icon-circle-triangle-e {
    background-position: -16px 0;
} */
#datetimepicker .ui-datepicker .ui-datepicker-prev,#datetimepicker .ui-datepicker .ui-datepicker-next{
    width: 16px;
    height: 16px;
    top: 0
}
#datetimepicker .ui-datepicker select.ui-datepicker-month,#datetimepicker .ui-datepicker select.ui-datepicker-year {
     width:auto; 
}
#datetimepicker .ui-datepicker .ui-datepicker-title select {
    margin:0;
    line-height: 16px;
}
.calendar-event {
    background: url(../image/calendar_dot.png) no-repeat center 40px;
    background-size: 6px 6px;
}
/* 日历重置end */
.xdo-col-50{
    width: 50%;
    float: left;
}
.xdo-col-50 p:first-child{
    margin-bottom: 14px;
}
.topinfo-left{
    width: 181px;
    float: left;
    border-right: solid 1px #e4e2e2;
}
.topinfo-right{
    width: 199px;
    float: left;
    padding-left: 17px;
}
.classinfo-bottom{
    padding-right: 20px;
    margin-top: 37px;
}
.progress-top{
    font-size: 12px;
    color:#999;
    margin-bottom: 2px;
}
.progress-top span{
    color:#3961f4;
} 
.progress-wrap{
    width: 260px;
}
.xdo-progress {
    height: 10px;
    margin-bottom:0;
    background-color: #f2f3f7;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar-course {
    line-height: 10px;
    background-color: #87a1f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0 5px 5px 0;
}
.classinfo-bottombox{
    margin-bottom: 16px;
}
.homemain-bottom{
    padding:15px 20px 20px 20px;
    margin-top: 20px;
    min-height: 200px;
}
.homemain-bottom-title{
    margin-bottom:14px ;
}
.homemain-hand{
    height: 24px;
    position: relative;
}
.homemain-hand span{
    display: block;
    font-size: 14px;
    width: 80px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top:0;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    cursor: pointer;
}
/* alert */
.xdo-alert{
    padding: 15px 19px 19px 19px;
    border-radius: 0px;
    font-size: 14px;
    margin-top:20px;
}
.xdo-alert-danger {
    background-color: #fef5f5;
    border:solid 1px #fbb0b0;
}
.xdo-alertl .font16{
    color:#f66161;
    margin-bottom: 14px;
}
.xdo-alertl .font14{
    margin-bottom: 1px;
}
.xdo-alertl .font14-9 span{
    margin-right: 12px;
}
.xdo-alertr .font14-6{
    display: block;
    margin-bottom: 15px;
}
.xdo-alertr .underline{
    margin-right: 9px;
}
.xdo-alert .xdo-alert-close{
    background: none;
    font-size: 12px;
    margin-right: 12px;
    cursor: pointer;
}
.xdo-alertl-btn{
    margin-top: 4px;
    font-size: 0;
}
.homemain-classinfo-tip{
    font-size: 14px;
    color: #999;
    margin-top: 96px;
    text-align: center;
}
/* 我的vip */
.xdocourse-pagination{
    margin-top:40px;
}
/* 我的vip end */
/* vip详情 */
.course-select{
    margin-bottom: 17px;
}
.course-select-dd{
    width: calc(100% - 165px);
    float: left;
}
.course-select dl dt {
    float: left;
    margin-right: 32px;
    font-size: 18px;
    padding-left: 11px;
    background: url(../image/select_bg.png) no-repeat left center;
}
.course-select dl dd {
    float: left;
    margin-right: 40px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    cursor: pointer;
}
.course-select dl dd a{
    color: #666;
}
.course-select dl dd.active,.course-select dl dd.active a {
    color: #f43939;
}
.course-select dl dd a:hover{
    color: #f43939;
}
/*课程资料*/
.xdo-issuelg{
    font-size: 26px;
    margin: 14px 0 28px
}
.xdo-tab{
    margin-bottom: 41px;
}
.xdo-tab a{
    font-size: 20px;
    color: #666;
    padding-bottom: 6px;
    border-bottom: solid 2px transparent;
    margin-right: 40px;
}
.xdo-tab a.act{
    color: #f43939;
    border-bottom: solid 2px #f43939;
}
.xdo-titlesm{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px
}
.xdo-titlesm span{
    color: #f43939;
    font-weight: normal;
    margin-left: 12px;
}
.classinfo-box{
    border: solid 1px #e4e2e2;
    padding: 15px 23px;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 33px;
    background-color: #fafafa;
}
.classinfo-item{
    float: left;
    width: 360px;
}
.classinfo-item p{
    height: 30px;
}
.classinfo-left,.classinfo-right{
    float: left;
}
.classinfo-right .text-overflow{
    max-width: 260px;
}
.classinfo-left{
    color: #666;
    width: 76px
}
.classinfo-box .classinfo-only b{
    font-size: 14px;
    font-weight: normal;
}
.classinfo-box .classinfo-only span{
     width: 76px;
     font-size: 14px;
     color: #666;
     display: inline-block;
     vertical-align: top;
}
.classinfo-box .classinfo-only label{
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 76px);
}
.classinfo-box .classinfo-only .xdo-emptybtn28{
    width: 64px;
    margin-left: 12px;
}
.datalist-box{
    border: solid 1px #e4e2e2;
    font-size: 14px;
    margin-bottom: 24px
}
.datalist-box + .xdo-titlesm{
    margin-top: 33px;
}
.datalist-box .datalist-title{
    height: 47px;
    line-height: 46px;
    color: #666;
    padding-left: 23px;
    background-color: #fafafa;
    border-bottom: solid 1px #e4e2e2;
}
.datalist-box ul{
    padding: 0 23px;
    /* min-height: 179px; */
}
.datalist-box ul li{
    height: 60px;
    line-height: 60px;
    padding-right: 53px;
    border-bottom: solid 1px #e4e2e2;
}
.datalist-box.my-data ul li{
    padding-right: 0px;
}
/* .datalist-box ul li:last-child{
    border-bottom: none;
} */
.datalist-box ul li:last-of-type{
    border-bottom: none;
}
/* .datalist-box ul li:nth-of-type(5){
    border-bottom: none;
} */
.datalist-box ul li a{
    color: #666;
    cursor: pointer;
}
.datalist-box ul li a:hover{
    color: #f43939;
}
.datalist-box ul .xdo-empty{
    padding-bottom: 10px;
}
.datalist-box .text-overflow{
    max-width: 860px;
}
.upload-wrap{
    padding: 20px 0 19px 0;
    margin:0 23px 0 23px;
    border-top: solid 1px #e4e2e2;
}
.upload-wrap.notopboder{
    border-top: none;
}
.upload-info{
    font-size: 14px;
    color: #999;
    line-height: 20px;
    margin-top: 12px
}
.teadetail-box{
    border: solid 1px #e4e2e2;
    font-size:14px;
    margin-bottom: 24px;
}
.teadetail-top{
    padding:23px 47px 24px 47px
}
.teadetail-top .teahead{
    float: left;
}
.teadetail-tea{
    float: left;
    margin-left: 24px;
    line-height: 22px;
    padding-top: 7px;
}
.teadetail-info{
    /* padding:23px 0; */
    margin:0 23px;
    line-height: 24px;
    /* border-top: solid 1px #e4e2e2; */
}
.teadetail-info p{
    padding-top: 17px;
}
.teadetail-info p:only-child{
    padding-bottom: 17px;
}
.teadetail-info .tea-video-border:only-child{
    padding-top: 23px;
}
.tea-video-border{
    padding-top: 34px;
    padding-bottom: 23px;
}
.teadetail-info p:nth-child(1),.teadetail-info .tea-video-border:nth-child(1){
    border-top: solid 1px #e4e2e2;
}
.tea-video-wrap{
    width:400px;
    height:226px;
    margin: 0 auto;
    /* margin-top: 40px; */
}
.classpre-box {
    line-height: 22px;
    padding:0 24px
}
.classpre-box .wxcode{
    margin-top: 5px;
}
.teadetail-top .xdo-titlesm{
    margin-bottom: 17px;
}
/* 学生评价 */
.tea-evaluebox{
    width: 735px;
    margin: 0 auto;
    font-size: 0;
    line-height: 21px;
}
.tea-evaluebox-title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 17px;
}
.stu-evaluebox .tea-evaluebox-title{
    margin-bottom: 20px;
}
.tea-evaluebox-item span,.tea-evaluebox-item p{
    display: inline-block;
}
.tea-evaluebox-item span{
    width: 96px;
    font-size: 14px;
    color: #666;
}
.tea-evaluebox-item p{
    width: 639px;
    font-size: 14px;
    vertical-align: top;
}
.radio-box{
    margin-bottom: 19px;
}
.radio-box label {
    font-size: 14px;
    color: #666;
    padding-left: 36px;
    background: url(../image/radio.png) no-repeat left center;
    margin-right: 32px;
}
.tearadio-wrap .radio-box label{
    display: inline-block;
    width: 124px;
    margin-right: 0;
}
.tearadio-wrap + p{
    margin-top: 12px;
}
.radio-box input:checked+label{
    background: url(../image/radio_pre.png) no-repeat left center;
}
.stu-evaluebox{
    width: 735px;
    margin: 0 auto;
    font-size: 0;
    margin-top: 27px;
}
.evalue-form .wordCount-wrap{
    width: 735px;
    height: 164px;
    position: relative;
}
.wordCount-wrap textarea{
    width: 100%;
    height: 100%;
    padding: 19px;
    border: solid 1px #e4e2e2;
    font-size: 14px;
}
.wordCount-wrap .wordwrap{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
    color: #999;
}
.score-tip{
    float: right;
    margin-right: 266px;
    margin-top: 3px;
}
/* 我的课表 */
.xdo-sch-title{
    width: 174px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
}
.xdo-sch-title a{
    display: block;
    width: 11px;
    height: 20px;
    background: url(../image/calendar_btn.png) no-repeat;
}
.xdo-sch-title p{
    font-size: 14px;
    color: #666;
    font-weight: normal;
    margin-top: 6px;
}
.xdo-sch-title a.xdo-sch-prev{
    float: left;
    background-position: 0 center;
}
.xdo-sch-title a.xdo-sch-next{
    float: right;
    background-position: -22px center;
}
.xdo-sch-tag{
    margin-top: 16px;
    font-size: 14px;
    color: #999;
}
.xdo-sch-tag .label-sch{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin: 0 8px 0 20px;
}
.xdo-schtea-tag .label-sch{
    margin: 0 8px 0 16px;
}
.label-can-sch{
    background-color: #4cd964;
}
.label-has-sch{
    background-color: #6181f6;
}
.label-over-sch{
    background-color: #fcb24c;
}
.label-error-sch{
    background-color: #f66161;
}
.label-not-sch{
    background-color: #f66161;
}
.label-no-sch{
    background-color: #fff;
}
.xdo-sch-tag .label-no-sch{
    border: solid 1px #e4e2e2;
}
.xdo-sch-info{
    height: 32px;
    line-height: 31px;
    font-size: 14px;
    color:#999;
    padding-left: 20px;
    border:solid 1px #e4e2e2;
    border-bottom: none;
    margin-top: 10px;
}
.xdo-sch-info label{
    color:#333;
    margin-right:32px ;
}
.xdo-sch-info span{
    color:#f43939;
    margin-right:20px;
}
.xdo-sch-week{
    height: 60px;
    font-size: 14px;
    color:#666;
    border: solid 1px #e4e2e2;
}
.xdo-sch-week li {
    width: 120px;
    padding-top: 9px;
    height: 60px;
    text-align: center;
    color: #666;
    float: left;
}
.xdo-sch-week li:first-child{
    width: 98px;
}
.xdo-sch-left{
    float: left;
    width: 100px;
    margin-top: -1px;
}
.xdo-sch-right{
    float: left;
    width: 840px;
    position: relative;
    margin-top: -1px;
}
.xdo-sch-left ul{
    border-bottom: none;
}
.xdo-sch-left ul li{
    text-align: center;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    color: #999;
    border-left:solid 1px #e4e2e2;
    border-right:solid 1px #e4e2e2;
    border-bottom:solid 1px #e4e2e2;
}
.xdo-sch-right ul{
    float: left;
    position: relative;
}
.xdo-sch-right li {
    width: 120px;
    height: 42px;
    border-bottom: solid 1px #e4e2e2;
    border-right: solid 1px #e4e2e2;
    cursor: pointer;
}
.xdo-sch-right li.selectdisable {
    background-color: #f6f6f6;
    cursor: default;
}
.xdo-sch-right ul p{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 12px;
    color:#fff;
    text-align: center;
}
.setcolorwin{
    display:none;
    position:absolute;
    width:148px;
    height:72px;
    font-size:14px;
    border:solid 1px #e4e2e2;
    border-bottom:none;
    background:#fff;
}
.setcolorwin p{
    height:23px;
    padding-left:15px;
    line-height:23px;
    border-bottom:solid 1px #e4e2e2;
    cursor:pointer;
}
.setcolorwin p:hover{
    background:#57a8ed;
    color:#fff
}
.xdo-sch-right li.selected{
    background-color:#ebeffe
}
/* 订单下单 */
/* .xdo-order-content{
    padding: 52px 0 80px;
}
.order-title{
    font-size: 26px;
    margin-bottom: 37px;
    margin-top: 14px;
}
.xdo-order{
    border: solid 1px #e4e2e2;
    font-size: 14px;
    margin-bottom: 36px;
}
.xdo-order-top{
    line-height: 46px;
    padding: 0 46px;
    color: #666;
    border-bottom:solid 1px #e4e2e2;
}
.xdo-order-main{
    padding:24px 23px 20px;
}
.xdo-order-main li{
    padding: 17px 23px;
    border: solid 1px #e4e2e2;
    background-color: #fafafa;
    margin-bottom:12px;
}
.xdo-order-main li p{
    line-height:26px;
}
.order-titlesm{
    font-size: 20px;
    color:#666;
    margin-bottom: 40px;
}
.xdo-order-style{
    border: solid 1px #e4e2e2;
    font-size: 14px;
    color:#999;
    padding: 23px;
}
.order-radio-box{
    width: 260px; 
    height: 100px;
    padding: 19px 0 19px 23px;
    border: solid 1px #e4e2e2;
    float:left;
    margin-right:32px;
    cursor: pointer;
}
.order-radio-box img{
    display: inline;
    vertical-align: middle;
    margin-right: 20px;
}
.order-radio-box .radio{
    display: inline-block;
    vertical-align: middle;
    width:20px;
    height:20px;
    background: url(../image/radio_off.png);
    margin-right: 20px;
}
.order-radio-box .radio.radio-active{
    background: url(../image/radio_on.png);
}
.xdo-order-money{
    font-size: 14px;
    color: #666;
    margin-top: 56px;
    padding-right: 24px;
    margin-bottom: 47px;
}
.xdo-order-money p{
    margin-bottom: 5px;
}
.xdo-order-money .xdo-order-moneyleft,.xdo-order-money .xdo-order-moneyright{
    float:right
}
.xdo-order-money .xdo-order-moneyleft{
    margin-right: 46px;
}
.xdo-order-money .xdo-order-moneyleft p:last-child{
    padding-top: 16px;
}
.gopay{
    width: 200px;
} */
/* 下单弹窗 */
#win-payok{
    display: none;
}
.win-code{
    width: 168px;
    height: 168px;
    background-color:#efefef;
    margin: 0 auto;
    margin-top: 24px;
}
#win-payok .win-pay-title{
    margin-bottom: 10px;
    font-weight: 500;
}
#win-payok .win-pay-title span.font26,#win-payok .win-pay-title span.font18{
    color:#f30000;
}
#win-payok .win-pay-title span.font18{
    margin-left: 8px;
}
/* #win-payok span{
    font-size: 26px;
    color:#f43939;
    display: block;
    margin-bottom: 9px;
} */
#win-payok p{
    font-size: 12px;
    color:#505050;
    line-height: 20px;
}
.wincode-btn{
    font-size: 0;
    /* padding:0 20px 17px 20px; */
    margin-top: 40px;
}
#win-payok a{
    width: 130px;
}
#win-payok a:nth-of-type(1){
    margin-right: 38px;
}
#win-payfalse{
    height: 38px;
    line-height: 36px;
    border: 1px solid #F30000;
    border-radius: 4px;
    font-size: 16px;
    color: #f30000;
}
#win-paytrue{
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}
/* 订单下单end */
/* 新订单下单 */
.neworder-content{
    background-color: #f3f4f5;
    padding-top: 93px;
    padding-bottom: 28px;
}
.neworder-mian{
    width: 936px;
    padding: 40px 56px 36px;
    background-color: #fff;
    margin: 0 auto;
}
.neworder-title{
    font-size: 22px;
    padding-left: 15px;
    border-left:solid 4px #f30000;
    margin-bottom: 26px;
}
.neworder-address{
    margin-top: 9px;
    margin-bottom: 19px;
}
.neworder-address li{
    padding: 17px 0;
    border-bottom: dashed 1px #ccc;
}
.neworder-address-left > label{
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #787878;
    padding: 2px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 22px;
}
.neworder-address-left > label label{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.neworder-address li.active .neworder-address-left > label{
    border: 1px solid #e90000;
}
.neworder-address li.active .neworder-address-left > label label{
    background: #e90000;
}
.neworder-address-left span{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-right: 16px;
}
.neworder-address-left .address-detail{
    max-width: 324px;
}
.neworder-address-right{
    font-size: 14px;
}
.neworder-address-right span{
    margin-left: 25px;
    cursor: pointer;
}
.neworder-address-right .setaddress{
    color: #e92626;
}
.address-new-txt{
    color: #464646;
    cursor: pointer;
}
.neworder-phone{
    margin-bottom: 36px;
}
.neworder-phone-tip{
    font-size: 12px;
    color: #E92626;
    margin-top: 4px;
}
.neworder-info{
    margin-left: 18px;
}
.neworder-info-detail{
    background: #efefef;
    padding: 22px;
    margin-bottom: 2px;
}
.neworder-info-time{
    color: #a1a1a1;
    margin-top: 6px;
}
.neworder-info-money{
    margin-left: 66px;
}
.neworder-paystyle{
    padding-left: 18px;
}
.neworder-radio-box{
    float: left;
    position: relative;
    width: 148px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: solid 1px #ddd;
    font-size: 18px;
    color: #787878;
    margin-right: 13px;
    cursor: pointer;
}
.neworder-radio-box.active{
    border: solid 2px #3879D1;
}
.neworder-radio-box .pay-checked{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.neworder-radio-box.active .pay-checked{
    display: block;
}
.neworder-gopay{
    width: 190px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    border-radius: 19px;
    margin-top: 26px;
}
.order-form{
    padding-left: 24px;
}
.order-form .order-input{
    margin-bottom: 12px;
}
.order-form .order-input:first-child{
    margin-top: 17px;
}
.order-input input,.order-input textarea{
    width: 232px;
    height: 34px;
    border: solid 1px #777777;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 13px;
    vertical-align: middle;
}
.order-input input[name='address'],.order-input textarea[name='address_detail'],.order-address input{
    width: 458px;
}
.order-input textarea[name='address_detail']{
    height: 80px;
}
.order-input .order-error{
    display: none;
    font-size: 16px;
    color: #e92626;
    margin-left: 11px;
    vertical-align: middle;
}
input.city-picker + span{
    margin-left: 0;
}
.orderform-tip{
    font-size: 16px;
    color: #BCBCBC;
    line-height: 22px;
    margin-bottom: 12px;
}
.orderform-tip img{
    margin-right: 6px;
}
.orderform-submit{
    width: 160px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border-radius: 4px;
}
/* 新订单下单end */
/* 我的订单 */
.order-box{
    border: solid 1px #e4e2e2;
    margin-bottom: 24px;
    font-size: 16px;
}
.order-box p{
    font-size: 16px;
    line-height: 30px;
}
.order-box span{
    font-size: 14px;
    color: #999
}
.order-box label{
    font-size: 14px;
}
.order-box-top{
    height: 48px; /* 47 */
    line-height: 47px;
    border-bottom: solid 1px #e4e2e2;
    padding:0 20px;
    background-color: #fafafa;
}
.order-box-top span{
    margin-right: 40px
}
.order-box .order-box-left{
    float: left;
    padding:16px 20px 22px 20px;
    width:700px;
    border-right: solid 1px #e4e2e2;
}
.order-box .order-box-right{
    float: left;
    width:238px;
    padding-top: 17px
}
.order-box .order-box-right .default-color{
    font-size: 20px;
    color: #f43939;
    margin-right: 12px
}
.order-box .order-box-button a,.order-box .order-box-button button{
    margin-right: 12px
}
.order-box .order-box-button span{
    cursor: pointer;
}
.order-box-list{
    margin-bottom: 14px
}
.order-box-list:not(:first-child):last-child{
    margin-bottom: 0;
}
.order-box-list span{
    margin-right: 12px
}
.order-box-title{
    height: 48px;
    line-height: 32px;
    border-bottom: solid 1px #e4e2e2;
    margin-bottom: 19px
}
.order-box-button{
    margin-top:9px;
}
.xdoorder-pagination{
    margin-top: 40px;
}
span.order-no{
    color: #f43939
}
span.order-end{
    color: #333
}
span.order-cancel{
    color: #999
}
/* 我的订单end */
/* 个人设置 */
.input-box{
    float: left;
    font-size: 14px;
    color:#666;
    margin-right: 20px;
}
.input-box label{
    display: block;
    margin-bottom: 12px;
    height: 20px;
}
.set-row{
    margin-bottom: 20px;
}
.input-box #province,.input-box #source_province{
    width: 100px;
}
.input-box #city,.input-box #area,.input-box #source_city,.input-box #source_area{
    width: 120px;
}
.input-box #address,.input-box #school,.input-box #email{
    width: 380px;
}
#set-submit{
    margin-top: 40px;
}
._xdo-widget-area-select .col-sm-4{
    float: left;
    margin-right: 15px;
    padding-left: 0;
    width: auto;
}
._xdo-widget-area-select select{
    width:120px;
    height:44px;
    border:solid 1px #e4e2e2;
    padding-left:15px;
    padding-right:29px;
    background:url(../image/select_icon.png)right center no-repeat;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    color:#333;
    -webkit-box-shadow: none;
    box-shadow: none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis; 
}
._xdo-widget-area-select .col-sm-4:first-child select{
    width: 100px;
}
._xdo-widget-area-select .col-sm-4:last-child{
    margin-right: 0;
}
._xdo-widget-area-select select:focus {
    border-color: #e4e2e2;
    -webkit-box-shadow: none;
    box-shadow:none;
}
/* 个人设置end */
/* 上课记录 */
.record-select{
    margin-bottom: 24px;
    margin-top: 32px;
}
.record-select span{
    font-size:14px;
    color:#666;
}
.record-select input,.record-select select{
    font-size:14px;
}
.record-select input{
    background:url(../image/select_icon.png)right center no-repeat;
}
.record-select button{
    width: 60px;
}
.record-listwrap{
    font-size: 14px;
}
.record-listwrap li{
    float: left;
}
.record-head{
    background-color:#fafafa;
    height: 47px;
    line-height: 46px;
    padding-left: 3px;
    color:#999;
    border: solid 1px #e4e2e2;
}
.record-head li{
    padding-left: 8px;
}
.record-list ul{
    border-left:solid 1px #e4e2e2;
    border-right:solid 1px #e4e2e2;
    border-bottom:solid 1px #e4e2e2;
    padding-left: 3px;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.record-list ul:hover{
    border-left:solid 4px #fbb0b0;
    padding-left: 0px;
    background: #fef5f5;
}
.record-list li{
    padding:14px 0 15px 8px;
    min-height: 67px;
    word-break :break-all;
    word-wrap:break-word;
}
.record-listwrap li:nth-child(1){
    width: 116px;
}
.record-listwrap li:nth-child(2){
    width: 100px;
}
.record-listwrap li:nth-child(3),.record-listwrap li:nth-child(6){
    width: 80px;
}
.record-listwrap li:nth-child(4){
    width: 200px;
}
.record-listwrap li:nth-child(5){
    width: 190px;
    padding-right: 10px;
}
.record-listwrap li:nth-child(7){
    width: 70px;
}
.record-listwrap li:nth-child(8){
    width: 99px;
    display: flex;
    align-items: center;
}
/* 上课记录end */
/* 老师课程首页 */
.classinfo-top + .classinfo-top{
    margin-top: 46px;
}
.course-tip{
    font-size: 14px;
    margin: 12px 0 17px;
}
.course-tip span{
    color:#f43939;
}
/* 老师课程首页end */
/* 老师上课记录 */
.record-select-tea{
    margin-bottom: 20px;
}
.record-select-tea input,.record-select-tea select{
    width: 140px;
}
.record-select-tip{
    font-size: 14px;
    margin-bottom: 7px;
}
.record-select-tip span{
    color:#999
}
.record-select-tip span label{
    color:#f43939
}
/* 老师上课记录end */
/* 老师我的vip */
.course-select + .course-select{
    margin-top: -7px;
}
.content-right-title + .course-select{
    margin-top: 23px;
}
/* 老师我的vip end */
/* 老师备课 */
.input-issue{
    padding: 7px 23px;
}
.input-issue .modify-topic{
    width: 72px;
}
.input-issue input{
    width: 700px;
}
/* 老师备课end */
/* 练习提交 */
.testlist-wrap{
    padding: 0 25px 3px 25px;
    margin-top: 23px;
    font-size: 0;
}
.testlist-wrap li {
    /* float: left; */
    width: 40px;
    margin-right: 24px;
    margin-bottom: 26px;
    display: inline-block;
    vertical-align: top;
}
.testlist-wrap li:nth-child(18n){
    margin-right: 0;
}
.testlist-wrap .xdo-empty{
    margin-top: 59px;
    margin-bottom: 52px;
}
/* 练习提交end */
/* 老师评价 */
.evalue-form p.inline-block{
    font-size: 14px;
    width: 109px;
    /* margin-right: 40px; */
    color: #666;
}
.evalue-form p i{
    margin-right: 6px;
} 
.radio-box.inline-block label{
    color:#333
}
.stu-feedback{
    margin-top: 57px;
}
.feedback-item{
    border-top: solid 1px #e4e2e2;
    padding:23px 0 21px;
}
.feedback-item:last-child{
    border-bottom: solid 1px #e4e2e2;
}
.feedback-left{
    float: left;
    width: 40px;
    margin-right:36px ;
}
.feedback-right{
    width: 1104px;
    float: left;
}
.feedback-right p{
    margin-bottom: 7px;
}

/* 老师评价end */
/* 老师个人设置 */
.set-row .wordCount-wrap{
    width: 780px;
    height: 160px;
    position: relative;
}
.set-row .delete-wrap{
    display: inline-block;
}
.delete{
    width:14px;
    height:14px;
    display:inline-block;
    vertical-align:middle;
    background:url(../image/delete.png);background-size:100% 100%;
    margin-left:6px;
    cursor:pointer;
}
.delete:hover{
    background:url(../image/delete_pre.png);
}
/* 老师个人设置end */
/* 电子协议 */
.elec-agree{
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    margin-top: 4px;
    padding-left: 18px;
    margin-bottom: 36px;
}
.elec-agree .open-elec{
    color: #0E84FF;
}
/* .elec-agree .toggle-elec{
    padding-left: 24px;
    background: url(../../xue/image/agree_nor.png)no-repeat left center;
    background-size: 19px 21px;
}
.elec-agree  .toggle-elec.agree-check{
    background: url(../../xue/image/agree_pre.png)no-repeat left center;
    background-size: 19px 21px;
} */
.service-elect-win{
    display:none;
    position: relative;
    width:698px;
    height: 606px;
    background:#fff;
    z-index:1002;
    overflow: hidden;
}
.service-elect-cont{
    position: absolute; 
    left: 0;
    width:718px;
    /* height: 506px; */
    height: 470px;
    padding: 18px 30px 0 10px;
    color: #151515;
    overflow-x: hidden;
    overflow-y: auto;
}
.service-elect-cont::-webkit-scrollbar {
    display: none;
}
.service-elect-title{
    font-size: 18px;
    /* margin-bottom: 40px; */
    padding-top: 18px;
    margin-bottom: 22px;
}
.service-elect-main .service-elect-top1,.service-elect-main .service-elect-top2{
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.service-elect-main .service-elect-top1{
    margin-bottom: 20px;
}
.service-elect-main p{
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.service-elect-btn{
    font-size: 0;
    background-color: #fff;
    position: absolute; 
    right: 13px;
    top: 16px;
    z-index: 10;
}
.service-elect-btn .print-btn{
    display: inline-block;
    width:90px;
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color: #ff0000;
    text-align: center;
    background:#fff4f4;
    border-radius:5px;
    border:1px solid #ff9e9f;
    margin-right: 10px;
}
.service-elect-btn .export-pdf{
    display: inline-block;
    width:90px;
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background:#ff0000;
    border-radius:5px;
}
.service-elect-close{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -109px;
    width:218px;
    height:32px;
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    background:#ff0000;
    border-radius:5px;
    margin-top: 50px;
    cursor: pointer;
}
/* 电子协议end */
