/*首页*/
/*滚动*/
#home-banner .swiper-container{width:100%;height:460px;}
#home-banner .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 10px}
#home-banner .swiper-pagination-bullet{width:12px;height:12px;display:inline-block;border-radius:100%;background:rgba(0,0,0,0.4);}
#home-banner .swiper-pagination-bullet-active{background:rgba(255,255,255,0.75);}
#home-banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:20px}
#home-banner .swiper-slide a{display:block;width:100%;height:100%}
#home-banner .swiper-button-next{display:none;width:40px;height:70px;right:30px;/*left:50%;margin-left:530px;*/background:url(../image/home_nextnor.png)no-repeat center center;margin-top:-35px;border-radius:2px}
#home-banner .swiper-button-prev{display:none;width:40px;height:70px;left:30px;/*left:50%;margin-left:-530px;*/background:url(../image/home_prevnor.png)no-repeat center center;margin-top:-35px;border-radius:2px}
#home-banner .swiper-button-next:hover{background:rgba(0,0,0,0.45) url(../image/home_nextpre.png)no-repeat center center;}
#home-banner .swiper-button-prev:hover{background:rgba(0,0,0,0.45) url(../image/home_prevpre.png)no-repeat center center;}
/*滚动end*/
.home-banner{position:relative;height:460px}
.newpart2,.newpart3,.newpart4,.newpart5{padding:81px 0 90px}.newpart6{padding:90px 0 135px}
.newpart2{padding-bottom:79px}
.newhome-title{font-size:40px;color:#333;text-align:center;}.newhome-title span{font-weight:bold;}
.newhome-subtitle{text-align:center;font-size:20px;color:#999;margin-top:16px}
.graybg{background-color:#fafafa}
.newpart2 ul{width:1192px;margin:0 auto;margin-top:76px}
.newpart2 ul li{float:left;width:292px;margin-right:8px;}
.newpart2 ul li:last-child{margin-right:0}
.newpart3-main{height:400px;margin-top:170px;position:relative;}
#swiper2{height:400px;}
.newpart3-item{padding-left:5px}.newpart3-item img{float:left;}    
.newpart3-itemtxt{width:540px;float:right;padding-top:20px;}
.newpart3-itemtxtlist{margin-bottom:30px;}
.newpart3-itemtxtlist span{display:block;font-size:20px;color:#333;margin-bottom:20px}.newpart3-itemtxtlist span label{color:#f43939}
.newpart3-itemtxtlist p{font-size:14px;color:#666;line-height:26px;text-align:left;}
.newpart3-btn{margin:0 auto;margin-top:29px}
/*轮播*/
#newpart3-main .swiper-pagination-bullets .swiper-pagination-bullet{margin:0 40px}
#newpart3-main .swiper-pagination-bullet{width:160px;height:40px;display:inline-block;line-height:32px;font-size:20px;color:#333;border-radius:0;background:none;opacity:1;box-sizing:border-box;-webkit-box-sizing:border-box;}
#newpart3-main .swiper-pagination-bullet-active{color:#f43939;border-bottom:solid 4px #f43939;background:none}
#newpart3-main .swiper-pagination-bullets{width:100%;bottom:auto;top:-100px}
#newpart3-main .swiper-wrapper .swiper-slide{background-color:#fff}
/*轮播end*/
.newpart4 img{display: block;margin:0 auto;margin-top:77px}
.newpart4-btn{margin:0 auto;margin-top:80px}.newpart5-btn{margin:0 auto;margin-top:86px}
.newpart5-main{width:928px;height:600px;margin:0 auto;position:relative;margin-top:77px;}
.newpart5img2{position:absolute;top:0;left:50%;margin-left:-285px}
.newpart5img1{position:absolute;top:0;left:0;}
@-webkit-keyframes rotation{
from {-webkit-transform:rotate(0deg);}
to {-webkit-transform:rotate(360deg);}
}
@keyframes rotation{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
  }
.turn{
animation:rotation 9s linear infinite;
-moz-animation:rotation 9s linear infinite;
-webkit-animation:rotation 9s linear infinite;
-o-animation:rotation 9s linear infinite;
}
.newpart6 ul{width:1192px;margin:0 auto;margin-top:80px}
.newpart6 ul li{float:left;margin-right:21px}.newpart6 ul li:last-child{margin-right:0}
.newpart6 ul li:nth-child(1),.newpart6 ul li:nth-child(3),.newpart6 ul li:nth-child(5){width:348px;height:357px}
.newpart6 ul li:nth-child(2),.newpart6 ul li:nth-child(4){width:32px;height:32px;margin-top:157px}
.applay-barwrap{height:56px;position:relative;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#999;font-size:14px
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#999;font-size:14px
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#999;font-size:14px
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#999;font-size:14px
}
/*首页end*/
/*名师*/
.tea-part2{padding:81px 0 90px}.tea-part3{padding:81px 0 60px}.tea-part4{padding:81px 0 23px}
.tea-part1{width:100%;height:460px;background:#fafafa url(../image/xdtea_banner.jpg)no-repeat center top}
.tea-part2 ul,.highstage-part5 ul,.howclass-part3main{/*width:1180px;margin:0 auto;*/margin-top:76px;}
.tea-part2 ul li{width:280px;height:330px;float:left;background-color:#ffffff;border-radius:10px;margin-right:20px;text-align:center;box-shadow:0 5px 8px rgba(6,0,1,0.08)}
.tea-part2 ul li:last-child{margin-right:0}
.tea-part2 ul li span{display:block;font-size:18px;color:#333;margin:16px 0 9px}
.tea-part2 ul li p{font-size:14px;color:#999;line-height:20px}
.teapart3-txt{text-align:center;margin-top:71px}
.teapart3-txt span{display:block;font-size:16px;color:#333;margin-bottom:4px}.teapart3-txt span label{color:#f43939}
.teapart3-txt p{font-size:14px;color:#999;margin-bottom:15px}
.tea-part3 img{display:block;margin:0 auto;margin-top:21px}.teabtn{margin:0 auto;margin-top:20px}.teabtn a{color:#fff;display:block;}
.teapart3-main{width:1180px;padding:90px 200px 0 0;height:511px;margin:0 auto;margin-top:50px;background:url(../image/xdtea_part4img.png)no-repeat 7px top;} 
/* 改 */
.tea-part4txt{text-align:right;}
.tea-part4txt p{font-size:16px;color:#333;margin-bottom:18px}
.tea-part4txt p span{width:12px;height:12px;display:inline-block;border-radius:12px;background-color:#f43939;margin-right:8px}
.tea-part4txt p label{color:#f43939;}.tea-part4txt p:nth-child(4){margin-bottom:30px}.tea-part4txt p:nth-child(5),.tea-part4txt p:nth-child(6){font-size:14px;color:#999;margin-bottom:3px}
/*名师end*/
/*课程*/
.course-part1{width:100%;height:800px;background:#f7f7f7 url(../image/course_pic1.png)no-repeat center center}
.course-part2{padding:67px 0 60px}
.coursedotted{margin:0 auto;margin-top:30px;margin-bottom:15px}
.coursesubject-wrap{width:1180px;height:500px;margin:0 auto;}
.coursesubject-wrap:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.coursesubject1,.coursesubject2,.coursesubject3{width:380px;height:500px;float:left;}
.coursesubject1,.coursesubject2{margin-right:20px }
.coursesubject1-title,.coursesubject2-title,.coursesubject3-title{height:60px;text-align:center;font-size:26px;line-height:60px;border-radius:10px 10px 0 0}
.coursesubject1-title{background-color:#ffe2d7;color:#ff6f37}.coursesubject2-title{background-color:#ddeefb;color:#6594f5}.coursesubject3-title{background-color:#dcf1f1;color:#4fbab7 }
.coursesubject-main{padding:34px 19px 33px 19px;width:380px;border:dashed 1px #d2d2d2;border-radius:0 0 10px 10px}
.coursesubject-ul{height:239px}
.coursesubject-ul li{float:left;width:100px;height:48px;border-radius:10px;font-size:20px;text-align:center;line-height:48px;margin-right:20px;margin-bottom:30px;}
.coursesubject-ul li:nth-child(3n){margin-right:0}
.coursesubject1-ul li{background-color:#ffe2d7 ;color:#ff6f37}.coursesubject2-ul li{background-color:#ddeefb;color:#57a8ed}.coursesubject3-ul li{background-color:#dcf1f1;color:#4fbab7}
.coursesubject1_link,.coursesubject2_link,.coursesubject3_link{width:180px;height:60px;display:block;text-align:center;line-height:60px;font-size:24px;color:#fff;border-radius:5px;cursor:pointer;margin:0 auto }
.coursesubject1_link{background-color:#ff6f37;}.coursesubject2_link{background-color:#57a8ed;}.coursesubject3_link{background-color:#4fbab7;}
.coursesubject-ft{font-size:20px;text-align:center;color:#666;margin-top:29px }
.course-part3{padding:67px 0 80px;background-color:#f7f7f7}
.course-part3main{width:1180px;margin:0 auto;margin-top:40px}
.course-part3main:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.coursepart3-item{width:280px;height:160px;font-size:26px;font-weight:bold;text-align:center;line-height:160px;float:left;margin-right:55px;border-radius:10px}
.coursepart3-item1{background-color:#ffe2d7;color:#ff6f37;}.coursepart3-item2{background-color:#ddeefb;color:#57a8ed;}
.coursepart3-item3{margin-right:0}
.coursepart3-arrow{float:left;margin-right:55px;margin-top:56px}
.coursepart3-item-med{padding-left:438px;height:148px;font-size:26px;color:#666;line-height:148px; }
.coursepart3-item-med span{color:#ff6f37; }.coursepart3-arrow3{float:right;margin-right:116px;margin-top:44px}
.coursepart3-arrow2{margin-top:22px }
.course-part4{padding:230px 0 10px;width:1180px;margin:0 auto;background:url(../image/coursepart4_people.png)no-repeat 68px 78px;}
.course-part4 ul:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.course-part4 ul li{width:380px;height:280px;padding:40px 40px 0;background-color:#f7f7f7;float:left;margin-right:20px;margin-bottom:70px;border-radius:10px;text-align:center; }
.course-part4 ul li:nth-child(3n){margin-right:0}
#nobgcolor{background:none}
.course-part4 li span{height:59px;text-align:center;font-size:26px;font-weight:bold;color:#57a8ed;border-bottom:solid 2px #57a8ed;line-height:46px;margin:0 auto;padding:5px 0 6px}
.course-part4 li:nth-child(2) span,.course-part4 li:nth-child(3) span{color:#ff6f37;border-bottom:solid 2px #ff6f37;}
.course-part4 li:nth-child(2) span,.course-part4 li:nth-child(5) span{display:block;width:127px;padding:0}
.course-part4 li p{font-size:16px;line-height:25px;color:#666;text-align:left;margin-top:43px}
.course-part5{padding-top:67px;height:1117px;background:#f7f7f7 url(../image/course_part5bg.png)no-repeat center center;}
.course-part5img{display: block;margin:0 auto;margin-top:36px}
.course-part6{padding:67px 0 96px;position:relative;}
.course-part6main{width:1180px;margin:0 auto;margin-top:80px;background:url(../image/coursepart6bg.png)no-repeat 110px 243px;}
.course-part6main:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.course-part6item{width:280px;height:280px;padding:14px 40px 0;background:url(../image/coursepart6itembg.png) no-repeat;text-align:center;float:left;margin-right:70px;margin-bottom:40px }
.course-part6item span{font-size:80px;color:#ff6f37;}
.course-part6item p:nth-child(2){font-size:26px;color:#ff6f37;margin-bottom:4px;margin-top:-8px}
.course-part6item p:nth-child(3){font-size:16px;color:#666;text-align:left;}
.course-part6item4{margin-left:156px }.course-part6item6{margin-right:0 }
/*课程end*/
/*如何上课*/
.howclass-part2,.howclass-part3{padding:81px 0 90px}.howclass-part4{padding:81px 0 86px}
.howclass-part1{width:100%;height:460px;background:#fafafa url(../image/xdhowclass_banner.jpg)no-repeat center top;}
.howclass-part2item{width:580px;float:left;margin-top:68px}.howclass-part2item1{margin-right:20px}
.howclass-part2txt label{font-size:40px;color:#f88888;float:left;margin-right:28px}
.howclass-part2txtinfo{float:left;}
.howclass-part2txtinfo span{display:block;font-size:16px;color:#333;margin-bottom:13px;padding-top:4px}
.howclass-part2txtinfo p{font-size:14px;color:#999;line-height:22px}
.xdhowclass-part2img1{margin:46px 0 0 66px}.xdhowclass-part2img2{margin:73px 0 0 53px}
/*.howclass-part3main{margin-top:76px}*/
.howclass-part3txt{width:540px;padding:60px 0 0 60px;float:left;}.howclass-part3 img{float:left;}
.howclass-part3txt span{display:block;font-size:16px;color:#333;margin-bottom:6px}
.howclass-part3txt p{font-size:14px;color:#999;margin-bottom:17px}
.howclass-part4 ul{/*width:1180px;margin:0 auto;*/margin-top:68px}
.howclass-part4 ul li{width:380px;float:left;margin-right:20px}
.howclass-part4 ul li:last-child{margin-right:0;height:200px;padding-top:12px}
.howclass-part4 ul li .howclass-part4img{height:200px;margin-bottom:16px}
.howclass-part4img img{display: block;margin:0 auto}
.howclass-part4 ul li span{display:block;font-size:16px;color:#333;margin-bottom:20px;text-align:center;}
.howclass-part4 ul li p{font-size:14px;color:#999;line-height:20px;}
.howclass-part4 ul li:nth-child(1) p{padding-left:76px}
.howclass-part4 ul li:nth-child(2) p{padding-left:70px}
.howclass-part4 ul li:nth-child(3) p{padding-left:97px}
/*如何上课end*/
/*高中*/
.highstage-part2,.highstage-part3,.highstage-part4,.highstage-part5,.primarystage-part2{padding:81px 0 90px}
.highstage-part2btn{margin:0 auto;margin-top:80px}.highstage-part5btn{margin:0 auto;margin-top:76px}
.highstage-part1{width:100%;height:460px;background:url(../image/xdhigh_banner.jpg)no-repeat center top;}
.highstage-part1main{width:1180px;height:460px;margin:0 auto;padding:244px 0 0 120px}
.highstage-part1btn{width:180px}
.highstage-part2main{width:1180px;height:451px;padding:60px 0 0 638px;margin:0 auto;background:url(../image/xdhigh_part2img.png)no-repeat 133px center;margin-top:76px}
.highstage-part2item{margin-bottom:33px}
.highstage-part2item span{display:block;font-size:18px;color:#333;margin-bottom:13px}
.highstage-part2item span label{color:#f43939}
.highstage-part2item p{font-size:14px;color:#999;}
.highstage-part4 ul{width:920px;margin:0 auto;margin-top:76px}
.highstage-part4 ul li{width:280px;height:164px;float:left;padding-top:28px;margin-right:40px;border-top:solid 4px #f88888;background-color:#fff;border-radius:0 0 10px 10px;box-shadow:0 5px 8px rgba(6,0,1,0.08)}
.highstage-part4 ul li:last-child,.highstage-part5 ul li:last-child{margin-right:0}
.highstage-part4 ul li span{display:block;font-size:18px;color:#f43939;text-align:center;margin-bottom:16px}
.highstage-part4 ul li label{display:block;width:40px;height:2px;background-color:#f66161;margin:0 auto;margin-bottom:16px}
.highstage-part4 ul li p{font-size:14px;color:#999;padding:0 20px}
/*.highstage-part5 ul{margin-top:76px}*/
.highstage-part5 ul li{width:180px;float:left;margin-right:70px;}
.highstage-part5 ul li img{display: block;margin:0 auto;margin-bottom:26px}
.highstage-part5 ul li span{display:block;font-size:16px;color:#333;text-align:center;margin-bottom:8px}
.highstage-part5 ul li p{font-size:14px;color:#999;line-height:20px}
/*高中end*/
/*初中*/
.juniorstage-part1{width:100%;height:460px;background:url(../image/xdjunior_banner.jpg)no-repeat center top;}
.juniorstage-part1main{width:1180px;height:460px;margin:0 auto;padding:266px 0 0 120px}
.juniorstage-part2main{width:1180px;height:451px;padding:60px 0 0 638px;margin:0 auto;background:url(../image/xdjunior_part2img.png)no-repeat 133px center;margin-top:76px}
/*初中end*/
/*小学*/
.primarystage-part1{width:100%;height:460px;background:url(../image/xdprimary_banner.jpg)no-repeat center top;}
.primarystage-part1main{width:1180px;height:460px;margin:0 auto;padding:244px 0 0 582px}
.primarystage-part2main{width:1068px;height:451px;margin:0 auto;background:url(../image/xdprimary_part2img.png)no-repeat center center;margin-top:76px}
.primarystage-part2item{width:220px;}
.primarystage-part2item span{display:block;font-size:18px;color:#333;margin-bottom:9px}.primarystage-part2item span label{color:#f43939;}
.primarystage-part2item p{font-size:14px;color:#999;}
.primarystage-part2item1{float:left;margin-bottom:73px;margin-top:60px}
.primarystage-part2item2{float:right;margin-bottom:73px;margin-top:60px}
.primarystage-part2item3{float:left;}.primarystage-part2item4{float:right;}
.primarystage-part2item2 span,.primarystage-part2item4 span{text-align:right;}
/*小学end*/
/*外教*/
.foreign-part1{width:100%;height:460px;background:url(../image/xdforeigntea_banner.jpg)no-repeat center top;}
.foreign-part1main{width:1190px;height:460px;margin:0 auto;padding:313px 0 0 94px}
.common-padding{padding:81px 0 90px}
.p-left ul li p {text-align:left;padding:0 15px}
.foreigntea-part2img5{margin:90px auto 0;}
.foreign-part2btn{margin:0 auto;margin-top:80px}
.foreign-part3 ul li{height:430px}
.foreign-part3 ul li img{display: block;margin:0 auto;margin-bottom:5px}
.foreign-part3 ul li span:nth-child(4){font-size:14px;color:#333;margin-bottom:13px}
.foreignpart4-main{width:1180px;height:596px;margin:0 auto;margin-top:76px;position:relative;}
#swiper{height:596px}
.foreignpart4-wrap{width:934px;margin:0 auto;}
.foreignpart4-wrap li{width:294px;float:left;margin-right:26px;}
.foreignpart4-wrap li:last-child{margin-right:0}
.foreignpart4-wrap .foreignpart4-item{width:280px;padding:20px 20px;margin:0 auto;margin-top:6px;border-radius:10px;background-color:#fff;box-shadow:0 3px 8px rgba(6,0,1,0.1)}
.foreignpart4-wrap .foreignpart4-item span{font-size:18px;display:block;text-align:center;margin-bottom:16px}
.foreignpart4-wrap .foreignpart4-item p{font-size:14px;color:#999;line-height:20px}
.foreignpart4-process{margin-top:57px}
.foreignpart4-process>p{font-size:18px;text-align:center;margin-bottom:37px}
.foreignpart4-process ul li{width:100px;float:left;margin-right:8px;text-align:center;font-size:16px;color:#333}
.foreignpart4-process ul li span{display:block;margin-top:16px}
.foreignpart4-process ul li:last-child{margin-right:0}
.foreignpart4-process ul li:nth-child(2n) img{margin-top:42px}
.foreignpart4-left{width:394px;float:left;padding-left:40px}
.foreignpart4-left span{font-size:18px;color:#333;display:block;margin-bottom:13px}
.foreignpart4-left p{font-size:14px;color:#999;line-height:20px}
.foreignpart4-mid{float:left;width:412px;margin-right:32px}.foreignpart4-mid img:nth-child(1){margin-bottom:18px}
.foreignpart4-right{float:left;}.foreignpart4-right img{border-radius:10px;box-shadow:0 3px 8px rgba(6,0,1,0.08)}
/*轮播*/
#foreignpart4-main .swiper-pagination{text-align:left;}
#foreignpart4-main .swiper-pagination-bullets .swiper-pagination-bullet{margin:0 91px}
#foreignpart4-main .swiper-pagination-bullet{width:70px;height:62px;display:inline-block;font-size:20px;color:#666;text-align:center;border-radius:0;background:none;opacity:1;box-sizing:border-box;-webkit-box-sizing:border-box;}
#foreignpart4-main .swiper-pagination-bullet label{width:30px;height:30px;padding-top:8px;display:block;margin:0 auto;margin-bottom:9px;border-radius:30px;background-color:rgba(244,57,57,0.1);}
#foreignpart4-main .swiper-pagination-bullet label i{width:14px;height:14px;margin:0 auto;display:block;border-radius:30px;background-color:none;}
#foreignpart4-main .swiper-pagination-bullet-active label i{background-color:rgba(244,57,57,0.5);}
#foreignpart4-main .swiper-pagination-bullet-active{color:#f43939}
#foreignpart4-main .swiper-pagination-bullets{width:506px;left:337px ;bottom:auto;top:-122px;background:url(../image/swiper_pagebg.png)no-repeat center 10px;}
#foreignpart4-main .swiper-wrapper .swiper-slide{background-color:#fff}
/*轮播end*/
.foreign-subtitle{font-size:20px;color:#333;text-align:center;margin-top:71px}
.foreign-subtitle span{color:#f43939}
.foreign-part5{width:100%;position:relative;height:746px;padding-top:81px;background:#fafafa url(../image/xdforeigntea_part5bg.jpg) no-repeat center top;}
/*外教end*/
/*教师资格认证公式*/
.tealist-banner{background-color:#fbf1f1;padding:43px 0 21px;text-align:center;}
.tealist-banner span{font-size:42px;color:#333;font-weight:bold;}
.tealist-banner p{font-size:24px;color:#f66161;margin-top:5px;}
.tealist-banner img{display: block;margin:0 auto;margin-top:21px}
.tealist-wrap{padding:90px 0 60px}
.tealist-wrap ul li{width:180px;float:left;padding:20px 0 16px;text-align:center;margin-right:20px;margin-bottom:32px;box-shadow:0 3px 8px rgba(6,0,1,0.08);border-radius:10px}
.tealist-wrap ul li:nth-child(6n){margin-right:0}
.tealist-wrap ul li .tealist-avatar{width:140px;height:140px;margin:0 auto;border-radius:100%;background-color:#fafafa;background-repeat:no-repeat;background-position:center center;background-size:cover}
.tealist-wrap ul li span{font-size:18px;color:#333;display:block;margin-bottom:7px;margin-top:13px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tealist-wrap ul li p{font-size:12px;color:#999;line-height:18px}
.tealist-pagination{padding-bottom:80px}
/*教师资格认证公式end*/
/*常见问题和反馈*/
.text-center{text-align: center;}
.issue-wrap{padding: 56px 0 109px;color: #333;}
.issue-title-lg{font-size: 20px;margin-bottom: 47px;font-weight: bold;}
.issue-list{padding:0 240px;font-size: 14px;line-height: 34px;}
.issue-title{display: block;font-weight: bold;}
.issue-item p{text-indent:2em}
.feedback-list{line-height: 24px;}
.feedback-item{margin-bottom: 50px}
/* 下载客户端 */
.instal-content{
  width: 1200px;
  margin: 0 auto;
  padding: 56px 0 146px;
  position: relative;
  overflow: hidden;
}
.instal-content .tab-content{
  padding-left: 30px;
  margin-top: 74px;
}
.instal-content .xdo-nav-tabs{
  padding-left: 124px;
}
.instal-content .xdo-nav-tabs > li > a{
  font-size: 20px;
  color: #333;
  margin-right: 66px;
}
.instal-content .xdo-nav-tabs > li.active > a{
  color: #f43939;
  border-bottom: solid 4px #f43939;
  padding-bottom: 6px;
}
.instal-main{
  font-size: 0;
}
.instal-img{
  position: absolute;
  top: 137px;
  right:-55px;
}
.instal-title{
  font-size: 30px;
  margin-bottom: 36px;
}
.instal-item-img{
  width: 24px;
  height: 24px;
  float: left;
  margin-top: 12px;
  margin-right: 16px;
}
.instal-item-img img{
  display: block;
  margin: 0 auto;
}
.instal-item span{
  width: 150px;
  display: inline-block;
  font-size: 16px;
  color: #666;
}
.instal-item a{
  margin-right: 12px;
}
.instal-item a.invalid{
  margin-right: 12px;
  color:#787878;
  border-color:#787878;
  cursor: default;
}
.instal-item a.invalid:hover{
  background-color:transparent;
}
.instal-item{
  margin-bottom: 24px;
}
#tab2 .instal-main{
  padding-bottom: 70px;
}
.classindown{
  position: relative;
  display: inline-block;
  margin-right: 12px;
}
.classindown .classindowncode{
  display:none;
  position:absolute;
  left:50%;
  margin-left:-75px;
  top:100%;
  padding-top:4px;
  z-index: 100;
}
.classindown .classindowncode img{
  width: 150px;
  height: 150px;
} 
/* 下载客户端 end*/