
/*滚动*/
#live-banner .swiper-container{width:100%;height:440px;}
#live-banner .swiper-pagination-bullets{
    bottom: 20px;
}
#live-banner .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}
#live-banner .swiper-pagination-bullet {
    width: 32px;
    height: 5px;
    background: #fff;
    border-radius: 0;
    opacity: 0.6;
}
#live-banner .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}
#live-banner .swiper-slide a{display:block;width:100%;height:100%}
/*滚动end*/
/* .liveclass-content{
    padding-bottom:47px
} */
.morelive-content .liveclass-content{
    padding-top:42px
}
.liveclass-select{
    padding:24px 0 22px;
}
.liveclass-select dl{
    margin-bottom: 10px;
}
.liveclass-select dl dt{
    float: left;
    margin-right: 14px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
}
.liveclass-select dl dd{
    position: relative;
    float: left;
    padding:0 16px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
    cursor: pointer;
}
.liveclass-select dl:first-child dd:nth-last-of-type(7),.liveclass-select dl:first-child dd:nth-last-of-type(10){
    margin-right: 20px;
}
.liveclass-select dl:first-child dd:nth-last-of-type(7):after,.liveclass-select dl:first-child dd:nth-last-of-type(10):after{
    content:'';
    width: 1px;
    height: 20px;
    background-color: #d8d8d8;
    position: absolute;
    left: 70px;
    top: 5px;

}
.liveclass-select dl dd:last-child,.liveclass-card .liveclass-teabox:last-child{
    margin-right: 0
}
.liveclass-select dl dd:hover{
    color: #f30000;
}
.liveclass-select dl dd.active{
    color: #fff;
    background-color: #f30000;
}
.liveclass-select dl dd a{
    color: #000;
}
.liveclass-select dl dd:hover a{
    color: #f30000;
}
.liveclass-select dl dd.active a{
    color: #fff;
}
.dd-wrap{
    float:left;
    width:1017px;
}
/* .dd-wrap dd:first-child{
    height:60px
} */
.liveclass-list{
    padding: 48px 0 12px;
}
.liveclass-list:nth-child(odd){
    background-color: #f9f9f9;
}
.liveclass-title{
    font-size: 24px;
    margin-bottom:32px;
    padding-left: 13px;
    background: url(../image/liveclass-titlebg.png)no-repeat center left;
    font-weight: 600;
}
.liveclass-title a{
    font-size: 14px;
    color:#999;
    padding-top: 16px;
}
.liveclass-title a:hover{
    color: #f43939;
}
.liveclass-card{
    position: relative;
    /* margin-bottom: 13px; */
}
.liveclass-card li{
    position: relative;
    width:336px;
    float: left;
    padding:20px 0;
    margin-right:46px;
    border-radius: 10px;
    margin-bottom:54px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: box-shadow, -webkit-transform 0.2s;
    transition: box-shadow, transform 0.2s;
}
.liveclass-card li:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}
.liveclass-card-top,.liveclass-card-footer{
    padding:0 24px 0 20px;
}
.liveclass-card li:nth-child(3n){
    margin-right:0
}
.liveclass-card .card-title{
    font-size: 18px;
    line-height: 26px;
    height:50px;
    overflow: hidden;
    margin-bottom: 0; /* 覆盖card.scss */
}
.liveclass-card .card-title .tag-black{
    margin-right: 12px;
}
.liveclass-card .card-time{
    display:block;
    height:20px;
    line-height: 20px;
    font-size: 14px;
    color: #6d6d6d;
    margin-top: 10px;
    
}
.liveclass-card .card-time label:nth-child(1){
    margin-left:12px;
}
.liveclass-card .card-time label:nth-child(2){
    margin-left:8px;
}
.liveclass-card .liveclass-tealist{
    height:47px;
    margin-top:17px;
}
.liveclass-card .liveclass-teabox{
    float: left;
    font-size: 0;
    /* font-size: 12px;
    color: #666; */
    margin-right: 26px;
}
/* .liveclass-tealist .liveclass-teabox:nth-of-type(3) + .liveclass-teabox{
    display: none;
} */
.liveclass-tealist .liveclass-teabox:nth-of-type(3) ,.liveclass-tealist .liveclass-teabox:nth-of-type(4){
    display: none;
}
.liveclass-card .liveclass-teabox .teahead{
    width:34px;
    height:34px;
    display: inline-block;
    vertical-align: middle;
    /* float: left; */
    margin-right: 8px;
}
.liveclass-card .liveclass-teabox .teahead-name{
    display: inline-block;
    vertical-align: middle;
    /* float: left; */
}
.liveclass-card .liveclass-teabox .teahead-name span{
    font-size: 12px;
    line-height:17px;
    color: #666;
}
.liveclass-card .liveclass-teabox .teahead-name p{
    font-size: 10px;
    line-height:14px;
    color: #b2b2b2;
}
.liveclass-card .liveclass-card-footer{
    display:flex;
    display:-webkit-flex;
    flex-direction:column-reverse;
    position: relative;
    /* border-top: solid 1px #e4e2e2; */
    height: 26px;
}
.liveclass-card-footer .cardfooter-left p{
    font-size: 12px;
    color: #727272;
    line-height: 17px;
}
.liveclass-card-footer .cardfooter-right p{
    font-size: 12px;
    color: #959595;
    position: absolute; 
    right: 24px;
    bottom: 0px;
}
span.underline{
    text-decoration: line-through;
}
.liveclass-card-footer .cardfooter-right p span.fontlg{
    font-size: 22px;
    font-family: DINNextLTPro-Medium;
}
.liveclass-card-footer .cardfooter-right .tag-red{
    position: absolute;
    right: 24px;
    bottom:30px 
}
.liveclass-card .liveclass-more{
    position: absolute;
    width: 10px;
    height: 80px;
    right: -32px;
    top: 50%;
    margin-top: 65px;
    font-size: 10px;
    cursor: pointer;
}
.liveclass-card li.liveclass-card-cover{
    width: 336px;
    height: 210px;
    padding: 0;
    overflow: hidden;
}
.liveclass-card li.liveclass-card-cover img{
    width: 336px;
    height: 210px;
}
.liveclass-list .liveclass-card li:nth-child(7),.liveclass-list .liveclass-card li:nth-child(8){
    display: none;
}
.morelive-title{
    font-size: 38px;
    color: #343A48;
    font-weight: 600;
}
.morelive-title a{
    font-size: 26px;
    color: #7a869a;
    margin-right: 13px;
    vertical-align: middle;
}
.morelive-pagination{
    margin:0 0 75px;
}
.morelive-content .liveclass-content .liveclass-select{
    margin-bottom: 34px;
}
/* 详情页 */
.classdetail-top{
    padding:60px 0
}
.classdetail-img{
    width: 600px;
    height:380px;
    float: left;
    background-color: #fafafa;
    margin-right: 40px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.classdetail-info{
    float: left;
    width:540px
}
.classdetail-info .classdetail-title{
    font-size: 22px;
    min-height: 156px;
}
.classdetail-info .classdetail-title .tag-lg{
    margin-right:12px;
}
.classdetail-info .classdetail-title .tag-lg{
    vertical-align: bottom;
}
.classdetail-info .classdetail-title p{
    line-height:26px;
}
.classdetail-info .classdetail-title p:first-child{
    margin-bottom: 5px;
    line-height:38px;
}
.classdetail-info .classdetail-title p span{
    margin-right: 8px;
}
.classdetail-tea{
    padding-left:32px;
    min-height: 80px;
}
.classdetail-tea .liveclass-teabox{
    float: left;
    font-size: 12px;
    color: #666;
    margin-right: 20px;
    text-align: center;
}
.classdetail-tea .liveclass-teabox .teahead{
    width:40px;
    height:40px;
    margin-bottom: 3px;
}
.classdetail-money{
    font-size:32px;
    color:#f43939;
    position: relative;
    height: 42px;
}
.classdetail-money span.underline{
    margin-left: 8px
}
.classdetail-money .tag-red{
    position: absolute;
    bottom: 7px;
    margin-left: 16px;
}
.classdetail-btnwrap{
    margin-top: 40px;
    font-size: 0;
}
.classdetail-btnwrap button,.classdetail-btnwrap a,.classdetail-btnwrap div{
    display: inline-block;
    margin-right: 20px;
}
.classdetail-btnwrap span{
    vertical-align: bottom;
    margin-left: 4px;
}
.classdetail-bottom-content{
    padding:40px 0 80px;
    background-color: #fafafa;
}
.single-class-box{
    padding:20px 24px 22px 22px;
    background-color: #fff
}
.single-class-box + .classdetail-bottom,.package-class-box + .classdetail-bottom{
    margin-top:40px
 }
.single-class-box #tab-t{
    display: flex;
    display: -webkit-flex;
 }
.single-class-box #tab-t li{
    max-width:300px;
    /* float: left; */
    font-size: 18px;
    margin-right:78px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.single-class-box #tab-t li:last-child{
    margin-right: 0;
}
.single-class-box #tab-t li.tab-act{
    color:#f43939;
    padding-bottom:6px;
    border-bottom: solid 4px #f43939;
}
.single-class{
    width:280px;/* 275 */
    float: left;
    border-left: solid 5px #feebeb;
    border-radius: 10px

}
.single-class-border{
    padding: 18px 24px 0 12px ;
    height: 142px; /* 124 */
    border-left: solid 5px #fef5f5;
}
.single-class-border>p{
    font-size: 18px;
    color: #333;
    line-height: 28px;
    min-height: 72px;
}
.single-class-footer label{
    float: left;
    margin-top: 10px;
}
.single-class-footer p{
    float: right;
    font-size: 26px;
    color: #f43939;
}
.swiper-wrap .package-add{
    float: left;
    margin:60px 0 0 10px;
}
/*套餐滚动*/
.swiper-wrap{
    position: relative;
    width: 930px;/* 920px 950px */
    float: left;
}
.swiper-wrap .swiper-container{
    margin:2px 0 0 0;
    padding-top:10px;
    padding-right:10px;
    height: 162px; /* 152 */
}
.swiper-wrap .swiper-container .swiper-slide{
    width:310px
}
.swiper-wrap .swiper-container .swiper-slide:last-child{
    width:280px
}
.swiper-wrap .swiper-button-next{
    width:48px;
    height:48px;
    right:-10px;
    background:url(../image/package_next.png)no-repeat center center;
    margin-top:-20px;
}
.swiper-wrap .swiper-button-prev{
    width:48px;
    height:48px;
    left:-22px;
    background:url(../image/package_prev.png)no-repeat center center;
    margin-top:-20px;
}
.swiper-wrap  .swiper-button-next.swiper-button-disabled, .swiper-wrap  .swiper-button-prev.swiper-button-disabled{
    display: none;
}
/*套餐滚动end*/
.single-class-right{
    position: relative;
    width: 180px;
    float: right;
    text-align: center;
    padding-top: 60px;
}
.single-class-right p{
    font-size: 24px;
    color: #f43939;
    margin-bottom: 15px
}
.single-class-right .tag-wrap{
    width:100%;
    position: absolute;
    right: 0;
    bottom: 107px;
}
.single-class-box section>p.font12-6{
    padding-right:26px;
    margin-top: -3px;
}
.classdetail-bottom-left{
    width: 896px;
    float: left;
    background-color: #fff;
}
.bordergray-scale-1px{
position: relative;
}
.bordergray-scale-1px::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e4e2e2;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.classdetail-bottom-left #tab-t-1{
    padding-top: 34px;
    padding-left: 87px;
}
.classdetail-bottom-left #tab-t-1 li{
    display:inline-block;
    width: 80px;
    font-size: 18px;
    margin-right: 70px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
}
.classdetail-bottom-left #tab-t-1 li.tab-act{
    color:#f43939;
    border-bottom: solid 4px #f43939;
}
.classdetail-bottom-left #tab-c-1{
    padding-bottom: 20px
}
.classdetail-bottom-outline{
    padding:30px 48px 60px 48px;
}
.classdetail-bottom-outline>ul>li{
    font-size: 16px;
    color: #333;
    line-height: 46px;
}
label.number-1{
    width:24px;
    height:24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #f43939;
    background-color: #feebeb;
    border-radius: 100%;
    margin-right: 12px;
}
label.number-2{
    width:18px;
    height:18px;
    display:inline-block;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    color: #f43939;
    border: solid 1px #f43939;
    border-radius: 100%;
    margin-right: 12px;
}
.classdetail-bottom-outline>ul>li ul{
    padding-left: 36px;
}
.classdetail-bottom-outline>ul>li li{
    font-size: 14px;
    color: #666;
    border-bottom: solid 1px #e4e2e2;
}
.classdetail-bottom-outline>ul>li li p{
    max-width: 576px;
}
.classdetail-bottom-outline>ul>li li button{
    margin-right:24px;
}
.classdetail-bottom-detail{
   padding:38px 22px 80px; 
   font-size:14px;
   line-height: 24px;
   color:#666;
}
.classdetail-bottom-detail>p{
    margin-bottom: 24px;
}
.classdetail-bottom-detail img{
    max-width: 848px;
    height: auto;
    display: block;
    margin:0 auto
}
.classdetail-bottom-detail img + .detail-txt{
    margin-top: 80px;
}
.detail-txt-titlelg{
    font-size: 18px;
    padding-left: 12px;
    background:url(../image/select_bg.png) no-repeat left center;
    margin-bottom: 16px;
}
.detail-txt .detail-txt-box {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-bottom: 24px;
    padding-left: 12px
}
.classdetail-bottom-tea{
    padding:40px 24px;
}
.classdetail-teabox{
    margin-bottom:58px; 
}
.classdetail-teabox .teahead-wrap{
    margin-bottom: 18px
}
.classdetail-teabox .teahead{
    width: 90px;
    height: 90px;
    float: left;
}
.classdetail-teabox p{
    float: left;
    padding-top: 24px;
    margin-left: 20px;
    max-width: 730px;
}
.classdetail-teabox .classdetail-teabox-info{
    line-height: 24px;
    /* white-space:pre-line; */
}
.classdetail-bottom-right{
    width: 280px; /*232*/
    padding:40px 24px;
    background-color: #fff;
    float: right;
}
.classdetail-bottom-right p:first-child{
    margin-bottom: 50px
}
.classdetail-bottom-right .icon-box{
    margin-bottom: 22px;
    font-size:12px;
}
.classdetail-bottom-right .icon-box img{
    float: left;
    margin-right: 20px
}
.classdetail-bottom-right .icon-box-txt{
    width: 152px;
    float: left;
}
.classdetail-bottom-right .icon-box-txt p{
    font-size: 12px;
    color:#999;
    line-height: 18px
}
.classdetail-bottom-right .icon-box-txt a{
    margin:2px 0 3px
}
.classdetail-bottom-right button{
    display: block;
    margin: 16px auto 0;
}
.package-class-box{
    padding: 24px 22px 4px;
    background-color: #fff;
}
.package-class-box .detail-txt-titlelg{
    margin-left:2px;
}
.package-class-box ul li{
    float:left;
    border-top:solid 5px #feebeb;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 24px;
}
.package-class-box ul li:nth-child(3n),#outline-tab-t li:last-child{
    margin-right:0;
}
.package-class-box ul li .package-class{
    padding:8px 24px 17px 24px;
    border-top:solid 5px #fef5f5;
    width: 372px; /* 324 */
}
.package-class>p{
    font-size: 18px;
    color: #333;
    line-height: 28px;
    height:56px;
    overflow: hidden;
}
.package-class-footer{
    margin-top:42px;
}
.package-class-teawrap{
    width: 190px;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
}
.package-class-tea{
   font-size: 0;
   margin-right: 20px;
   /* text-align: center; */
   flex-shrink:0;
   flex-grow:0;
}
.package-class-tea:last-child{
    margin-right:0
 }
.package-class-tea .teahead{
    width: 40px;
    height:40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.package-class-tea .teahead-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}
/* .package-class-tea p{
    font-size:12px;
    color: #666;
    text-align: center
} */
.package-class-money{
    position: relative;
    padding-top: 12px;
}
.package-class-money p{
    font-size: 26px;
    color: #f43939;
    vertical-align: bottom;
    min-width: 100px;
    text-align: right;
}
.package-class-money label{
    position: absolute;
    right: 0;
    bottom:39px
}
#outline-tab-t{
    padding:40px 24px 56px
}
#outline-tab-t li{
    width: 100%;
    height: 60px; /* 56 */
    line-height: 60px;
    background-color: #f5f5f5;
    border-bottom: solid 4px #f5f5f5;
    font-size: 16px;
    color:#666;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
#outline-tab-t li.tab-act{
    color: #f43939;
    background-color: #fef5f5;
    border-bottom: solid 4px #faabab;
    position: relative;
}
#outline-tab-t li.tab-act::after{
    content: '';
    position: absolute;
    left: 50%;
    margin-left:-9px;
    top:100%;
    width: 0;
    height: 0;
    border-width:10px;
    border-style: solid;
    border-color:#faabab transparent transparent transparent;
}
label.tag-outline{
   height: 48px;
   padding:8px 20px 9px;
   line-height: 48px;
   text-align: center;
   font-size: 24px;
   color: #f66161;
   font-weight: bold;
   background-color: #fef5f5; 
   border-radius: 5px;
}
/* 新课程详情页 */
.course-detail-new-top{
    position: relative;
    background: #f0f7fd url(../image/detailnew_topbg1.png) no-repeat top left;
}
.course-detail-new-topmain{
    position: relative;
    padding: 50px 0 90px;
    background: url(../image/detailnew_topbg2.png) no-repeat bottom 0 left 447px;
}
.course-detail-title{
    width: 690px;
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
}
.course-detail-title .tag-black-lg{
    vertical-align: bottom;
}
.course-detail-info1{
    color: #868686;
    margin-top: 23px;
}
.course-detail-info2{
    color: #868686;
    margin-top: 12px;
}
.course-detail-applybox{
    position: absolute;
    right: 0;
    bottom: -66px;
    padding: 28px 22px 38px;
    background: #fff;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.13);
    border-radius: 7px;
}
.course-detail-price{
    font-family: DINNextLTPro-Medium;
}
.course-detail-applybox .underline{
    font-size: 22px;
    color: #9B9B9B;
}
.course-detail-applybox-tag{
    padding: 1px 6px;
    background: #FFCC4F;
    border-radius: 6px 0px 6px 0px;
    font-size: 12px;
    color: #000;
}
.course-detail-num{
    width: 290px;
    height: 38px;
    line-height: 38px;
    background: #fff7f7;
    padding-left: 12px;
    margin-top: 22px;
}
.course-detail-num img{
    margin-right: 9px;
    vertical-align: middle;
}
.course-detail-btn{
    width: 290px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    border-radius: 28px;
    margin-top: 36px;
}
.course-detail-teawrap{
    margin-top: 56px;
}
.course-detail-tealist{
    width: 920px;
    display: flex;
    margin-top: 26px;
    flex-wrap: wrap;
}
.course-detail-tea{
    margin-right: 92px;
    margin-bottom: 30px;
    flex-shrink:0
}
.course-detail-tea .teahead{
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin-right: 12px;
}
.course-detail-tea .tea-name{
    display: inline-block;
    vertical-align: middle;
}
.course-detail-tea .tea-name p{
    margin-top: 9px;
}
.course-detail-tea .tea-name span label{
    font-size: 10px;
    color: #fff;
    padding: 4px;
    background: #F00000;
    border-radius: 6px 2px 6px 2px;
    margin-left: 8px;
}
.course-detail-tea .tea-name p label{
    font-size: 12px;
    color: #323232;
    padding: 2px;
    background: #F4F4F4;
    border-radius: 6px 2px 6px 2px;
    margin-right: 12px;
}
.course-detail-tea .tea-name span label img{
    margin-right: 2px;
}
.course-detail-outlinewrap{
    margin-top: 69px;
}
.course-detail-head{
    font-size: 28px;
    color: #343A48;
    font-weight: 600;
}
.course-outline-list{
    margin-top: 25px;
    padding-right: 350px;
    /* max-height: 511px; */
    overflow: hidden;
    transition: height 0.5s;
}
.course-outline-list .course-outline-item{
    display: flex;
    padding: 20px 0;
    border-bottom: solid 1px #E1E8ED;
}
.course-outline-list .course-outline-item:first-child{
    border-top: solid 1px #E1E8ED;
}
#more-outline .course-outline-item:first-child{
    border-top: none;
}
.course-outline-list .course-outline-item label{
    font-size: 20px;
    color: #798599;
    margin-right: 18px;
}
.course-outline-list .course-outline-item p{
    font-size: 20px;
    font-weight: 600;
    color: #343A48;
    margin-bottom: 5px;
}
.course-outline-list .course-outline-item span{
    font-size: 14px;
    color: #606878;
}
.more-outline{
    color: #000;
    display: block;
    margin-top: 25px;
    cursor: pointer;
}
.more-outline:hover,.more-outline:focus{
    color: #000;
}
.more-outline img{
    margin-left: 12px;
}
.course-detail-detailwrap{
    margin-top: 69px;
}
.course-detail-detail{
    padding-top:56px; 
    font-size:14px;
    line-height: 24px;
    color:#666;
}
.course-detail-detai img{
    max-width: 750px;
    height: auto;
    display: block;
}
/* 新课程详情页 end*/
/* 精品课首页 */
.chosenclass-card li{
    padding:24px 50px 24px 24px;
    border-radius: 10px;
    margin-bottom: 32px;
}
.chosenclass-card-img{
    width: 220px;
    height:140px;
    background-color: #fafafa;
    float: left;
    background-size:100% auto;
}
.chosenclass-card-center{
    margin:0 274px 0 252px;
}
.chosenclass-card-right{
    width: 180px;
    float:right;
    padding-top:16px;
    position: relative;
}
.chosenclass-card-right .tag-wrap {
    width: 100%;
    position: absolute;
    right: 0;
    top:-6px;
}
.chosenclass-card-right .font0{
    margin-bottom: 9px;
}
.chosenclass-card-right .font12-9{
    margin-top: 5px;
}
.chosenclass-card-right .fontlg{
    font-size:26px;
    position: relative;
}
.chosenclass-card-right .fontlg label{
    font-size:14px;
    color:#666;
    width: 100%;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    padding-left:4px;
    position: absolute;
    bottom:0;
    left:100%;
    text-align: left;
}
.chosenclass-card-center .card-title {
    margin-bottom:8px;
}
.chosenclass-card-center .card-title .tag-lg{
    vertical-align:middle;
    margin-right:12px;
}
.chosenclass-card-center .text-blue{
    margin-right:4px
}
.chosenclass-card-center .font14-9{
    line-height: 21px;
    margin-top: 17px;
}
.star-txt{
    margin-left:16px;
}
.star-bg{
    display: inline-block;
    width:100px;
    height:15px;
    background:url(../image/star.png) repeat-x;
    line-height: 15px;
}
.star {
    height: 100%;
    background: url(../image/star.png) repeat-x 0 -15px!important;
    display: inline-block;
}
.chosenclass-pagination{
    margin-top: 90px;
    margin-bottom: 80px;
}
/* 我的精品课 */
.mychosen-card li {
    width: 280px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 32px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: box-shadow, -webkit-transform 0.2s;
    transition: box-shadow, transform 0.2s;
}
.mychosen-card li:nth-child(4n){
    margin-right:0;
}
.mychosen-card .mychosen-card-top{ 
    padding:20px 24px 0
}
.mychosen-card .card-title{
    font-size:18px;
    line-height: 26px;
    height:68px;
    overflow: hidden;
}
.mychosen-card .liveclass-tealist{
    height:82px;
    margin-top:22px;
}
.mychosen-card .liveclass-teabox{
    float: left;
    font-size: 12px;
    color: #666;
    margin-right: 24px;
    text-align: center;
}
.mychosen-card .liveclass-teabox .teahead{
    width:40px;
    height:40px;
    margin-bottom: 3px;
}
.mychosen-card .mychosen-card-footer {
    height:56px;/* 55 */
    line-height: 55px;
    border-top: solid 1px #e4e2e2;
    font-size: 18px;
    cursor: pointer;

}
.mychosen-pagination{
    margin-top: 60px;
    margin-bottom:80px
}
/* 精品课播放 */
.chosen-playcontent{
    padding:55px 0 40px;
    background-color: #2f2d2d;
}
.chosen-play .video-left{
    width: 840px;
    float: left;
}
.chosen-play .video-right{
    width: 340px;
    float: left;
    background-color: #272525;
}
.chosen-play .video-title{
    width: 840px;
    font-size: 22px;
    color:#fff;
    margin-bottom: 29px;
}
.chosen-play .video-wrap{
    width: 840px;
    height: 470px;
    background-color: #5a5a5a;
}
.videomenu-title{
    font-size: 18px;
    padding-top: 16px;
    color:#fff;
}
.videomenu{
    padding:5px 20px 20px 20px;
    height: 430px;  /* 405 */
}
.videomenu ul{
    font-size:14px;
    line-height:24px;
    border-bottom: solid 1px #323232;
    color:#999;
    padding: 6px 0;
}
.videomenu ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.videomenu ul li a{
    color:#999;
}
.videomenu ul:last-child{
    border-bottom:none
}
.videomenu ul li:first-child{
    color:#fff;
}
.videomenu ul li.active a{
    color:#f43939;
}
.chosen-playdata{
    background-color:#fff;
    margin:40px auto 80px;
    padding:21px 22px 50px 22px;
}
.chosen-playdata .detail-txt-titlelg{
    margin-bottom: 11px
}
.chosen-playdata ul{
    padding-left: 12px;
    font-size: 14px;
    color:#999;
    line-height: 32px;
}
.chosen-playdata ul a{
    color:#999;
}
.chosen-playdata ul a:hover{
    color:#f43939;
}
.videomenu .mCSB_scrollTools{
    width: 6px;
}
.videomenu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 6px;
}
.videomenu .mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
}

.videomenu .mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: rgba(255,255,255,0.2);
}