.width100{
    width: 100%;
    height: 100%;
}
.mgTop1{
	margin-top: -1px;
}
.yivs1-part1{
    position: relative;
	z-index: 10;
}
.bgDots1{
	width: 3.9rem;
	height: 4.425rem;
	position: absolute;
	right: 0rem;
	bottom: -2.5rem;
}
.detail-11-plan-list{
	position: absolute;
	bottom: 4.7rem;
	left: 0.75rem;
}
.detail-11-plan-list-item{
	font-size:0.65rem;
	font-weight:600;
	color:#FEE0DC;
	margin-bottom: .2rem;
}
.detail-11-plan-list-item img{
	width: .7rem;
	height: .7rem;
	margin-right: .25rem;
}

.yivs1-part2{
    width: 100%;
    /* height: 20.45rem; */
    background:url(../image/1vs1/part2_bg.png)no-repeat top center;
    background-size: 100%;
    padding-top: 6.55rem;
    padding-bottom: 3.2rem;
    margin-top: -1px;
}
.yivs1-part2-item{
    display: flex;
    margin-bottom: 1.65rem;
    padding-right: 2.1rem;
}
.yivs1-part2-left{
    width: 2.8rem;
}
.yivs1-part2-right{
    width: calc(100% - 2.8rem);
    font-size: 0.65rem;
    color: #727783;
}
.part2-icon1{
    width: 1.05rem;
    height: 1.2rem;
}
.part2-icon2{
    width: 1.35rem;
    height: 1.35rem;
}
.part2-icon3{
    width: 1.5rem;
    height: 1.5rem;
}
.yivs1-part3{
    width: 100%;
    /* height: 26.45rem;
    background:url(../image/1vs1/part3_bg.png)no-repeat top center;
    background-size: 100% 100%; */
    background: #f2f3f7;
    /* padding-top: 4.15rem; */
    padding-bottom: 2.75rem;
}
.part3-bg{
    width: auto;
    height: 3.175rem;
    display: block;
} 
.yivs1-buttons-row{
    position: relative;
    width: calc(100% - 3.6rem);
    padding-top: .3rem;
}
.yivs1-buttons-row:after{
    content: '';
    position: absolute;
    width: 3.2rem;
    height: 1.75rem;
    background: url(../image/1vs1/part3_icon.png);
    background-size: 100% 100%;
    right: -3.6rem;
    bottom: 0;
    z-index: 1;
}
.yivs1-buttons-row .button{
    border-radius: 0;
    width: calc(100% / 3);
    height:1.75rem;
    border: none;
    border-color: #fd8774;
    background: #fd8774;
    color: #fff;
    font-size:0.75rem;
    line-height: 1.75rem;
    margin-right: 2.1rem;
    margin-left: -2px;
}
.yivs1-buttons-row .button:before{
    content: '';
    position: absolute;
    width: 2.1rem;
    height: 1.75rem;
    background: url(../image/1vs1/btn_left_nor.png);
    background-size: 100% 100%;
    left: -2.1rem;
    bottom: 0;
    z-index: 1;
}
.yivs1-buttons-row .button:after{
    content: '';
    position: absolute;
    width: 2.1rem;
    height: 1.75rem;
    background: url(../image/1vs1/btn_right_nor.png);
    background-size: 100% 100%;
    right: -2.05rem;
    bottom: 0;
    z-index: 2;
}
.yivs1-buttons-row .button.active:before{
    content: '';
    position: absolute;
    width: 2.1rem;
    height: 1.75rem;
    background: url(../image/1vs1/btn_left_pre.png);
    background-size: 100% 100%;
    left: -2.1rem;
    bottom: 0;
}
.yivs1-buttons-row .button.active:after{
    content: '';
    position: absolute;
    width: 2.1rem;
    height: 1.75rem;
    background: url(../image/1vs1/btn_right_pre.png);
    background-size: 100% 100%;
    right: -2.05rem;
    bottom: 0;
}
.yivs1-buttons-row .button.active {
    background-color: #fb5338;
    border-color: #fb5338;
}
.yivs1-buttons-row .button.active span{
    position: relative;
    line-height: 1.75rem;
    display: inline-block;
}
.yivs1-buttons-row .button.active span:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.15rem;
    background: #FFD527;
    border-radius: 0.15rem;
    left: 0;
    bottom: 0;
    right: 0;
}
.yivs1-buttons-row .button:last-child{
    margin-right: 0;
}
.yivs1-buttons-row .button:first-child {
    border-radius: 0;
}
.yivs1-buttons-row .button:first-child:before{
    display: none;
}
.yivs1-buttons-row .button:last-child {
    border-radius: 0;
}
.yivs1-tabs{
    background-color: #fff;
    border-top: solid 0.25rem #fb5338;
    border-bottom: solid 0.25rem #fb5338;
    margin-top: -1px;
}

.yivs1-part3-item{
    display: flex;
    padding: 0.9rem 1rem 0.9rem 0;
}
.yivs1-part3-left{
    width: 4.05rem;
}
.yivs1-part3-right{
    width: calc(100% - 4.05rem);
    font-size: 0.65rem;
    color: #727783;
    line-height: 1.05rem;
}
.yivs1-part3-right span{
    display: block;
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.35rem;
}
.part3-icon1{
    width: 2.25rem;
    height: 1.95rem;
}
.part3-icon2{
    width: 2.35rem;
    height: 2.925rem;
}
.part3-icon3{
    width: 2.85rem;
    height: 3.25rem;
}
.part3-icon4{
    width: 2.6rem;
    height: 2.8rem;
}
.part3-icon5{
    width: 3.05rem;
    height: 2.75rem;
}
.part3-icon6{
    width: 2.9rem;
    height: 3rem;
}
.part3-icon7{
    width: 3.1rem;
    height: 2.85rem;
}
.part3-icon8{
    width: 3.35rem;
    height: 2.9rem;
}
.part3-icon9{
    width: 3.25rem;
    height: 2.6rem;
}
.bg{
    background-color: #FFF7F6;
}

/* 学大老师 让孩子爱上学习  */
.detail-11-study{
	width: 100%;
	position: relative;
}
.study-bgR{
	width: 6.45rem;
	height: 8.75rem;
	position: absolute;
	right: 0;
	bottom: -3.75rem;
}
.study-title{
	width: 100%;
	height: 3.125rem;
}
.study-content{
	padding: 1.375rem .375rem 2rem;
	font-size: 0;
}
.study-content-teachers{
	width: 100%;
	height: 8.25rem;
}
.study-content-desc{
	width: 100%;
	height: 9.625rem;
	position: relative;
}
.detail-11-study-list{
	position: absolute;
	top: 1.375rem;
	left: 1.175rem;
}
.detail-11-study-list-item{
	margin-bottom: .9rem;
}
.detail-11-study-list-item img{
	margin-right: .475rem;
}

/* 直播上课 互动体验好 */

.live-content{
	width: 100%;
	padding: 1.75rem 0 5.575rem;
	position: relative;
}
.live-content-bg{
	width: 100%;
	height: 21.475rem;
}
.live-content-desc{
	box-sizing: border-box;
	width: 100%;
	padding: 0 .375rem;
	height: 15.75rem;
	position: absolute;
	bottom: 1.75rem;
	left: 0;
}
.live-content-desc-list{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
	flex-wrap: wrap;
	padding: .75rem 2.55rem 0;
}
.live-content-desc-list-item{
	width: 5.275rem;
	text-align: center;
	font-size:.75rem;
	font-weight:600;
	color:rgba(36,46,70,1);
	/* line-height:1.05rem; */
	margin-bottom: 1.25rem;
}
.live-content-desc-list-item-img{
	width: 100%;
	height: 2.5rem;
}
.live-content-desc-list-item-img1{
	width: 1.825rem;
	height: 1.3rem;
}
.live-content-desc-list-item-img2{
	width: 1.55rem;
	height: 1.55rem;
}
.live-content-desc-list-item-img3{
	width: 1.775rem;
	height: 1.925rem;
}
.live-content-desc-list-item-img4{
	width: 1.75rem;
	height: 1.6rem;
}
.live-content-desc-list-item span{
	padding-top: .225rem;
	display: inline-block;
	font-size:.65rem;
	color:#7A808F;
	font-weight: 400;
	line-height:.925rem;
}

/*方案*/
.detail-11-project{
	width: 100%;
	height: 31.525rem;
	position: relative;
}
.detail-11-project-list{
	position: absolute;
	top: 5.5rem;
	right: .85rem;
}
.detail-11-project-list-item{
	box-sizing: border-box;
	width:13.7rem;
	height:4.75rem;
	background:rgba(255,255,255,1);
	box-shadow:0px .125rem .275rem 0px rgba(84,73,71,0.13);
	border-radius:.15rem;
	margin-bottom: .9rem;
	padding-top: .475rem;
}
.detail-11-project-list-item div{
	width: 5.175rem;
	height: 1.6rem;
	line-height: 1.6rem;
	text-align: center;
	font-size:.75rem;
	font-weight:600;
	color:rgba(255,255,255,1);
	border-radius: 0 .95rem .95rem 0;
	background-color: #FF836F;
	box-shadow:0px .1px .15px 0px rgba(221,0,0,0.29);
}
.detail-11-project-list-item .color2{
	background-color: #FFC146;
	box-shadow:0px .1px .15px 0px rgba(217,84,9,0.37);
}
.detail-11-project-list-item .color3{
	background-color: #F97528;
	box-shadow:0px .1px .15px 0px rgba(221,0,0,0.27);
}
.detail-11-project-list-item .color4{
	background-color: #ACBA4C;
	box-shadow:0px .1px .15px 0px rgba(140,152,54,0.72);
}
.detail-11-project-list-item span{
	display: block;
	font-size:.65rem;
	font-weight:500;
	color:rgba(114,119,131,1);
	padding-left: 1rem;
	margin-top: .625rem;
}
/* 承诺 */
.detail-11-promise{
	width: 100%;
	height: 19rem;
	position: relative;
}
.detail-11-promise-list{
	position: absolute;
	top: 3.65rem;
	left: .75rem;
	right: .75rem;
	background-color: #fff;
	border-radius:.25rem;
	padding: 1rem 1rem .2rem;
}
.detail-11-promise-list-item{
	margin-bottom: .875rem;
}
.detail-11-promise-list-item img{
	width: 1.05rem;
	height: 1.25rem;
	margin-right: .975rem;
}
.detail-11-promise-list-item .detail-11-promise-list-item-img2{
	width: 1.225rem;
	height: 1.075rem;
}
.detail-11-promise-list-item .detail-11-promise-list-item-img3{
	width: 1.1rem;
	height: .95rem;
}
.detail-11-promise-list-item .detail-11-promise-list-item-img4{
	width: 1.15rem;
	height: 1.125rem;
}
.detail-11-promise-list-item .detail-11-promise-list-center{
	width: 100%;
	height: 5.2rem;
	background-color: #FFF7F6;
	margin:1.2rem 0 1.2rem 0;
}
.detail-11-promise-list-center img{
	width: 2.35rem;
	height: 2.925rem;
}
.detail-11-promise-list-item-right div{
	font-size:.75rem;
	font-weight:500;
	color:rgba(36,46,70,1);
	margin-bottom: .05rem;
}
.detail-11-promise-list-item-right span{
	font-size:.7rem;
	color:rgba(114,119,131,1);
}

/* 和好老师学 进步快 */
.step-title{
	width: 100%;
	height: 3.15rem;
}
.step-content{
	box-sizing: border-box;
	width: 100%;
	height: 9.075rem;
	padding: .75rem .75rem 0;
	position: relative;
}
.step-content-list{
	width: 100%;
	box-sizing: border-box;
	padding: 0 1.25rem 0 1.35rem;
	text-align: center;
	font-size:.65rem;
	font-weight:500;
	color:rgba(255,255,255,1);
	position: absolute;
	top: 4.125rem;
	left: 0;
	/* top: 4.125rem;
	left: .475rem;
	right: .6rem; */
	
}
.step-content-list-item{
	position: relative;
}
.step-content-list-item .step-content-list-item-img{
	width: 3.5rem;
	height: 2.5rem;
}
.step-content-list-item div{
	margin-top: -0.7rem;
	width: 2.7rem;
}
.doubleArrows{
	width: .775rem;
	height: .5rem;
	position: absolute;
	top: .35rem;
	right: -2rem;
}

.bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3.6rpx;
	z-index: 99;
}

/* 成功页面 */
.success-img{
    width: 10.95rem;
    height: 11.05rem;
    margin-top: 4.325rem;
    margin-bottom: .75rem;
}
.success-call{
    text-align: center;
    font-size:.65rem;
    color:rgba(114,119,131,1);
    letter-spacing:1px;
}
.success-btn{
    width:11.05rem;
    height:2.325rem;
    line-height: ;
    background:rgba(251,27,27,1);
    border-radius:47px;
}