.examtrain-logo{
    width:5.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2.8rem;
}
.examtrain-wrap{
    padding:2.95rem 2rem 0 2rem;
}
.examtrain-toptxt{
    height: 9.05rem;
    background: url(../image/examtrain/topbg.png) no-repeat left center;
    background-size: auto 100%;
    padding: 2.5rem 0 0 1rem;
}
.examtrain-toptxt .toptxt1{
    font-size: 1.75rem;
}
.examtrain-toptxtimg{
    max-width: 100%;
    height: auto;
}
.examtrain-gradeimg{
    width: 12.75rem;
    height: 3.05rem;
    margin-top: 3.15rem;
}
.examtrain-select{
    margin-top: 1.1rem;
}
.examtrain-select li{
    width: 3.05rem;
    height: 3.05rem;
    text-align: center;
    line-height: 3.05rem;
    font-size: 1rem;
    color:#dec591;
    font-weight: bold;
    margin-right: 2.8rem;
    background: url(../image/examtrain/btnbg_nor.png) no-repeat;
    background-size: 100% 100%;
}
.examtrain-select li.act{
    color:#1e256c;
    background: url(../image/examtrain/btnbg_pre.png) no-repeat;
    background-size: 100% 100%;
}
.examtrain-select li:last-child{
    margin-right: 0;
}
.examtrain-apply{
    /* width: 9.7rem;
    height: 2.6rem;
    display: block;
    margin: 0 auto; */
    padding:0 1.65rem;
    line-height: 2.6rem;
    font-size: 1.6rem;
    color:#262f7c;
    background: #fce1a3;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0 rgba(252,225,163,0.4);
    border: none;
    outline: none;
    /* margin-top: 4.25rem; */
    margin-top: 1.8rem;
}
.examtrain-toptxt-true{
    padding-right: 1.4rem;
    padding-top: 3rem;
}
.examtrain-truetxt1{
    max-width: 100%;
    height: auto;
}
.examtrain-truetxt2{
    width: 12.1rem;
    height: 0.9rem;
    margin-top: 2.2rem;
}
.examtrain-truearrow{
    width: 1.05rem;
    height: 1.45rem;
    margin-top: 0.75rem;
}
.examtrain-code{
    width: 9.35rem;
    height: 9.35rem;
    margin:0 auto;
    border:solid 0.2rem #dcc18b;
    background: #fff;
    border-radius: 0.2rem;
    margin-top: 0.6rem;
}
.examtrain-code img{
    width: 8.95rem;
    height: 8.95rem;
}
.examtrain-info{
    font-size: 0.6rem;
    color:#fff;
    widows: 12.1rem;
    height: 2.35rem;
    line-height: 2.35rem;
    border-radius: 1.175rem;
    border:solid 0.05rem #d2b57c;
    margin-top: 1.5rem;
}
.examtrain-select-info{
    font-size: 1rem;
    color:#fce1a3;
    margin-top: 1rem;
}
.examtrain-linktxt{
    padding:0 1.75rem;
    margin-top: 2.25rem;
}
.examtrain-link{
    padding:0 0.9rem;
    margin-top: 2rem;
}
.examtrain-link-box{
    background-color: #fff;
    border-radius: 0.2rem;
    padding:0 1.2rem 0.2rem 1.2rem;
    margin-bottom: 0.7rem;
}
.examtrain-link-top{
    font-size: 0.6rem;
    color:#000;
    padding:0.7rem 0 0.4rem;
}
.examtrain-link-btn{
    float: right;
    display: block;
    width: 5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color:#fff;
    text-align: center;
    border-radius: 0.75rem;
    background: #ee2a2a;
    background: -webkit-linear-gradient(left, #e8c7b7 , #d59879);
    background: -webkit-gradient(linear,left,from(#e8c7b7),to(#d59879));
    background: -o-linear-gradient(left, #e8c7b7, #d59879);
    background: -moz-linear-gradient(left, #e8c7b7, #d59879);
    background: linear-gradient(to right, #e8c7b7 , #d59879);
}
.course-no{
    background: #dddddd;
    color:#999;
    pointer-events: none;
}
.examtrain-link-bottom{
    padding:0.7rem 0;
}
.examtrain-link-bottom p{
    float: left;
    font-size: 0.6rem;
    color:#ba9a5e;
    line-height: 1.5rem;
    font-weight: bold;
}