.exp-part{
    padding-top: 1.5rem;
}
.exp-part1{
    padding-bottom: 0.75rem;
}
.exp-part1title{
    width:11.5rem;
    height:2rem;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 0.9rem;
    background: #ff6501;
    border-radius: 1rem;
    color:#fff
}
.exp-select-box{
    padding: 1.75rem 2rem 0 2rem;
}
.exp-select-box ul li{
    width: 4.35rem;
    height: 1.55rem;
    line-height: 1.55rem;
    font-size: 0.85rem;
    text-align: center;
    border-radius: 0.4rem;
    margin-right: 0.8rem;
    margin-bottom: 0.9rem;
}
.exp-select-box ul li:last-child{
    margin-right: 0;
}
.exp-select-box ul li.red{
    color:#ff7902;
    border:solid 1px #ed6d1f;
    background-color: #ffd4ae;
}
.exp-select-box ul li.red.act{
    color:#fff;
    background-color: #ff7902;
}
.exp-select-box ul li.green{
    color:#67b34d;
    border:solid 1px #6fb756;
    background-color: #cee6c6;
}
.exp-select-box ul li.green.act{
    color:#fff;
    background-color: #67b34d;
}
.exp-select-box ul li.blue{
    color:#4183c0;
    border:solid 1px #4a89c3;
    background-color: #c2d7eb;
}
.exp-select-box ul li.blue.act{
    color:#fff;
    background-color: #4183c0;
}
.exp-title{
    margin-bottom: 1.5rem;
    text-align: center;
    color:#000;
}
.exp-title .exp-title-main{
    display: inline-block;
    position: relative;
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
}
.titlebg1{
    width: 0.7rem;
    height: 0.6rem;
    position: absolute;
    left: -0.9rem;
    top: -0.3rem;
}
.titlebg2{
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    bottom: -0.15rem;
    right: -0.5rem;
}
.exp-title-sub{
    text-align: center;
    font-size: 0.8rem;
}
.exp-title-sub label{
    position: relative;
}
.exp-title-sub label:after {
    content: '';
    width: 100%;
    height: 0.2rem;
    background-color: #fff550;
    border-radius: 0.1rem;
    position: absolute;
    bottom: 0rem;
    left: 0;
    z-index: -1;
}
.exp-contene{
    padding:0 0.85rem
}
.exp-part3img1{
    margin-bottom: 0.32rem;
}
.exp-part4img1{
    margin-bottom: 1.5rem;
}
.exp-part7{
    color:#fff;
    padding:1.15rem 0 0.9rem;
    background-color: #4d4948;
    margin-top: 1.5rem;
}
.exp-part7 p{
    font-size:0.55rem;
}
.exp-part7 span{
    font-size:0.4rem;
}
.apply-fixed-left{
    background: #ff6501;
    font-size: 0.95rem;
    font-weight: bold;
}
.apply-fixed-left img{
    width: 1.65rem;
    height: 1.65rem;
    margin-right: 0.4rem;
    vertical-align: middle;
}
.exp-part5{
    padding-top: 2.25rem;
}