/* 购买 */
.keylessonbuy-titlelg span{
    font-size: 1.2rem;
    padding: 0 1.1rem;
    color:#2b4b7a;
    background: url(../image/keylesson/buytitle_bg.png) no-repeat center center;
    background-size: 100% auto;
}
.keylessonbuy-titlelg{
    margin-bottom: 1.5rem;
}
.keylessonbuy-select{
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
.keylessonbuy-shadow {
    box-shadow: 0 0.25rem 0.5rem rgba(187,187,187,0.4);
}
.keylessonbuy-select .selectbox-list {
    border-radius: 0;
}
.keylessonbuy-title{
    height: 1.65rem;
    line-height: 1.65rem;
    font-size: 0.75rem;
    color:#fff;
    background:#1c2d47;
    background: -webkit-linear-gradient(top, #2d4e80 , #1c2d47);
    background: -webkit-gradient(linear,top,from(#2d4e80),to(#1c2d47));
    background: -o-linear-gradient(top, #2d4e80, #1c2d47);
    background: -moz-linear-gradient(top, #2d4e80, #1c2d47);
    background: linear-gradient(to bottom, #2d4e80 , #1c2d47);
}
.keylessonbuy-select .selectbox-list .selectbox .name{
    color: #2b4b7a;
}
.keylessonbuy-select .selectbox-list .selectbox .price {
    color: #cb0000;
}
/* 落地页 */
.leylesson-wrap{
    padding:0 0.6rem 3rem;
}
.keylesson-part{
    padding: 1.5rem 0 1.5rem;
}
.keylesson-titlelg,.keylesson-title{
    font-size: 1.2rem;
    color:#2b4b7a;
    text-align: center;
}
.keylesson-title span{
    position: relative;
    padding: 0 1.1rem;
}
.keylesson-title span label{
    color:#ba312a;
}
.keylesson-title span .keytitle-left,.keylesson-title span .keytitle-right{
    position: absolute;
    width: 0.85rem;
    height: 0.5rem;
    top: 50%;
    margin-top: -0.25rem;
}
.keylesson-title span .keytitle-left{
    left: 0;
}
.keylesson-title span .keytitle-right{
    right: 0;
}
.keylesson-teabox{
    margin-top: 1.6rem;
}
.keypart1-img{
    margin-top: 1rem;
}
.keytea-top{
    height: 7.5rem;
    position: relative;
    padding: 1.5rem 0.7rem 0.9rem 6.2rem;
    box-shadow: 0 0.25rem 0.4rem rgba(44,75,123,0.45);
    border-radius: 0.5rem;
}
.keytea-top1{
    background: url(../image/keylesson/teabg1.png)no-repeat center center;
    background-size: 100% 100%;
}
.keytea-top2{
    background: url(../image/keylesson/teabg2.png)no-repeat center center;
    background-size: 100% 100%;
}
.keytea-top3{
    background: url(../image/keylesson/teabg3.png)no-repeat center center;
    background-size: 100% 100%;
}
.keytea-top4{
    background: url(../image/keylesson/teabg4.png)no-repeat center center;
    background-size: 100% 100%;
}
.keytea-top5{
    background: url(../image/keylesson/teabg5.png)no-repeat center center;
    background-size: 100% 100%;
}
.keytea-top .keytea{
    position: absolute;
    bottom: -1.125rem;
    left: -0.65rem;
}
.keytea-top .keytea1{
    width: 6.65rem;
    height: 10.25rem;
}
.keytea-top .keytea2{
    width: 7.15rem;
    height: 10.25rem;
}
.keytea-top .keytea3{
    width: 6.65rem;
    height: 10.4rem;
}
.keytea-top .keytea4{
    width: 6.8rem;
    height: 10.45rem;
}
.keytea-top .keytea5{
    width: 6.8rem;
    height: 10.3rem;
}
.keytea-top .keytea6{
    width: 7.1rem;
    height: 10.25rem;
}
.keytea-top .keytea7{
    width: 6.425rem;
    height: 10.375rem;
}
.keytea-top .keytea8{
    width: 7.675rem;
    height: 10.5rem;
}
.keytea-top .keytea9{
    width: 7rem;
    height: 10.55rem;
}
.keytea-top .keytea10{
    width: 7rem;
    height: 10.3rem;
}
.keytea-top .keytea11{
    width: 6.5rem;
    height: 10.25rem;
}
.keytea-top .keytea12{
    width: 7.25rem;
    height: 9.95rem;
}
.keytea-top .keytea13{
    width: 6.95rem;
    height: 9.75rem;
}
.keytea-zige{
    font-size: 0.45rem;
    color:#091523;
    height: 0.75rem;
    line-height: 0.75rem;
    padding: 0 0.5rem;
    border-radius: 0 0.5rem 0 0.2rem;
    background: #e3c590;
    position: absolute;
    right: 0;
    top: 0;
}
.keytea-zige label{
    color: #000;
    font-size: 0.4rem;
}
.keytea-info{
    font-size: 0.45rem;
    line-height: 0.7rem;
    color:#fff;
    position: relative;
    z-index: 2;
}
.keytea-info .keytea-info-name{
    margin-bottom: 0.25rem;
}
.keytea-info .keytea-info-name span{
    font-size: 0.75rem;
    color:#e3c590;
    margin-right: 0.3rem;
}
.keytea-info .keytea-info-name label{
    color:#e3c590;
    margin-right: 0.4rem;
}
.keytea-bottom-top{
    position: relative;
    height: 1.65rem;
    line-height: 1.65rem;
    font-size: 0.9rem;
    color: #e3c590;
    border-radius: 0.3rem;
    margin-top: 0.2rem;
    background:#1c2d47;
    background: -webkit-linear-gradient(top, #2d4e80 , #1c2d47);
    background: -webkit-gradient(linear,top,from(#2d4e80),to(#1c2d47));
    background: -o-linear-gradient(top, #2d4e80, #1c2d47);
    background: -moz-linear-gradient(top, #2d4e80, #1c2d47);
    background: linear-gradient(to bottom, #2d4e80 , #1c2d47);
    box-shadow: 0 0.25rem 0.4rem rgba(44,75,123,0.45);
    z-index: 2;
}
.keytea-bottom-bottom{
    font-size: 0.5rem;
    color:#091524;
    line-height: 0.9rem;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    padding-right: 0.4rem;
    padding-left: 0.6rem;
    background: #e3c590;
    border-radius: 0 0 0.5rem 0.5rem;
    margin: 0 0.3rem;
}
.pl1{
    padding-left: 2.5rem;
}
.pl2{
    padding-left: 0.6rem;
}
.pl3{
    padding-left: 4.25rem;
}
.pl4{
    padding-left: 0.4rem;
}
.pllg{
    padding-left: 1rem;
    padding-right: 1rem;
}
.keylesson-part3 img{
    margin-bottom: 0.4rem;
}
.mrt-1{
    margin-top: 1rem;
}
.keylesson-part4 ul{
    margin-top: 1.5rem;
}
.keylesson-part4 ul li{
    height: 2.5rem;
    line-height: 2.5rem;
    background: url(../image/keylesson/txtbg.png)no-repeat;
    background-size: 100% 100%;
    font-size: 0.6rem;
    color: #9fb3d0;
    padding: 0 1.25rem;
    margin-bottom: 0.3rem;
}
.keylesson-part4 .keypart4-name{
    background: -webkit-linear-gradient(0deg, #e8c7b7, #d59879);
    background: -o-linear-gradient(0deg, #e8c7b7, #d59879);
    background: -moz-linear-gradient(0deg, #e8c7b7, #d59879);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.keylesson-part4 .keypart4-subj{
    color: #fff;
    width: 2rem;
}
.keylesson-part4 .keypart4-subj span{
    font-size: 0.45rem;
}
.keylesson-xuzhi{
    font-size: 0.45rem;
    color: #2b4b7a;
    line-height: 0.65rem;
    padding-left: 0.7rem;
}
.keylesson-xuzhi .xuzhi-title{
    font-size: 0.6rem;
    margin-bottom: 0.25rem;
}
.keylesson-part6{
    font-size: 1.1rem;
    color: #2b4b7a;
    padding-bottom: 1rem;
}
.apply-fixed-right {
    width: 60%;
    font-size: 0.75rem;
    background: #0030a4;
}
.apply-fixed-left {
    width: 40%;
    font-size: 0.9rem;
    background: #ff3c3c;
}
