.banner{
    width: 100%;
    height: auto;
    display: block
}
.relative{
    position: relative;
}
.title1,.title2,.title3{
    width: 7.3rem;
    height: 1.65rem;
    display: block;
    margin:0 auto;
    margin-bottom: 1.8rem;
}
.title2{
    margin-bottom: 0.3rem
}
.title3{
    height: 1.125rem;
    margin-bottom: 1.35rem
}
.part1{
    margin-top: 1.3rem;
}
.part1-txt{
    font-size:0.75rem;
    color:#fff;
}
.part1-txt label{
    width: 0.45rem;
    height:0.45rem;
    background:#febd34;
    display: inline-block;
    border-radius: 0.05rem;
    margin-right:0.4rem;
}
.part1-txt p{
    padding-left: 0.85rem;
}
.part1-txt1{
    padding-left: 7.35rem;
    margin-bottom: 1.75rem;
}
.part1-txt2{
    padding-left: 9.2rem;
    margin-bottom: 1.75rem;
}
.part1-txt3{
    padding-left: 10.7rem;
}
.lead-img1{
    width: 9.85rem;
    height:15.45rem;
    position: absolute;
    left:0;
    top:-0.3rem;
}
.part2{
    margin-top: 2.35rem;
}
.titlesub{
    font-size: 0.6rem;
    color:#fff;
    margin-bottom: 2rem;
}
.lead-teatitle{
    width: 16.35rem;
    padding-left:7.5rem;
    margin:0 auto;
    font-size:0.9rem;
    color:#fff;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #3a2a9d;
    border-radius: 0.8rem 0.25rem 0.25rem 0.8rem;
    box-shadow: 0 0.4rem 0.6rem rgba(15,0,100,0.36);
    margin-bottom: 1.1rem;
}
.lead-teatitle span{
    color:#ffbc3b;
    margin-left:0.9rem;
}
.lead-teatitle img{
    width: 4.8rem;
    height:4.8rem;
    position: absolute;
    left:0;
    top:-1.15rem;
}
.teabox-item{
    font-size: 0.6rem;
    color: #4aeec9;
    margin-bottom: 0.5rem;
}
.teabox-txt{
    font-size: 0.6rem;
    color: #fff;
    line-height: 1rem;
    padding:0 1.2rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}
.lead-teabox{
    margin-bottom: 1.75rem;
}
.part3{
    padding:1.5rem 0 4.6rem;
    background-color:#291a84;
}
.lead-part3main{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.lead-img2{
    width: 5.75rem;
    height:5.95rem;
    margin-right: 0.8rem;
}
.lead-part3txt p{
    position: relative;
    font-size: 0.6rem;
    width: 11.4rem;
    height: 1.25rem;
    line-height: 1.25rem;
    padding-left: 0.9rem;
    background-color: #4aeec9;
    border-radius: 0.25rem;
    margin-bottom: 0.4rem;
}
.lead-part3txt p span{
    font-size: 0.9rem;
}
.lead-part3txt p img{
    position: absolute;
}
.lead-num1{
    width: 0.75rem;
    top:0;
    left:-0.5rem ;
}
.lead-num2{
    width: 1rem;
    top:0;
    left:-0.56rem ;
}
.lead-num3{
    width: 0.95rem;
    top:0;
    left:-0.55rem ;
}
.lead-num4{
    width: 1.075rem;
    top:0;
    left:-0.6rem ;
}