.img{
    display: block;
    margin: 0 auto;
}
.banner{
    max-width: 100%;
    height: auto;
    display: block;
    margin:0 auto;
}
.topimg{
    display: block;
    margin: 0 auto;
    width: 17.45rem;
    height: 9.225rem;
    margin-top: -3.2rem;
}
.midterm-title{
    font-size: 0.9rem;
    color:#221fe2;
}
.midterm-buttons-row {
    justify-content: space-between;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 0.6rem 0;
}
.midterm-buttons-row .button {
    border-radius: 1rem;
    width: 5.5rem;
    height: 2rem;
    border-color: #fff;
    background-color: #fff;
    color: #666;
    font-size: 0.7rem;
    line-height: 2rem;
}
.midterm-buttons-row .button.active {
    background-color: #0c1bce;
    border-color: #0c1bce;
    color: #fff;
}
.midterm-buttons-row .button:first-child {
    border-radius:1rem;
}
.midterm-buttons-row .button:last-child {
    border-radius: 1rem;
}
.titleimg{
    width: 11.65rem;
    height: 4.175rem;
    display: block;
    margin: 0 auto;
    margin-top: 2.2rem
}
.midterm-titlesm{
    font-size: 0.75rem;
    color:#003ccb;
    margin-top: 1rem;
}
.tealist{
    margin:0 0.6rem;
    margin-top: 1.25rem;
}
.tea-box{
    position: relative;
    background-color: #fff;
    border-radius: 0.5rem;
    padding:1.3rem 1.5rem 0.9rem;
    font-size: 0.6rem;
    color:#4d39d4;
    line-height: 1.15rem;
    margin-bottom: 0.65rem;
}
.teabox-top{
    position: relative;
    border-bottom: solid 0.05rem #4d39d4;
    padding-bottom: 0.7rem;
}
.kemu-name{
    font-size: 0.6rem;
    color:#632c9f;
    margin-bottom: 0.25rem;
}
.kemu-name label{
    font-size: 0.9rem;
    color:#fff;
    padding:0.1rem 0.2rem;
    background-color: #632c9f;
    border-radius: 0.2rem;
    margin-right:0.15rem;
    display: inline-block;
    vertical-align: middle; 

}
.time{
    font-size: 0.75rem;
    color:#120377;
    margin-bottom: 1.15rem;
}
.tea-name{
    font-size: 0.9rem;
    color:#120377;
    margin-bottom: 0.5rem;
}
.teabox-footer{
    font-size: 0.75rem;
    color: #3b11ca;
    font-weight: bold;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    margin-top: 0.6rem;
    background:#bb7dff;
    background: -webkit-linear-gradient(left, #bb7dff , #f9f4ff);
    background: -webkit-gradient(linear,left,from(#bb7dff),to(#f9f4ff));
    background: -o-linear-gradient(left, #bb7dff, #f9f4ff);
    background: -moz-linear-gradient(left, #bb7dff, #f9f4ff);
    background: linear-gradient(to right, #bb7dff , #f9f4ff);
}
.teabox-footermd{
    font-size: 0.7rem;
}
.teabox-footersm{
    font-size: 0.6rem;
}
.teabox-footerxs{
    font-size: 0.5rem;
}
.teaimg{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.junior1-tea1{
    width: 7rem;
    height: 11.2rem;
    right: -0.75rem;
}
.junior1-tea2{
    width: 6.6rem;
    height: 11.1rem;
    right: -0.6rem;
}
.junior1-tea3{
    width: 7rem;
    height: 11.4rem;
    right: -0.7rem;
}
.junior1-tea4{
    width: 7rem;
    height: 11.2rem;
    right: -0.9rem;
}
.junior2-tea2{
    width: 8.95rem;
    height: 11.25rem;
    right: 0.1rem;
    bottom: 2.9rem;
}
.junior2-tea3{
    width: 7.5rem;
    height: 11.45rem;
    right: 0.45rem;
    bottom: 2.9rem;
}
.junior2-tea4{
    width: 6.625rem;
    height: 11.125rem;
    right: -1.1rem;
}
.junior2-tea5{
    width: 7.2rem;
    height: 11.4rem;
    right: -1.1rem;
}
.junior3-tea1{
    width: 6.2rem;
    height: 11.2rem;
    right: -0.7rem;
}
.junior3-tea5{
    width: 6.55rem;
    height: 11.25rem;
    right: -1rem;
}
.junior3-tea6{
    width: 6.45rem;
    height: 11.4rem;
    right: -1rem;
}
.junior3-tea6-end{
    width: 6.5rem;
    height: 11.35rem;
    right: -0.8rem;
}
.titleimg1{
    width: 16.05rem;
    height: 1.9rem;
    display: block;
    margin: 0 auto;
    margin-top: 2.7rem;
}
.txtimg{
    width: 15.75rem;
    height: 9.675rem;
    display: block;
    margin: 0 auto;
    margin-top: 1.4rem;
}
.footerimg{
    width: 17.45rem;
    height: 6.5rem;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    /* margin-bottom: 3.4rem; */
}
.footerimg1{
    width: 17.35rem;
    height: 6.375rem;
    margin-top: 1.5rem;
    /* margin-bottom: 3.4rem; */
}
.select-math{
    background-color: #fff;
    padding: 1rem 0;
}
.radiobox-wrap{
    width: 16.15rem;
    margin:0 auto;
    margin-top:1.25rem; 
}
.radiobox-wrap .radiobox{
    width: 7.5rem;
    height: 2rem;
    line-height:2rem;
    font-size: 0.7rem;
    color: #999;
    border-radius: 1rem;
    border: solid 1px #999;
    text-align: center
}
.radiobox-wrap .radiobox.act{
    border: solid 1px #221fe2;
    color:#221fe2;
}
.radiobox-wrap .radiobox.act label{
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    vertical-align: middle;
    background: url(../image/mid-term/checked.png);
    background-size: 100% 100%;
    margin-right: 0.3rem;
}
/* 高中 */
.topimg_high{
    max-width: 100%;
    height: 15.45rem;
    margin-top: -4.05rem;
}
.midterm-title-high{
    font-size: 0.9rem;
    color:#666;
    background-color: #fff;
    padding-top: 0.3rem;
    margin-top: -0.04rem;
}
.midtermhigh-buttons-row{
    background-color: #fff;
    margin-top: -0.04rem;
    padding-bottom: 1rem;
}
.midtermhigh-buttons-row .button {
    border-color: #999;
    color: #999;
}
.midtermhigh-buttons-row .button.active {
    background-color: #ff15dc;
    border-color: #ff15dc;
    box-shadow: 0 0.35rem 0.6rem rgba(255,22,219,0.4);
}
.select-high{
    background-color: #fff;
    padding: 1rem 0 0;
    margin-top: -0.05rem;
}
.selectbox-list{
    margin-top: 1.25rem;
    padding-bottom: 0.5rem;
}
.selectbox{
    width: 17.5rem;
    height: 2rem;
    margin:0 auto;
    border-radius: 1rem;
    border:solid 1px #b5b5b5;
    padding: 0.35rem 0;
    line-height: 1.25rem;
    color:#666;
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.selectbox-name{
    width: 4.95rem;
    border-right: solid 0.05rem  #b5b5b5;
}
.selectbox label{
    width: 3rem;
    background: url(../image/mid-term/high_checked_nor.png)no-repeat center center;
    background-size: 0.75rem 0.6rem;
    border-left: solid 0.05rem  #b5b5b5;
}
.selectbox.act{
    border:solid 1px #ff16da;
    color:#fff;
    background-color: #ff16da;
}
.selectbox.act .selectbox-name{
    border-right: solid 0.05rem  #fff;
}
.selectbox.act label{
    background: url(../image/mid-term/high_checked_pre.png)no-repeat center center;
    background-size: 0.75rem 0.6rem;
    border-left: solid 0.05rem  #fff;
}
.topbg2{
    width: 100%;
    height: 1.5rem;
    background: url(../image/mid-term/topbg2.png)no-repeat center bottom;
    background-size: 100% 100%;
    margin-top: -0.04rem
}
.midterm-title-high-lg{
    font-size: 2rem;
    color:#fff;
    margin-top: 1.75rem;
}
.midterm-titlesm-high{
    color: #fff;
}
.high1_tea1{
    width: 7.075rem;
    height: 11.25rem;
    right: 0.75rem;
    bottom: 2.9rem;
}
.high1_tea2{
    width: 6.5rem;
    height: 11.05rem;
    right: 0.4rem;
    bottom: 2.9rem;
}
.high1_tea3{
    width: 6.85rem;
    height: 11.25rem;
    right: 0.1rem;
    bottom: 2.9rem;
}
.high1_tea4{
    width: 8.075rem;
    height: 11.375rem;
    right: 0;
    bottom: 2.9rem;
}
.high1_tea5{
    width: 6.9rem;
    height: 11.175rem;
    right:-0.8rem;
}
.high2_tea1{
    width: 7.325rem;
    height: 11.2rem;
    right:0.35rem;
    bottom: 2.9rem;
}
.high2_tea3{
    width: 7.2rem;
    height: 11.25rem;
    right:0;
    bottom: 2.9rem;
}
.high2_tea4{
    width: 7rem;
    height: 11.45rem;
    right:-1.2rem;
}
.high2_tea5{
    width: 6.025rem;
    height: 11.175rem;
    right:-0.45rem;
}
.high3_tea1{
    width: 6.25rem;
    height: 11.2rem;
    right:0.7rem;
    bottom: 2.9rem;
}
.high3_tea2{
    width: 7.075rem;
    height: 11.25rem;
    right: 0.45rem;
    bottom: 2.9rem;
}
.high3_tea3{
    width: 7rem;
    height: 11.2rem;
    right:0.4rem;
    bottom: 2.9rem;
}
.high3_tea4{
    width: 6.6rem;
    height: 11.5rem;
    right:-1.1rem;
}
.term-info{
    background-color: #fff;
    padding:0.6rem;
    margin: 0.6rem 1.2rem 3.4rem;
    font-size: 0.75rem;
    color: #666;
    line-height: 1.25rem;
    border-radius: 0.5rem;
}
.term-info-title{
    color:#333;
}
.term-info p:first-child{
    font-size: 0.9rem;
    color:#333;
    margin-bottom: 0.5rem;
}