.mockexam-top{
    background: url(../image/mockexam/topbg_new.jpg)no-repeat center top;
    background-size:100% auto;
    padding-top: 2.6rem;
}
.mockexam-logo{
    width: 9.4rem;
    height: 2.1rem;
    position: absolute;
    top: 0;
    left: 0.55rem;
}
.mockexam-toptxt{
    padding:0 0.375rem;
}
.mockexam-toptxt img{
    max-width: 100%;
    height: auto;
}
.mockexam-toptea-wrap{
    position: relative;
    /* height: 13.85rem; */
    padding:0 0.25rem;
    margin-top: 0.6rem;
}
.mockexam-toptea{
    /* width: auto;
    height: 13.85rem; */
    max-width: 100%;
    height: auto;
}
.mockexam-topteatxt{
    position: absolute;
    width: 100%;
    height: auto;
    /* bottom: -3.4rem; */
    bottom: -24%;
    left: 0;
}
.mockexam-part2{
    padding-top: 3.6rem;
    position: relative;
    padding-bottom: 4.25rem;
}
.mockexam-title1{
    /* width: 14.15rem;
    height: 3.275rem; */
    padding:0 2rem;
}
.mockexam-part2-txt{
    padding:0 0.7rem;
    margin-top: 1.5rem;
}
.mockexam-part2-txt li{
    width: 33.3%;
    margin-right: 0.4rem;
    /* width: 5.25rem; */
    color:#ffeee4;
}
.mockexam-part2-txt li:last-child{
    margin-right: 0;
}
.mockexam-part2-txt li span{
    font-size: 0.55rem;
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}
.mockexam-part2-txt li p{
    font-size: 0.5rem;
    line-height: 0.75rem;
}
.mockexam-part2-txt2{
    display: inline-block;
    font-size: 0.7rem;
    color:#232c42;
    line-height: 1.05rem;
    padding:0.35rem 0.4rem;
    border-radius: 0.5rem;
    background:#ff977d;
    margin:1.2rem 0.4rem 2.35rem 0.4rem;
}
.mockexam-title2{
    /* width: 15.4rem;
    height: 1.2rem; */
    padding:0 1.7rem;
    margin-bottom: 0.65rem;
}
.mockexam-part2-txt3{
    font-size: 0.7rem;
    color:#e8c6b6;
    line-height: 1.1rem;
}
.mockexam-title3{
    /* width: 15.4rem;
    height: 1.2rem; */
    padding:0 0.625rem;
    margin-bottom: 0.65rem;
    margin-top: 2rem;
}
.mockexam-title1 img,.mockexam-title2 img,.mockexam-title3 img{
    max-width: 100%;
    height: auto;
}
.mockexam-line1{
    width:100%;
    display: block;
    height: 2.2rem;
    position: absolute;
    bottom:0;
    left: 0;
}
.mockexam-teawrap{
    position: relative;
    padding: 0.75rem 0.6rem 1.1rem 0.6rem;
    background-color: #ff977d;
    margin-top: -1px;
}
.mockexam-teatitle{
    font-size: 1.4rem;
    color:#fff;
    margin-bottom: 0.9rem;
}

.mixun-tea{
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(178,121,94,0.4);
    padding:0.4rem 0.6rem 0.4rem 0.4rem;
    margin-bottom: 0.6rem;
}
.mixun-teaimg{
    width: 4rem;
    height: 5rem;
    float: left;
    margin-right: 0.75rem;
}
.mixun-teatxt{
    width: calc(100% - 4.75rem);
    padding-top: 0.5rem;
    float: left;
    font-size: 0.45rem;
}
.mixun-teatxt .tea-top{
    margin-bottom: 0.25rem;
}
.mixun-teatxt .tea-top .tea-name{
    font-size: 0.75rem;
    color:#a97965;
    margin-right: 0.4rem;
}
.mixun-teatxt .tea-top .tea-subj{
    color:#a97965;
    margin-right: 0.5rem;
}
.mixun-teatxt .tea-bottom{
    color:#666;
    line-height: 0.75rem;
}
.mockexam-line2{
    width:100%;
    display: block;
    height: 2.2rem;
    position: absolute;
    top:0;
    left: 0;
}
.mockexam-part4{
    position: relative;
    padding-top: 3.55rem;
    padding-bottom: 3.35rem;
    margin-top: -1px;
}
.mockexam-part4title{
    width: 5.85rem;
    height: 1.4rem;
}
.mockexam-time{
    width: 12.8rem;
    height: 8.2rem;
    margin-top: 1.25rem;
}
.mockexam-line3{
    width:100%;
    display: block;
    height: 2.2rem;
    position: absolute;
    bottom:0;
    left: 0;
}
.mockexam-issue{
    font-size: 0.6rem;
    background-color: #fff;
    padding:1.15rem 0 1.15rem  1rem;
    line-height: 0.95rem;
    margin-top: -1px;
}
.apply-fixed-right{
    width: 63.2%;
    font-size: 0.9rem;
    background: #232c42;
}
.apply-fixed-left{
    width: 36.8%;
    font-size: 0.9rem;
    background: #ff3c3c;
}
.apply-fixed-right .underline{
    font-size: 0.75rem;
    font-weight: normal;
    margin-right: 0.5rem;
}

/* 上课链接 */
.mockexam-link{
    padding: 0 0.9rem;
    margin-top: 1.1rem;
}
.mockexam-link-item{
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.6rem;
}
.mockexam-link-item p{
    float: left;
    font-size: 0.6rem;
    line-height: 1.5rem;
}
.mockexam-link-item p label{
    color:#a97965;
    font-weight: bold;
    margin-left: 0.75rem;
}
.mockexam-link-btn{
    float: right;
    display: block;
    width: 5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color:#fff;
    text-align: center;
    border-radius: 0.75rem;
    background: #ee2a2a;
    background: -webkit-linear-gradient(left, #e8c7b7 , #d59879);
    background: -webkit-gradient(linear,left,from(#e8c7b7),to(#d59879));
    background: -o-linear-gradient(left, #e8c7b7, #d59879);
    background: -moz-linear-gradient(left, #e8c7b7, #d59879);
    background: linear-gradient(to right, #e8c7b7 , #d59879);
}
.course-no{
    background: #dddddd;
    color:#999;
    pointer-events: none;
}
.mockexamtrue-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22.5rem;
    background: #eacdbf url(../image/mockexam/topbg.png)no-repeat center top;
    background-size:100% auto;
    z-index: 1;
}
.mockexamtrue-wrap{
    position: relative;
    z-index:2;
}
.mockexamtrue-txt{
    padding: 0 2.9rem;
}
.mockexamtrue-txt1{
    font-size: 0.85rem;
    color:#a65f3d;
    margin-top: 4.75rem;
}
.mockexamtrue-arrow{
    width: 1rem;
    height: 1.35rem;
    margin-top: 0.8rem;
}
.mockexamtrue-code{
    width: 9.3rem;
    height: 9.3rem;
    margin:0 auto;
    background: #fff;
    margin-top: 0.6rem;
}
.mockexamtrue-code img{
    width: 9.3rem;
    height: 9.3rem;
}
.mockexamtrue-info{
    font-size: 0.6rem;
    color:#fdfffd;
    width: 12.1rem;
    height: 2.35rem;
    margin: 0 auto;
    line-height: 2.35rem;
    border-radius: 1.175rem;
    border:solid 0.05rem #fefffc;
    margin-top: 1.5rem;
}