.img{
    display: block;
    margin:0 auto;
}
.priceclass-banner{
    width: 100%;
    height:21.6rem;
    background: url(../image/priceclass/banner_bg.png) no-repeat top center;
    background-size:100%;
    padding-top: 8.2rem;
}
.priceclass-banner p{
    font-size: 2.2rem;
    color: #fff;
    font-weight: bold
}
.priceclass-banner p img{
    width: 3.1rem;
    height:2.675rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}
.priceclass-title{
    font-size:1.2rem;
    color: #fff;
    font-weight: bold;
    margin-top: 1.45rem;
}
.priceclass-titlesub{
    font-size:0.75rem;
    color: #fff;
    width: 13.05rem;
    margin:0 auto;
    background-color: #0f019b;
    padding:0.2rem 0rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}
.priceclass-tea{
    position: relative;
    background-color: #fff;
    border-radius: 0.5rem;
    margin:0.7rem 0.6rem;
    padding:1.2rem 0.3rem 0.85rem 1.5rem;
}
.priceclass-teazhengzhi{
    padding-right: 0
}
.priceclass-teawuli{
    padding-top: 1.6rem
}
.priceclass-tealf{
    /* float: left; */
    font-size: 0.6rem;
    color: #4d39d4;
    padding-bottom: 0.6rem;
    line-height: 1.2rem;
}
/* .priceclass-tearh{
    float: right;
} */
.subject{
    font-size: 0.9rem;
    background-color: #632c9f;
    color:#fff;
    padding:0.15rem 0.2rem;
    margin-right: 0.65rem;
    border-radius: 0.25rem;
}
.priceclass-tealf p:first-child{
    font-size: 0.9rem;
    color:#120377;
    margin-bottom: 0.95rem;
}
.priceclass-tea img{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.tea-dili{
    width: 7.7rem;
    height:9.4rem;
}
.tea-huaxue{
    width: 7.5rem;
    height:10.25rem;
}
.tea-lishi{
    width: 7.75rem;
    height:10.5rem;
}
img.tea-shengwu{
    width: 7.9rem;
    height:10.25rem;
    right: -0.2rem;
}
.tea-wuli{
    width: 7.5rem;
    height:8.825rem;
}
.tea-zhengzhi{
    width: 8.4rem;
    height:10.2rem;
}
img.tea-dili-lg{
    width: 8.05rem;
    height:11.575rem;
    right: 0;
    bottom:2.9rem
}
img.tea-huaxue-lg{
    width: 7.5rem;
    height:12.2rem;
    right: 0.02rem;
    bottom:2.9rem
}
img.tea-lishi-lg{
    width: 7.75rem;
    height:12.2rem;
    right: 0.25rem;
    bottom:2.9rem
}
img.tea-shengwu-lg{
    width: 7.9rem;
    height:12.2rem;
    right: 0.01rem;
    bottom:2.9rem
}
img.tea-wuli-lg{
    width: 8.625rem;
    height:11.05rem;
    right: 0;
    bottom:2.9rem
}
img.tea-zhengzhi-lg{
    width: 8.625rem;
    height:12.2rem;
    right: 0;
    bottom:2.9rem
}
.priceclass-teain{
    position: relative;
    border-bottom: solid 0.05rem #4d39d4;
}
.priceclass-warn{
    background-color: #7200b3;
    color:#fff;
    padding-top: 1.35rem;
    padding-bottom: 4.5rem;
}
.priceclass-warn span{
    font-size: 1.1rem;
}
.priceclass-warn p{
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
.priceclass-txt{
    color: #3b11ca;
    width: 15.35rem;
    height:1.35rem;
    line-height: 1.35rem;
    font-size: 0.9rem;
    text-align: center;
    margin-top:0.8rem;
    background:#bb7dff;
    background: -webkit-linear-gradient(left, #bb7dff , #faf4ff);
    background: -webkit-gradient(linear,left,from(#bb7dff),to(#faf4ff));
    background: -o-linear-gradient(left, #bb7dff, #faf4ff);
    background: -moz-linear-gradient(left, #bb7dff, #faf4ff);
    background: linear-gradient(to right, #bb7dff , #faf4ff);
}
.priceclass-time{
    width: 17rem;
    height:5,75rem;
    margin-top:1.8rem;
}
.priceclass-cycle{
    width: 17.5rem;
    height:6.25rem;
    margin-top:2.1rem;
}
.priceclass-dagang{
    margin: 1.35rem 0.6rem 0;
    background-color: #fff;
    border-radius: 0.5rem;
    padding:1.4rem 0;
}
.priceclass-dagang img{
    width: 14.825rem;
    height: 35rem;
}
.cont-tip{
    font-size:0.6rem;
    color:#3b11ca;
    padding:1.75rem 0.3rem 0 1rem;
    line-height: 1.2rem;
}
.priceclass-fuwu{
    width: 17.5rem;
    height: 2.75rem;
    margin-top:1.2rem;
}
.priceclass-tese{
    width: 15.3rem;
    height:8.625rem;
    margin-top:1.2rem; 
}
.qiuji-type-txt {
    margin-top: 1.5rem;
    padding-left: 2.6rem;
    font-size: 0.6rem;
    color:#fff;
    margin-bottom: 1.35rem;
}
.qiuji-type-txt p {
    margin-bottom: 0.55rem;
}
.qiuji-type-txt label {
    width: 0.45rem;
    height: 0.45rem;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 0.3rem;
}
.priceclass-teawuli .priceclass-tealf p:nth-child(2){
margin-top: 1rem
}
/* 引流页 */
.priceclasspull-banner{
    height: 33.35rem;
    background: url(../image/priceclass/banner_bglg.jpg)no-repeat top center;
    background-size: auto 100%;
    padding-top: 19.5rem;
}
.toptxt{
    width: 17.5rem;
    height: 13.85rem;
}
.priceclass-teatime{
    font-size: 0.75rem;
    color:#120377;
    line-height: 0.95rem;
    margin-bottom: 0.8rem;
}
.priceclass-teatime span{
    display: block
}
.priceclass-footertxt{
    width: 17.5rem;
    height: 5.35rem;
    margin-top: 0.9rem
}
.priceclass-teapull{
    padding: 2rem 0.75rem 0.75rem 1.5rem;
}
.priceclass-teapull .priceclass-txt{
    width: auto;
}