.img{
    display: block;
    margin: 0 auto;
}
.banner{
    max-width: 100%;
    height: auto;
    display: block;
    margin:0 auto;
}
.yu{
    width: 17.25rem;
    height: 8.3rem;
}
.yu-primary-yu{
    margin-top: -3.6rem;
}
.math-btn{
    /* padding: 1.5rem 0.6rem 0 0.6rem; */
    padding: 1.5rem 2rem 0 2rem;
    margin-bottom: 1.5rem;
}
.math-btn a{
    display: block;
    width: 5.5rem;
    height: 2rem;
    border:solid 1px #fff;
    font-size: 0.75rem;
    font-weight: bold;
    color:#fff;
    line-height: 2rem;
    border-radius: 1rem;
    text-align: center;
}
.math-btn a.active{
    border:solid 1px #e30000;
    color:#fff;
    background-color: #e30000;
}
.en-btn a.active{
    border:solid 1px #005320;
    color:#fff;
    background-color: #005320;
}
.math-btn-primary,.en-btn-primary,.yu-btn-primary{
    padding: 1.5rem 0.6rem 0 0.6rem;
}
.math-btn-primary a.active{
    border:solid 1px #ff16da;
    color:#fff;
    background-color: #ff16da;
}
.en-btn-primary a.active{
    border:solid 1px #de1818;
    color:#fff;
    background-color: #de1818;
}
.yu-btn-primary a.active{
    border:solid 1px #ffd581;
    color:#fff;
    background-color: #ffd581;
}
.project-top{
    background-color: #f35300;
    padding-bottom: 1rem;
}
.project-top-en{
    background-color: #008332;
    padding-bottom: 1rem;
    margin-top: -1px;
}
.project-top-pri-math{
    background-color: #2e00be;
    padding-bottom: 1rem;
    margin-top: -1px;
}
.project-top-pri-en{
    background-color: #ff4740;
    padding-bottom: 1rem;
    margin-top: -1px;
}
.project-top-pri-yu{
    background-color: #b06e16;
    padding-bottom: 1rem;
    margin-top: -1px;
}
.project-title{
    font-size: 0.9rem;
    color: #fff;
}

/* .select-high{
    padding: 1rem 0 0;
    margin-top: -0.05rem;
} */
.selectbox-list{
    margin-top: 1.25rem;
    padding-bottom: 0.5rem;
}
.selectbox{
    width: 17.5rem;
    height: 2rem;
    margin:0 auto;
    border-radius: 1rem;
    border:solid 1px #fff;
    padding: 0.35rem 0;
    line-height: 1.25rem;
    color:#fff;
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.selectbox-name{
    width: 4rem;
    /* border-right: solid 0.05rem  #b5b5b5; */
}
.selectbox label{
    width: 3rem;
    /* background: url(../image/mid-term/high_checked_nor.png)no-repeat center center; */
    background-size: 0.75rem 0.6rem;
    /* border-left: solid 0.05rem  #b5b5b5; */
}
.selectbox.act{
    border:solid 1px #e30000;
    color:#fff;
    background-color: #e30000;
}
.select-high-en .selectbox.act{
    border:solid 1px #005320;
    color:#fff;
    background-color: #005320;
}
.select-high-primath .selectbox.act{
    border:solid 1px #ff16da;
    color:#fff;
    background-color: #ff16da;
}
.select-high-prien .selectbox.act{
    border:solid 1px #de1818;
    color:#fff;
    background-color: #de1818;
}
.select-high-priyu .selectbox.act{
    border:solid 1px #ffd581;
    color:#333;
    background-color: #ffd581;
}
/* .selectbox.act .selectbox-name{
    border-right: solid 0.05rem  #fff;
} */
.selectbox.act label{
    background: url(../image/mid-term/high_checked_pre.png)no-repeat center center;
    background-size: 0.75rem 0.6rem;
    /* border-left: solid 0.05rem  #fff; */
}
.select-high-priyu .selectbox.act label{
    background: url(../image/project/yu_check_pre.png)no-repeat center center;
    background-size: 0.75rem 0.6rem;
}
.project-title-sub{
    font-size: 0.6rem;
    color:#cc3501;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 1.65rem;
}
.project-title-sub-en{
    font-size: 0.6rem;
    color:#005320;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 1.65rem;
}
.project-title-sub-primath{
    font-size: 0.6rem;
    color:#8d32d5;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 1.65rem;
}
.project-title-sub-priyu{
    font-size: 0.6rem;
    color:#b06e16;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 1.65rem;
}
.project-title1{
    width: 9.9rem;
    height: 2.8rem;
}
.project-title1-primath{
    width: 9.9rem;
    height: 1.55rem;
}
.project-title2{
    width: 9.5rem;
    height: 2.8rem;
}
.project-title2-primath{
    width: 9.35rem;
    height: 2.8rem;
}
.project-title3{
    width: 10.65rem;
    height: 1.55rem;
}
.project-title3-primath{
    width: 10.5rem;
    height: 1.55rem;
}
.project-part2{
    padding-top: 1.5rem;
}
.junior-mathimg{
    max-width: 100%;
    height: 16.1rem;
}
.primary-mathimg{
    max-width: 100%;
    height: 22.8rem;
}
.primary-enimg{
    max-width: 100%;
    height: 18.6rem;
}
.primary-enimg1{
    max-width: 100%;
    height: 29.7rem;
}
.primary-enimg2{
    max-width: 100%;
    height: 30.45rem;
}
.primary-enimg3{
    max-width: 100%;
    height: 35.15rem;
}
.project-part3{
    padding:1.5rem 0 1.75rem
}
.junior-mathimg4{
    width: 16.5rem;
    height: 12.35rem;
}
.junior-enimg4{
    width: 16.5rem;
    height: 10.6rem; 
}
.primary-en4{
    width: 15.65rem;
    height: 10.6rem; 
}
.primary-en5{
    /* width: 16.6rem; */
    max-width: 100%;
    height: 15.7rem; 
    margin-bottom: 1.6rem;
}
.project-part4{
    padding:1.75rem 0 2rem;
    background-color: #f35300;
}
.project-part4-en{
    background-color: #008332;
}
.project-part4-primath{
    background-color: #2e00be;
}
.project-part4-prien{
    background-color: #ff4740;
}
.project-part4-priyu{
    background-color: #b06e16;
}
.project-title-sub1{
    color:#fff;
}
.junior-mathimg5{
    width: 15.3rem;
    height: 8.65rem;
}

.term-info{
    background-color: #d52800;
    padding:1rem 0.6rem 4.75rem 0.6rem;
    /* margin: 0.6rem 1.2rem 3.4rem; */
    font-size: 0.5rem;
    color: #ffb696;
    line-height: 0.8rem;
    /* border-radius: 0.5rem; */
}
.term-info-title{
    color:#fff;
    margin-top: 0.75rem;
}
.term-info p:first-child{
    font-size: 0.9rem;
    color:#fff;
    margin-bottom: 0.5rem;
}
.term-info-en{
    background-color: #005320;
    color: #3abc6b;
}
.term-info-primath{
    background-color: #1e007c;
    color: #6795e2;
}
.term-info-prien{
    background-color: #ff6053;
    color: #ffb2af;
}
.term-info-priyu{
    background-color: #814f0d;
    color: #ccaa7e;
}

.math-teainfo{
    margin:0.5rem 1.1rem 0 1.1rem
}
.math-teainfo-item{
    width: 5rem;
    font-size: 0.45rem;
    color:#888;
    word-break: break-all;
    hyphens:auto;
-webkit-hyphens:auto;
-moz-hyphens:auto;
}
.math-teainfo-item span{
    display: block;
    text-align: center;
    font-size: 0.6rem;
    color:#333
}
.math-teainfo-item span label{
    font-size: 0.45rem;
    color:#ff753e;
    margin-left: 0.25rem;
}
.yu-teainfo{
    margin:0.5rem 0.75rem 0 0.75rem
}
.yu-teainfo-item{
    width: 8rem;
    font-size: 0.45rem;
    color:#888;
    word-break: break-all;
    hyphens:auto;
-webkit-hyphens:auto;
-moz-hyphens:auto;
}
.primary-math-tea{
    width:16.9rem;
    height:8.2rem;
}
.primary-yutea{
    width: 7rem;
    height: 8.425rem;
    margin-bottom: 0.5rem;
}



