.banner{
    width: 100%;
    height: auto;
    display: block
}
.qiuji2-titlesm{
    font-size: 0.9rem;
    margin: 1rem 0;

}
.qiuji-buttons-row{
    justify-content: space-between;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0 0.6rem;
    padding-bottom:0.75rem;
}
.qiuji-buttons-row .button {
    border-radius: 0.25rem;
    width: 5.5rem;
    width: calc((100% - 1rem) /3);
    height:1.75rem;
    border-color: #666;
    color: #333;
    font-size:0.75rem;
    line-height: 1.75rem;
    margin-bottom:0.55rem;
    margin-right: 0.5rem;
}
.qiuji-buttons-row .button:nth-of-type(3n){
    margin-right: 0;
}
.qiuji-buttons-row .button.active {
    background-color: #f43939;
    border-color: #f43939;
}
.qiuji-buttons-row .button:first-child {
    border-radius: 0.25rem;
}
.buttons-row .button:last-child {
    border-radius: 0.25rem;
}
.qiuji-buttons-row.button:last-child {
    border-radius: 0.25rem;
}
.qiuji-classlist{
    background-color:#eeeeee;
    padding:1rem 0.7rem 1.2rem;
}
.qiuji-title{
    font-size:0.9rem;
}
.qiuji-title span{
    display: inline-block;
    height:0.6rem;
    padding:0 0.45rem;
    background-color: #ffd2d2;
    border-radius: 0.3rem;
    line-height: 0;
}
.qiuji-titlelg{
    width: 100%;
    margin-bottom: 0.85rem;
    margin-top:0.8rem;
}
.list{
    margin-top:0.85rem;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.class-box{
    width: 8.45rem;
    background-color: #fff;
    border-radius: 0.2rem;
    font-size:0.75rem;
    margin-bottom: 0.45rem
}
.class-boxlg{
    width: 100%;
}
.class-boxlg .flexbox{
    justify-content: center;
    -webkit-justify-content: center;
}
.class-boxlg .color9{
    margin-right:1rem;
}
/* .class-box input[type="radio"]{
    display: none;
} */
.class-box label{
    padding:0 0.6rem;
    position: relative;
    display:block;
}
.class-box .tag{
    position: absolute;
    top: 0;
    left: 0;
    padding:0.15rem 0.2rem;
    line-height: 0.7rem;
    text-align: center;
    background-color: #f43939;
    font-size: 0.6rem;
    color:#fff;
    border-radius: 0.25rem 0 0.25rem 0;
}
.class-box .check{
    width: 1rem;
    height: 1rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0.55rem;
    right:0.6rem;
    background-color:#d2d2d2; 
    border-radius: 0.2rem
}
.class-box .check.act{
    background-color: #f43939
}
/* .class-box input:checked+label .check{
    background-color: #f43939
} */
.class-box .check img{
    width: 0.8rem;
    height:0.575rem;
}
.class-box .name{
    height:2.05rem;
    line-height: 2.05rem;
}
.class-box .time{
    line-height: 1.15rem;
    border-top:solid 1px #d2d2d2;
    border-bottom:solid 1px #d2d2d2;
    padding:0.5rem 0;
    position: relative;
}
.class-box .footer .color9{
    font-size: 0.5rem;
    text-decoration: line-through;
    padding-top: 0.4rem;
}
.class-box .money{
    font-size:1rem
}
.class-box-sm{
    height: 2.25rem;
    line-height: 2.25rem;
    background-color: #fff;
    font-size: 0.75rem;
    padding: 0 0.5rem 0 0.35rem;
    margin-bottom: 0.2rem;
}
.class-box-sm .subj{
    font-weight: bold;
}
.class-box-sm .price{
    color: #f43939;
}
.class-box-sm .price .undefined{
    font-size: 0.5rem;
    color: #999;
    text-decoration: line-through;
    margin-right: 0.45rem;
}
.class-box-sm .price .money{
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}
.class-box-sm .check{
    width: 1rem;
    height: 1rem;
    /* text-align: center; */
    vertical-align: top;
    background-color:#d2d2d2; 
    border-radius: 0.2rem
}
.class-box-sm .check img{
    width: 0.8rem;
    height:0.575rem;
}
.class-box-sm .check.act{
    background-color: #f43939
}
.qiuji-detail{
    padding:1.2rem 0 1.45rem;
}
.qiuji-titlesub{ 
    font-size: 0.6rem;
    margin:0.4rem 0 0.9rem;
}
.qiuji-detail-box{
    font-size: 0;
    color:#fff;
    background-color: #f43939;
    padding:0 0.5rem;
    margin:0 0.7rem;
}
.qiuji-detail-list{
    padding:0.75rem 0;
    position: relative;
    border-bottom:solid 1px #fff;
} 
.qiuji-detail-list:last-child{
    border-bottom:none;
}
.qiuji-detail-list span{
    display: inline-block;
    width: 2.25rem;
    font-size: 0.75rem;
    vertical-align: middle;
}
.qiuji-detail-list span p:last-child{
    font-size: 0.5rem;
}
.qiuji-detail-list .qiuji-detail-txt{
    display: inline-block;
    width:calc(100% - 2.25rem);
    font-size: 0.6rem;
    line-height:0.9rem; 
    vertical-align: middle;
}
.qiuji-tea{
    background-color:#eeeeee;
    padding:1rem 0.7rem 1.2rem;
}
.qiuji-teabox{
    margin:0.3rem 0;
    padding: 0.5rem 0.7rem 0.5rem 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
}
.qiuji-teabox img{
    width: 4rem;
    height:4rem;
    float: left;
    margin-right:0.6rem;
}
.qiuji-teabox .qiuji-tea-into{
    width:calc(100% - 4.65rem);
    float: left;
    font-size: 0.5rem;
   
}
.qiuji-teabox .qiuji-tea-into span{
    font-size:0.6rem;
}
.qiuji-teabox .qiuji-tea-into p{
    color:#666;
    line-height: 0.7rem;
    margin-top:0.5rem
}
.qiuji-teabox .qiuji-tea-into label{
    color:#666;
    display: block;
    font-size: 0.45rem;
}
.qiuji-type{
    padding :1.2rem 0 2.5rem;
}
.qiuji-img{
    display: block;
    margin:0 auto;
    width:15.3rem;
    margin-top:1rem
}
.qiuji-img2{
    display: none;
}
.qiuji-type-en .qiuji-img2{
    display: block;
}
.qiuji-type-en .qiuji-img1{
    display: none;
}
.qiuji-type-txt{
    margin-top:1.5rem;
    padding-left:2.6rem;
    font-size: 0.6rem;
}
.qiuji-type-txt p{
    margin-bottom:0.55rem
}
.qiuji-type-txt label{
    width: 0.45rem;
    height: 0.45rem;
    display: inline-block;
    background-color: #f43939;
    vertical-align: middle;
    margin-right:0.3rem
}
.qiuji-tip{
    padding:1rem 0 1.75rem;
    background-color: #f43939;
    font-size: 0.6rem;
    color:#fff;
}
.qiuji-tip span{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.65rem;
}
.qiuji-tip p{
    padding-left:3.9rem;
    line-height: 1.2rem;
}
.qiuji-fixed{
    width: 100%;
    height: 2.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top:solid 1px #ccc;
    background-color: #fff;
    z-index: 100;
}
.qiuji-fixleft{
    width:10rem;
    height:2.5rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    font-size:0.75rem;
    float: left;
    border-right: solid 1px #ccc;
}
#money{
    font-size:1.5rem;
}
.qiuji-fixcen{
    float: left;
    width: 2.65rem;
    font-size:0.45rem;
    color:#666;
    padding-top:0.4rem;
}
.qiuji-fixcen img{
    width: 1.1rem;
    height:1rem;
}
.qiuji-fixright{
    float:right;
    width:-webkit-calc(100% - 12.65rem);
    width:calc(100% - 12.65rem);
    font-size:0.9rem;
    line-height: 2.5rem;
    color:#fff;
    background-color: #f43939;
}
.qiuji-quancheng{
    width: 100%;
    font-size:0.6rem;
    line-height: 0.9rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin-bottom: 1rem;
}
.line{
    width: 1px;
    height: 100%;
    background-color: #d2d2d2;
}
.qiuji-entxt{
    font-size:0.75rem;
    line-height: 1.2rem;
    margin-bottom: 1.25rem;
}
.en-img1{
    width: 17.55rem;
    height: 3rem;
    display:block;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.en-img2{
    width: 17.65rem;
    height: 12.2rem;
    display:block;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.qiuji-enpoint{
    padding:0 0.7rem 0 1rem;
}
.en-num{
    float: left;
    width: 3.325rem;
    height: auto;
    margin-right: 0.8rem;
}
.enpoint-right{
    overflow: hidden;
    margin: 0.8rem 0;
}
.enpoint-right span{
    font-size:0.75rem;
}
.enpoint-right p{
    font-size:0.6rem;
    color:#999;
    margin-top: 0.1rem;
    margin-bottom: 0.65rem
}
.en-img3{
    width: 12.95rem;
}
.en-img4{
    width: 13.05rem;
}
.en-img5{
    width: 13.1rem;
}
.qiuji-tealist-en{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 0.6rem;
}
.qiuji-teabox-en{
    width: 8.25rem;
    /* height: 10.75rem; */
    padding: 0.55rem 0.8rem 0.4rem;
    background-color: #fff;
    border-radius: 0.5rem;
}
.qiuji-teabox-en img {
    width: 4rem;
    height: 4rem;
    display:block;
    margin:0 auto;
    margin-bottom: 0.5rem;
}
.qiuji-teabox-en .qiuji-tea-into span {
    font-size: 0.6rem;
    display: block;
}
.qiuji-teabox-en .qiuji-tea-into p {
    font-size: 0.5rem;
    margin-top:0.45rem;
    line-height: 0.85rem;
    color:#666;
    text-align: justify;
}
.qiuji-med{
    font-size: 0.9rem;
    color: #999;
    width: 0.9rem;
    padding-top: 1.1rem;
}
.qiuji-mathpoint{
    padding:0 0.7rem;
    margin-bottom: 1.75rem;
}
.mathpoint-box{
    height:2.6rem;
    padding-left:0.95rem;
    background-color: #eeeeee;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    color: #666;
    margin: 0.4rem 0;
}
.mathpoint-box img{
    vertical-align: middle
}
.mathpoint-icon{
    width: 2.2rem;
    display: inline-block;
    margin-right: 0.6rem;
    text-align: center;
}
.math-icon1,.math-icon2{
    width:1.85rem;
}
.math-icon3,.math-icon4{
    width:2.2rem;
}
.math-icon5{
    width:2.125rem;
}
.mathpoint-txt{
    line-height: 2.6rem;
}

.mathpoint-txt label{
    color:#333;
    font-weight: bold;
    margin-right:0.2rem;
}
.qiuji-detail-boxmath .qiuji-detail-list span {
    width: 2.7rem;
}
.qiuji-detail-boxmath .qiuji-detail-list .qiuji-detail-txt {
    width: calc(100% - 2.7rem);
}
.qiuji-yuwenpoint{
    padding:0 0.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1.75rem;
}
.yuwenpoint-box{
    background-color: #f43939;
    height:1.75rem;
    line-height: 1.75rem;
    font-size: 0.75rem;
    color:#fff;
    margin:0.6rem 0;
    padding-left:18.6%;
    border-radius: 0.5rem;
}
.qiuji-type-eva{
    background-color: #eee;
    padding:1.5rem 0 0.5rem;
}
.wechat-img{
    display: block;
    margin:0 auto;
}
.wechat-img1{
    width: 17.2rem;
    height: 8.625rem;
    margin-top:0.9rem
}
.wechat-img2{
    width: 17.3rem;
    height: 15.4rem;
    margin-top:0.1rem
}
.wechat-img3{
    width: 17.4rem;
    height: 7.625rem;
}
.qiuji-type-eva label{
    display: block;
    font-size: 0.6rem;
    text-align: center;
    margin:0.6rem 0 1rem
}
/* 暑假班2020 */
.summer2020-part2-wrap {
    background-color: #eeeeee;
    padding: 1.5rem 0.7rem 2rem;
}
.summer2020-part2-box{
    width: 50%;
    margin-right:0.4rem;
    background-color: #fff;
    font-size: 0.75rem;
    padding:0.8rem 0;
    line-height: 1.05rem;
    border-radius: 0.5rem;
}
.summer2020-part2-box p{
    font-size: 0.6rem;
}
.summer2020-part2-box p span{
    color:#f43939;
}
.summer2020-part2-box:last-child{
    margin-right: 0;
}
.summer2020-part2-tip{
    font-size: 0.6rem;
    margin-top: 0.7rem;
}
.summer2020-part2-tip span{
    width: 1.9rem;
    height: 0.95rem;
    line-height: 1rem;
    float: left;
    background-color: #ffd200;
    margin-right: 0.4rem;
    text-align: center;
    border-radius: 0.2rem;
}
.summer2020-part2-tip p{
    float: left;
    width: calc(100% - 2.3rem);
}
.summer2020-part3{
    padding: 2.25rem 0.7rem 1.5rem;
}
.summer2020-part3-box{
    padding:1rem 0 1.1rem;
    background-color: #f43939; 
    position: relative;
    color: #fff;
    border-radius: 0.5rem;
}
.summer2020-part3-title{
    font-size: 0.9rem;
    color: #fff;
    height: 1.55rem;
    line-height: 1.55rem;
    padding: 0 0.6rem;
    background-color: #511bff;
    position: absolute;
    top: -0.78rem;
    left: 50%;
    margin-left: -5.875rem;
    border-radius: 0.2rem;
}
.summer2020-part3-box .summer2020-part3-p1{
    font-size: 0.6rem;
    line-height: 0.95rem;
}
.summer2020-part3-box .summer2020-part3-p2{
    line-height: 1.2rem;
}
.summer2020-part3-box .summer2020-part3-p2 label{
    color: #fff600;
    border-bottom: solid 0.05rem #fff600;
}
.summer2020-part3-box .mr-b{
    margin-bottom: 1.15rem;
}
.winter-buttons-row-two.summer-buttons-row{
    background-color: #f43939;
    padding:0.6rem 1rem 0 1rem 
}
.tablewrap-summer table th {
    background-color: #f43939;
}
.tablewrap-summer table tr {
    background-color: #fff3f3;
}
.tablewrap-summer table td:first-child {
    color: #f43939;
}
.summer2020-dagang{
    padding-top: 1.4rem;
}
img.summer2020-txt{
    width: 15.8rem;
    height: 4.95rem;
    margin-top: 0.8rem;
}
.summer2020-txt-wrap{
    padding:1.2rem 0 0.3rem
}
.summer2020-step{
    padding:1rem 1rem 1.5rem;
}
.winter-xuzhi.summer2020-xuzhi{
    padding:1.25rem 0.6rem 1.25rem 1rem;
    margin-top: 0;
    background-color: #f43939;
    color: #fff;
}
.summer2020-xuzhi .winter-xuzhi-title{
    text-align: left;
}
.summer2020-info{
    line-height: 3.4rem;
    font-size: 1.1rem;
    color:#d30000;
    padding-bottom: 2.5rem;
}
.summer-fixed .qiuji-fixcen{
    width: 40%;
}
.summer-fixed .qiuji-fixright{
    width: 60%;
}
.springclass-tea1 {
    border-radius: 100%;
    border: solid 1px #cfcfcf;
}
.springclass-tea2 {
    border-radius: 100%;
}
.summer2020-buy-top{
    background-color: #fff;
    padding: 1.5rem 0.7rem 1.65rem;
}
.summer2020-buy-top .qiuji-buttons-row{
    margin: 0 -0.1rem;
}
.summer2020-buy-title{
    font-size: 0.9rem;
}
/* .summer2020-buy-titlered{
    font-size:1.2rem;
    color:#f43939;
    margin-bottom: 0.5rem;
} */
.summer2020-buy-title1{
    margin-top: 0.8rem;
}
.summer2020-buttons-row{
    margin-top: 1rem;
}
.summer2020-buttons-row .button{
    padding: 0.7rem;
    height: 3.45rem;
    line-height: 1.05rem;
    font-size: 0.75rem;
    border-color: #666666;
    color: #333;
    background-color: #fff;
}
.summer2020-buttons-row .button:first-child{
    margin-right: 0.45rem;
    border-radius: 0.25rem;
}
.summer2020-buttons-row .button p:first-child{
    font-size: 0.6rem;
}
.summer2020-buttons-row .button p span{
    color: #f43939;
}
.summer2020-buttons-row .button.active {
    background-color: #f43939;
    color: #fff;
    border-color: #f43939;
}
.summer2020-buttons-row .button.active p span{
    color: #fff;
}
.summer2020-tabs{
    padding: 0.7rem;
}
.summer2020-tabs .class-box .name {
    height: 2.25rem;
    line-height: 2.25rem;
}
.summer2020-tabs .class-box .footer{
    height: 2.65rem;
    line-height: 2.65rem;
    border-top: solid 1px #d2d2d2;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.summer2020-tabs .class-boxlg .color9 {
    margin-right: 0.25rem;
}
.summer20202-buttons-row .button{
    padding: 0;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.75rem;
    border: none;
}
.summer20202-buttons-row .button:first-child {
    margin-right: 0;
    border-radius: 0;
    border: none;
}
.summer20202-buttons-row .button:last-child {
    border-radius: 0;
}
.summer2020true-logo{
    width: 6.3rem;
    height: 2.2rem;
    position: absolute;
    top: 0;
    left:0.9rem
}
.summer2020true-txt{
    padding: 0 1.25rem;
    margin-top: 6.2rem;
}
.summer2020true-info{
    color:#fff
}
.summer2020true-info p{
    font-size: 1.05rem;
}
.summer2020true-info span{
    font-size: 0.6rem;
}
.summer2020true-code{
    width: 6.9rem;
    height: 6.9rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.65rem rgba(180,16,17,0.57);
    margin-top: 1.5rem;
}
.summer2020true-code img{
    width: 6.9rem;
    height: 6.9rem;
}
img.summer2020true-img{
    width: 13rem;
    height: 2.5rem;
    margin:0 auto;
    margin-top: 1.4rem;
}
.dagang-info{
    font-size: 0.5rem;
    margin-top: 0.5rem;
    padding:0 0.5rem;
    text-align: center;
}
.summer2020buy-tip{
    font-size: 0.75rem;
    padding: 1rem 0 1.5rem;
}
.summer2020buy-tip span{
    color: #f43939;
}
/* 暑假班营销课 */
.summer-linkup-top{
    height: 37.4rem;
    padding-top: 25rem;
    background: url(../image/qiuji2/linkup_bg.jpg)no-repeat top center;
    background-size:100% auto;
}
.summer-linkup-top-title{
    font-size: 1.2rem;
    color:#fff;
    /* margin-bottom: 0.5rem; */
}
.summer-linkup-top-titlesub{
    font-size: 0.6rem;
    color:#fff
}
.linkup-btntop{
    height: 5.4rem;
    padding-top: 1.25rem;
    font-size: 0.6rem;
    color:#fff;
    background-color: #e10000;
}
.linkup-btntop span img{
    display: none;
    position: absolute;
    width: 1.2rem;
    height: 0.9rem;
    top: 0.2rem;
    left: -1.5rem;
}
.summerlinkup-buttons-row .button{
    height: 8.55rem;
    padding:0;
    border: none;
    overflow: hidden;
    text-align: left;
    color:#333
}
.summerlinkup-buttons-row{
    padding: 0 0.7rem;
    margin-top: 1rem;
}
.summerlinkup-buttons-row .button:first-child{
    margin-right: 0.4rem;
    border-left: none;
    border-radius: 0.25rem;
}
.summerlinkup-buttons-row .button.active {
    background-color:transparent;
    color:#333;
    box-shadow: 0 0.65rem 0.65rem rgba(196,0,1,0.57);
}
.linkup-btntop span{
    font-size: 1.2rem;
    position: relative;
    font-weight: bold;
}
.linkup-btnbottom{
    height: 3.15rem;
    background-color: #fff;
    line-height: 1rem;
    font-size: 0.6rem;
    padding: 0.5rem 0.2rem 0 0.5rem;
}
.linkup-btnbottom img{
    width: 2.5rem;
    height: 0.75rem;
}
.linkup-btnbottom .linkup-btnbottom-one span,.summerlinkup-buttons-row .button.active .linkup-btnbottom-one span{
    font-size: 0.75rem;
    color:#f63903
}
.linkup-btnbottom .linkup-btnbottom-one label,.summerlinkup-buttons-row .button.active .linkup-btnbottom-one label{
    font-size: 1.2rem;
    color:#f63903
}
.linkup-btnbottom .linkup-btnbottom-two{
    color:#888888;
}
.summerlinkup-buttons-row .button.active .linkup-btntop{
    color:#fffc00;
}
.summerlinkup-buttons-row .button.active .linkup-btntop span img{
    display: block;
}
img.linkup-title{
    width: 8.3rem;
    height: 1.1rem;
    margin-bottom: 1.35rem;
}
.summer-linkup-jieimg{
    padding:0 0.825rem;
}
.summer-linkup-jie{
    padding-top: 2.35rem;
}
.summer-linkup-tea{
    padding: 2.3rem 0.7rem 0;

}
.winter-buttons-row-two.summerlinkdg-buttons-row {
    background-color: #e00000;
    padding:0.6rem 1rem 0 1rem 
}
.winter-buttons-row-two.buttons-row-xiao{
    padding:0.6rem 1rem;
}
.summerlinkup-dagang .dagang-info{
    color:#fff
}
.linkup-title-txt{
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 1.2rem;
}
.winter-xuzhi.summerlinkup-xuzhi {
    padding: 1.25rem 0.6rem 1.25rem 1rem;
    margin-top: 0;
    background-color: #ffc600;
    color: #333;
}
.summerlinkup-xuzhi .winter-xuzhi-title {
    color: #333;
}
.summerlinkup-xuzhi .winter-xuzhi-txt span {
    color: #333;
}
.summerlinkup-fixed .qiuji-fixleft{
    font-size: 0.5rem;
    font-weight: bold;
}
.summerlinkup-fixed .qiuji-fixleft span{
    color:#f43939;
    font-size: 1rem;
}
.summerlinkup-buy-top{
    background: none;
    padding: 1.5rem 0.7rem 1.3rem;
}
.linkupbuy-title{
    width: 3.5rem;
    height: 1.1rem;
}
.linkupbuy-titlesub{
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
.summerlinkup-tabs .class-box .footer{
    font-size: 0.6rem;
    -webkit-justify-content: center;
    justify-content: center;
}
.summerlinkup-tabs .class-boxlg .color9 {
    margin-right: 0.75rem;
    padding-top: 0.1rem;
    font-size: 0.6rem;
}
.summerlinkup-tabs .class-box .name {
    color:#f43939;
    font-weight: bold;
}
.summerlinkup-tabs .class-box .money {
    font-size: 1.2rem;
    margin-right: 0.4rem;
}
.tablewrap-summer table th:nth-child(2) {
   text-align: left;
   padding-left: 1.2rem;
}
.tablewrap-summer table th span{
    font: 0.5rem;
    margin-left: 0.7rem;
}
/* 暑假班营销课2 */
.summer2-linkup-top{
    height: 30rem;
    padding-top: 22rem;
    background: url(../image/qiuji2/summer2_bg_new.jpg)no-repeat top center;
    background-size:100% auto;
}
img.summer2-title{
    width: 4.7rem;
    height: 1.1rem;
    margin-bottom: 1.35rem;
}
img.summer2-title2{
    width: 5.95rem;
    height: 1.1rem;
    margin-bottom: 0.9rem;
    margin-top: 2.9rem;
}
/* .summer2-linkup-jie {
    padding-top: 0rem;
} */
.summer2-buttons-row{
    margin-top: 1.25rem;
}
.summer2-buttons-row .button{
    background:#fff;
    border-color:#fff
}
.summer2-buttons-row .button.active {
    background-color: #ffc600;
    border-color: #ffc600;
    color: #333;
}
.summer2-beizhu{
    font-size: 0.5rem;
    color:#fff;
    line-height: 0.75rem;
    background-color: #e50000;
    margin:0 0.6rem;
    border-radius: 0.3rem;
    padding: 0.6rem 0;
}
.summer2-beizhu-right p:nth-of-type(2){
    margin-bottom: 0.25rem;
}
.summer2-beizhu-right p span{
    color: #fff000;
}
.summer2-beizhu-left{
    float: left;
}
.summer2-beizhu-right{
    float: right;
}
.summer2-fixed span.summer2-fix-money{
    font-size: 0.6rem;
    color:#666
}
.summer2-buytabs .summer2020-buttons-row{
    padding: 0 0.7rem;
}
.summer2-buy-top{
    padding: 1.5rem 0.7rem 0;
}
.summer2-buytabs .summer20202-buttons-row{
    padding: 0;
}
/* 暑假班修改 */
.summer2020-top-tip{
    height: 2rem;
    line-height: 2rem;
    font-size: 0.6rem;
    color: #fff;
    background-color: #e80202;
}
.tablewrap-summer2 td:first-child.dgtable-time{
    color: #fff;
    background-color: #f43939;
}
.tablewrap-summer2 table thead th:first-child {
    width: 5.6rem;
    border-bottom: solid 1px #fff;
}
.tablewrap-summer2 table thead th:nth-child(2) {
    text-align: center;
    width: 2.35rem;
    padding-left: 0;
    border-right: solid 1px #fff;
}
.tablewrap-summer2 table td.dgtable-spe{
    color: #f43939;
    text-align: center;
    border-right: solid 1px #fff;
}
.tablewrap-summer2 table thead th:last-child{
    text-align: left;
    padding-left: 1.2rem;
}
.dgtable-time-mt{
    margin-top: 0.5rem;
}



