.school-logo{
    position: absolute;
    width: 6.2rem;
    height: 2.25rem;
    top: 0;
    left: 0.05rem;
}
.school-txt1{
    font-size: 0.75rem;
    color:#cc664e;
}
.school-topimg{
    padding: 0 2.075rem;
    margin-top: 0.25rem;
}
.school-txt2img{
    width: 9rem;
    height: 1.9rem;
    margin-top: -0.35rem;
    margin-bottom: 0.6rem;
}
.school-apply-box{
    margin: auto 1.2rem;
    background: #fff;
    padding: 1.7rem 1.15rem 1.4rem;
    border-radius: 0.5rem;
}
.school-apply-box .input-box {
    margin-top: 1rem;
    height: 2rem;
    border-bottom:solid 1px #a6a6a6;
}
.school-apply-box .select-box{
    border-bottom:none;
}
.school-apply-box .input-box input {
    border: none;
    padding-left: 1.05rem;
    border-radius: 0;
}
.school-apply-box .input-box select {
    border: solid 1px #a6a6a6;
    padding-left: 1.05rem;
    border-radius: 1rem;
    background: url(../image/schoolopens/selectbg.png)no-repeat center right;
    background-size: auto 100%;
    text-align: center;
    text-align-last: center;
}
.school-apply-box .smscode-btn{
    width: auto;
    background: none;
    font-size: 0.75rem;
    line-height: 2rem;
    border: none;
    outline: none;
}
.school-submit-wrap{
    margin:1.2rem 1.2rem 2.2rem;
}
.school-submit{
    display: block;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    background:#ffd802;
    background: -webkit-linear-gradient(top, #ffd802 , #ffae01);
    background: -o-linear-gradient(top, #ffd802, #ffae01);
    background: -moz-linear-gradient(top, #ffd802, #ffae01);
    background: linear-gradient(to bottom, #ffd802 , #ffae01);
    box-shadow: 0 0.65rem 0.6rem rgba(231,102,55,0.34);
}
.school-submit img{
    width: 4.95rem;
    height: 1.15rem;
    vertical-align: middle;
}
#schooltrue-top{
    padding-top:3.8rem
}
.schooltrue-topimg{
    padding:0 1.5rem
}
.school-truetxt2img{
    width: 10.3rem;
    height: 2.45rem;
}
.schooltrue-btnwrap{
    margin-top: 2.35rem;
}
.schooltrue-btn{
    display: inline-block;
    height: 3.1rem;
    border-radius: 1.55rem;
    font-size: 0.85rem;
    color:#cc664e;
    vertical-align: middle;
    padding:0.35rem 1.6rem 0;
    background:#ffd802;
    background: -webkit-linear-gradient(top, #ffd802 , #ffae01);
    background: -o-linear-gradient(top, #ffd802, #ffae01);
    background: -moz-linear-gradient(top, #ffd802, #ffae01);
    background: linear-gradient(to bottom, #ffd802 , #ffae01);
    box-shadow: 0 0.65rem 0.6rem rgba(231,102,55,0.34);
}
.schooltrue-code{
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0.65rem 0.6rem rgba(231,102,55,0.34);
    overflow: hidden;
    margin-top: 1.3rem;
}
.schooltrue-code img{
    width: 7.5rem;
    height: 7.5rem;
}
.schooltrue-bgimg{
    padding-top: 0.6rem;
}
.schooltrue-bgimg img{
    width: 13rem;
    height: 6.75rem;
}