.springt-shadow{
    box-shadow: 0 0.25rem 0.9rem rgba(0,81,32,0.67);
}
.springt-top{
    background-color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
    padding-top: 0.75rem;
    padding-bottom: 0.85rem;
}
.springt-logo{
    width: 9.95rem;
    height: 0.95rem;
}
.springt-toptxt1{
    width: 14.5rem;
    height: 1.25rem;
    margin-top: 1.4rem;
}
.springt-toptxt2{
    width: 14.35rem;
    height: 4.95rem;
    margin-top: 0.6rem;
    margin-bottom: 1.2rem;
}
.springt-toptip{
    color:#ff6000;
    font-size: 0.75rem;
    margin-top: 0.6rem;
}
.springt-toptip span{
    background-color: #ff6000;
    color:#fff;
    padding:0.1rem 0.2rem;
    border-radius: 0.25rem;
    margin-right: 0.1rem;
}
.springt-topline{
    width: 100%;
    height: auto;
    margin-top: -1px;
}
.springt-bottom{
    background-color: #fff;
    border-radius:0 0 0.5rem 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.8rem;
    margin-top: -1px;
}
.springt-bottom-txt{
    font-size: 1.2rem;
    color:#e7233f;
    text-align: center;
}
.springt-time{
    text-align: center;
    font-size: 0.45rem;
    color:#0a7635;

}
.springt-time span{
    font-size: 2rem;
    color:#e7233f;
    font-weight: bold;
    margin:0 0.3rem
}
.springt-apply,.springt-apply-scroll{
    width: 15rem;
    height: 2.5rem;
    display: block;
    margin:0 auto;
    line-height: 2.5rem;
    font-size: 0.9rem;
    color:#fff;
    text-align: center;
    font-weight: bold;
    background-color: #e7233f;
    border-radius: 0.25rem;
    border: none;
    outline: none;
}
.springt-mid{
    background-color: #ffe57b;
    border-radius:0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    margin-top: 1rem;
    position: relative;
    z-index:10;
}
.springt-mid-title{
    font-size: 1.15rem;
}
.springt-midimg{
    width: 15.65rem;
    height: 7.6rem;
}
.springt-bottombg{
    width: 13.2rem;
    height: 3.7rem;
    margin:0 auto;
    margin-top: -1rem;
    background: url(../image/springclass-tuan/bottom_bg.png)no-repeat;
    background-size: 100% 100%;
}
.springt-selectbox{
    background-color: #fff;
    border-radius:0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-top: -1rem;
}
.springt-select{
    padding:0 0.3rem;
}
.springt-select li{
    width: 33.3%;
    height: 2.05rem;
    line-height: 2rem;
    background-color: #bceafe;
    font-size: 0.6rem;
    color:#333;
    text-align: center;
    border:solid 1px #9ed9f3;
    border-radius: 0.25rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}
.springt-select li:last-child{
    margin-right: 0;
}
.springt-select li.act{
    background-color: #2d8ef9;
    border:solid 1px #2d8ef9;
    color:#fff;
}
.springt-selectbox p{
    margin-bottom: 1rem;
}
.springt-selectbox .springt-apply{
    margin-top: 0.2rem;
}
.springt-xuzhi{
    padding: 1.2rem 0 1.75rem 1.5rem;
    color:#fff;
    font-size: 0.75rem;
    line-height: 1.3rem;
}
.springt-xuzhititle{
    font-size: 1.15rem;
    margin-bottom: 1.35rem;
}
.freeture-truetxt{
    width: 13.8rem;
    height: 6.4rem;
    margin-top: 2.75rem;
}
.freeture-truetxt1{
    width: 12.2rem;
    height: 1.75rem;
   margin-bottom: 0.6rem;
}
.springt-main{
    margin-top: 1.75rem;
}
.springt-code{
    width: 6.9rem;
    height: 6.9rem;
    margin:0 auto;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;

}
.springt-code img{
    width: 6.9rem;
    height: 6.9rem;
    display: block;
}
.springt-info{
    display: inline-block;
    background-color: #ffcc00;
    color:#333;
    font-size: 0.85rem;
    padding:1.25rem 0.75rem;
    border-radius: 0.5rem;
    margin-top: 1.15rem;
}
.springt-true-tip{
    font-size: 0.6rem;
    color:#fff;
    margin-top: 0.85rem;
}

.springt-topselect{
    height:2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}
.springt-topselect span{
    width:5.4rem;
    font-size: 0.9rem;
    text-align: center;
    float: left;
    line-height: 2rem;
}
.springt-topselect select{
    float: right;
    width: calc(100% - 6.4rem);
    height: 0.9rem;
    line-height: 0.9rem;
    border: none;
    border-left:solid 0.05rem #999;
    text-align: center;
    text-align-last: center;
    font-size: 0.9rem;
    background:url(../image/springclass-tuan/select_bg.png)no-repeat center right;
    background-size: auto 100%;
    margin-top: 0.55rem;
    padding-right:1.6rem ;
}
.springt-toptxt3{
    width: 15rem;
    height: 0.95rem;
    margin-top: 0.5rem;
}
.springt-toptxt4{
    width: 15.3rem;
    height: 4.5rem;
    margin-top: 0.6rem;
    margin-bottom:1.2rem
}
.springt-bottom-txt1,.springt-bottom-txt3{
    font-size: 0.6rem;
    text-align: center;
    color:#0a7635;
}
.springt-bottom-txt2{
    font-size: 1.05rem;
    text-align: center;
    color:#0a7635;
    margin-top: 0.8rem;
}
.springt-bottom-txt3{
    margin-top: 0.25rem;
}
.springt-btn{
    padding:0.55rem 0.3rem 0.45rem;
}
.springt-btn span{
    font-size: 0.9rem;
    color:#fff;
    font-weight: bold;
    text-align: center;
    width: 5.25rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    background:#ff6000;
    background: -webkit-linear-gradient(45deg, #ff6000 , #ff9c00);
    background: -o-linear-gradient(45deg, #ff6000, #ff9c00);
    background: -moz-linear-gradient(45deg, #ff6000, #ff9c00);
    background: linear-gradient(45deg, #ff6000 , #ff9c00);
}
.springbuy-select{
    padding:0.75rem 0 0.25rem;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.springbuy-select .selectbox-list{
    border-radius: 0;
}
.springbuy-title{
    color:#0a7534;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}
.mixun-tip{
    color:#fff;
}
.freeture-truetxt2{
    width: 11.95rem;
    height: 5.15rem;
    margin-top: 1.75rem;
    margin-bottom: 1.4rem;
}
.springt-top-true{
    margin-top: 1.05rem;
}
.springt-truecode{
    margin-top: 1.5rem;
    box-shadow: 0 0 0.65rem rgba(135,135,135,0.42);
    margin-bottom: 0.7rem;
}
.freeture-truetxt3{
    width: 16.5rem;
    height: 3rem;
    margin-top: 1.1rem;
}
.springt_top{
    width: 16.1rem;
    height: 22.85rem;
}
.springclass-top{
    margin-top: 2.15rem;
}
.springtcontent-wrap-ft{
    background-color: #d8fbff;
    padding-bottom: 1.05rem;
}
.springt-teawrap{
    margin:1rem 1rem 0;
}
.springt_tea{
    max-width: 100%;
}
.springt-teatxt{
   margin:1.5rem 1rem 0;
}
.springt-teatxt ul li{
    width: 5rem;
    font-size: 0.55rem;
    color:#666;
    line-height: 1.15rem;
}
.springt-teatxt ul li span{
    display: block;
    font-size: 0.75rem;
    color:#fff;
    font-weight: bold;
    height: 1.15rem;
    line-height: 1.15rem;
    background-color: #0a7635;
    border-radius: 0.25rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.springt-xuzhi-tip{
    font-size: 0.9rem;
    color:#0a7635;
    padding:1.9rem 0;
    background-color: #d8fbff;
}
.apply-fixed-left{
    border: none;
    outline: none;
}
