.vm{
    vertical-align: middle;
}
.top-info{
    font-size: 0.6rem;
    color: #fff;
    line-height: 1.25rem;
    background-color: #2642c6;
}
.top-info p {
    padding: 0 0.9rem;
}
.top-info p .topinfo-icon{
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.5rem;
}
.top-info p:first-child{
    background-color: #09208c;
}
.winter2020-title{
    display: inline-block;
    padding: 0 3.55rem;
    background: url(../image/winter2020/titlebg_left.png) no-repeat center left,url(../image/winter2020/titlebg_right.png) no-repeat center right;
    background-size: 3.55rem 0.25rem,3.55rem 0.25rem;
}
.winter2020-title-w{
    display: inline-block;
    padding: 0 3.55rem;
    background: url(../image/winter2020/titlebg_left_w.png) no-repeat center left,url(../image/winter2020/titlebg_right_w.png) no-repeat center right;
    background-size: 3.55rem 0.25rem,3.55rem 0.25rem;
}
.winter2020-title-r{
    display: inline-block;
    padding: 0 3.55rem;
    background: url(../image/winter2020/titlebg_left_11.png) no-repeat center left,url(../image/winter2020/titlebg_right_11.png) no-repeat center right;
    background-size: 3.55rem 0.25rem,3.55rem 0.25rem;
}
.winter2020-title span{
    padding: 0 0.6rem;
    font-size: 1.05rem;
    color: #09208c;
    font-weight: bold;
    background: url(../image/winter2020/titletextbg.png) no-repeat bottom center;
    background-size: 4.85rem 0.25rem;
}
.winter2020-title-w span{
    padding: 0 0.6rem;
    font-size: 1.05rem;
    color: #fff;
    font-weight: bold;
    background: url(../image/winter2020/titletextbg_w.png) no-repeat bottom center;
    background-size: 4.85rem 0.25rem;
}
.winter2020-title-r span{
    padding: 0 0.6rem;
    font-size: 1.05rem;
    color: #cd2b34;
    font-weight: bold;
    background: url(../image/winter2020/titletextbg_11.png) no-repeat bottom center;
    background-size: 4.85rem 0.25rem;
}
.wintertitle-sub{
    font-size: 0.65rem;
    color: #6e7077;
    margin-top: 0.2rem;
}
.wintertitle-sub-w{
    font-size: 0.65rem;
    color: #fff;
    margin-top: 0.2rem;
}
.winter2020-part1{
    padding: 2rem 0 0.25rem;
}
.winter2020-part2{
    padding: 2rem 0.9rem 2rem;
}
.winter2020-part3{
    padding: 0.5rem 0 1rem;
}
.winter2020-part4{
    padding: 1.25rem 0 1rem;
}
.winter2020-part5{
    padding: 1rem 0 1rem;
}
.bg-blue{
    background-color: #3a56cd;
}
.winter-btnwrap{
    padding: 1.4rem 0.9rem 0 0.9rem;
}
/* 按钮 */
.winter-buttons-row{
    justify-content: space-between;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.winter-buttons-row .button {
    border-radius: 0.25rem;
    width: 5.45rem;
    width: calc((100% - 1rem) /3);
    height: 1.75rem;
    background: #ffe5da;
    border-color: #eb6b37;
    color: #333;
    font-size: 0.75rem;
    line-height: 1.75rem;
    margin-bottom: 0.6rem;
    margin-right: 0.3rem;
}
.winter-buttons-row .button.active {
    background-color: #ea6b38;
    border-color: #ea6b38;
    color: #fff;
}
.winter-buttons-row .button:nth-of-type(3n) {
    margin-right: 0;
}
.buttons-row .button:first-child {
    border-radius: 0.25rem;
}
.buttons-row .button:last-child {
    border-radius: 0.25rem;
}
/* 按钮 */
.part2-img1{
    margin-top: 1.9rem;
}
.part2-img2{
    margin-top: 2.15rem;
}
.part3-img{
    padding: 0 0.5rem;
    margin-top: 1.1rem;
}
.winter-tealist{
    padding: 1.25rem 0.9rem 0.5rem;
}
.winter-teabox{
    margin-bottom: 0.9rem;
}
.winter-teabox .tea-num{
    position: relative;
    display: inline-block;
    padding-left: 0.5rem;
    margin-left: 0.55rem;
    height: 1.2rem;
    color: #fff;
    font-size: 0.55rem;
    line-height: 1.2rem;
    background:#ff7100;
    background: -webkit-linear-gradient(left, #ff7100 , #ffc000);
    background: -o-linear-gradient(left, #ff7100, #ffc000);
    background: -moz-linear-gradient(left, #ff7100, #ffc000);
    background: linear-gradient(to right, #ff7100 , #fc994b);
    box-shadow: 0 0.1rem 0.2rem rgba(56,116,226,0.17);
    border-radius: 0.25rem 0 0 0;
}
.winter-teabox .tea-num:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 0.95rem;
    height: 1.65rem;
    background: url(../image/winter2020/teabox_tag.png)no-repeat;
    background-size: 100%;
}
.winter-teabox .teabox{
    display: flex;
    position: relative;
    min-height: 6.1rem;
    background-color: #fff;
    border-radius: 0.25rem;
    background:#fff url(../image/winter2020/teabox_bg.png)no-repeat top right;
    background-size: auto 100%;
    box-shadow: 0 0.1rem 0.2rem rgba(56,116,226,0.17);
}
.winter-teabox .tea-name{
    font-size: 0.8rem;
    color: #41569d;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.winter-teabox .tea-name span{
    color: #e96641;
    margin-left: 0.65rem;
}
.tea-info{
    font-size: 0.55rem;
    color: #555;
    line-height: 0.8rem;
}
.teabox-right {
    width: 4.5rem;
    position: relative;
}
.teabox-right .teaimg {
    position: absolute;
    width: 4.4rem;
    height: 6.25rem;
    bottom: 0;
    right: 0;
}
.teabox-left{
    width: calc(100% - 4.5rem);
    padding: 0.5rem 0 0.6rem 0.4rem;
}
.winter-dagang{
    padding-top: 1.5rem;
}
/* 大纲按钮 */
.winter-buttons-row-dg{
    position: relative;
    margin: 1.25rem 0.9rem 0;
}
.winter-buttons-row-dg:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0rem;
    width: 100%;
    height: 0.05rem;
    background-color: #b2b2b2;
}
.winter-buttons-row-dg .button {
    flex:auto;
    /* height: 1.25rem; */
    background: transparent;
    border-color: transparent;
    color: #b2b2b2;
    font-size: 0.75rem;
    /* line-height: 1.25rem; */
    border-radius: 0;
    padding: 0;
    padding-bottom: 0.2rem;
}
.winter-buttons-row-dg .button.active {
    background-color: transparent;
    border-color: transparent;
    color: #3a56cd;
    font-weight: bold;
    font-size: 0.9rem;
    border-bottom: solid 0.1rem  #3a56cd;
}
.winter-buttons-row-dg .button:first-child {
    border-radius: 0;
}
.winter-buttons-row-dg .button:last-child {
    border-radius: 0;
}
/* 大纲按钮 */
.winter-tablewrap{
    margin: 0 0.65rem;
    border: solid 0.2rem #517ed4;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 1.2rem;
    box-shadow:0 0.4rem 0.4rem rgba(58,86,205,0.46);
}
table {
    width: 100%;
    font-size: 0.6rem;
    color: #666;
}
table thead tr {
    border-bottom: none;
}
table tr {
    background-color: #fff;
    border-bottom: solid 1px #dce1f6;
}
table td, table th {
    text-align: left;
    padding:0.4rem 0.4rem 0.4rem 1.2rem;
    border-right: solid 1px #dce1f6;
}
table th {
    background-color: #3a56cd;
    color: #fff;
    height: 1.5rem;
    font-size: 0.65rem;
}
table th:first-child, table td:first-child {
    width: 2.75rem;
    text-align: center;
    padding-left: 0;
}
table thead th:last-child,table td:last-child  {
    width: 4rem;
    padding: 0;
    text-align: center;
    border-right: none;
}
table td:first-child {
    color: #3a56cd;
}
.dagang-info{
    font-size: 0.55rem;
    color: #b2b2b2;
    padding-left: 0.65rem;
    margin-top: 0.5rem;
}
.winter-time{
    padding: 1.2rem 0 1.65rem;
}
.winter-timelist{
    margin: 1.65rem 0.75rem 0 0.75rem;
}
.winter-timelist li{
    height: 2.45rem;
    line-height: 2.45rem;
    padding: 0 0.6rem;
    color: #fff;
    border-radius: 0.5rem;
    background: url(../image/winter2020/time_bg.png)no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0.65rem;
}
.winter-timelist li .listbox-left{
    width: 32%;
    font-size: 0.75rem;
}
.winter-timelist li .listbox-right {
    width: 30%;
}
.part4-img{
    padding: 0.125rem;
    margin-top: 1rem;
}
.part5-img{
    padding:0 0.8rem;
    margin-top: 1.15rem;
}
.winter-apply-fixed{
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #fff;
}
.apply-fixed-left {
    width: 16.6%;
    height: 2.5rem;
    background-color: #fff;
    font-size: 0.45rem;
    color: #666;
    padding-top: 0.25rem;
    line-height: 0.8rem;
}
.apply-fixed-left img{
    width: 1.1rem;
    height: 1.1rem;
}
.apply-fixed-right {
    width: 83.4%;
}
.apply-fixed-info{
    width: 50%;
    font-size: 0.9rem;
    padding-top: 0.45rem;
    color: #fefefe;
    line-height: 0.9rem;
    float: right;
}
.apply-fixed-info p:nth-child(2){
    font-size: 0.5rem;
}
.apply-fixed-info p:nth-child(2) span{
    color: #ef7311;
}
.apply-fixed-btn{
    width: 50%;
    float: right;
    background-color: #f07413;
}
/* 购买页 */
.winter2020-buy-top{
    padding: 1.75rem 0 0.75rem;
    background-color: #fff;
}
.mrt50{
    margin-top: 1.25rem;
}
.summer2020-tabs {
    padding: 0.7rem;
}
.summer2-buytabs .summer20202-buttons-row {
    padding: 0;
}
.summer20202-buttons-row .button {
    padding: 0;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.75rem;
    border: none;
    color: #333;
    background-color: #fff;
}
.summer20202-buttons-row .button.active {
    background-color: #3a56cd;
    color: #fff;
    border-color: #3a56cd;
}
.summer20202-buttons-row .button:first-child {
    margin-right: 0;
    border-radius: 0;
    border: none;
}
.summer20202-buttons-row .button:last-child {
    border-radius: 0;
}
.list {
    margin-top: 0.85rem;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.class-box-sm {
    height: 2.25rem;
    line-height: 2.25rem;
    background-color: #fff;
    font-size: 0.75rem;
    padding: 0 0.5rem 0 0.35rem;
    margin-bottom: 0.2rem;
}
.class-box-sm .subj {
    font-weight: bold;
}
.class-box-sm .price {
    color: #3a56cd;
}
.class-box-sm .price .undefined {
    font-size: 0.5rem;
    color: #999;
    text-decoration: line-through;
    margin-right: 0.45rem;
}
.class-box-sm .price .money {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}
.class-box-sm .check {
    width: 1rem;
    height: 1rem;
    /* text-align: center; */
    vertical-align: top;
    background-color: #d2d2d2;
    border-radius: 0.2rem;
}
.class-box-sm .check.act {
    background-color: #eb6b37;
}
.class-box-sm .check img {
    width: 0.8rem;
    height: 0.575rem;
}
.winterbuy-apply-fixed{
    height: 2.5rem;
}
.winterbuy-apply-fixed .apply-fixed-left{
    font-size: 0.9rem;
    color: #fff;
    line-height: 2.5rem;
    background:#3a56cd;
    padding-top: 0;
}
/* 成功 */
#success-top{
    padding-top: 4.95rem;
}
.success-txt{
    padding: 0 2.975rem;
}
.success-code{
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 4.95rem;
}
.success-code img{
    width: 7.5rem;
    height: 7.5rem;
}
.success-info{
    font-size: 0.85rem;
    color: #fff;
    margin-top: 1.5rem;
}
.success-logo{
    padding: 1.1rem 0;
    text-align: center;
}
.success-logo img{
    width: 4.55rem;
    height: 1.2rem;
}
/* 双11相关 */
.winter2020-11-top{
    max-width: 750px;
    margin: 0 auto;
    background:#d03323 url(../image/winter2020/top_11.jpg)no-repeat;
    background-size: 100% auto;
    /* padding-top: 14.8rem; */
    padding-top: 80%;
    padding-bottom: 2.4%;
}
.countdown{
    width: 14.5rem;
    height: 3.95rem;
    margin: 0 auto;
    background: url(../image/winter2020/countdown_bg.png)no-repeat;
    background-size: 100% 100%;
    padding-top: 1.65rem;
}
.countdown p{
    font-size: 0.95rem;
    color: #872725;
    line-height: 1.8rem;
    text-align: center;
}
.toptext{
    width: 9.7rem;
    height: 2.2rem;
    display: block;
    margin: 0 auto;
}
.winter2020-11-part1{
    position: relative;
}
.winter2020-11-part1-mian{
   width: 100%;
   height: 1.75rem;
   position: absolute;
   left: 0;
   bottom: 3.55rem;
   padding: 0 1.45rem;
   font-size: 0.75rem;
   color: #872725;
}
.winter2020-11-part1-txt span.price{
    font-size: 1.2rem;
}
.winter2020-11-part1-btn{
    width: 9.4rem;
    height: 1.75rem;
    line-height: 1.55rem;
    font-size: 1.1rem;
    color: #c52d1d;
    text-align: center;
    font-weight: bold;
    border: solid 0.1rem #c52d1d;
    border-radius: 0.875rem;
    margin-left: 1rem;
}
.winter2020-11-part2{
    margin-top: -1rem;
}
.adorn1{
    position: absolute;
    width: 4.2rem;
    height: 7rem;
    top: -1.3rem;
    right: 0;
}
.winter2020-11-part3{
    background-color: #fff;
    padding: 1.35rem 0 1.65rem;
    border-top: solid 0.15rem #f6ab90;
    position: relative;
}
.shuang11-title{
    padding: 0 2.875rem;
}
.shuang11-img3{
    padding: 0 0.55rem;
}
.adorn2{
    position: absolute;
    width: 4.05rem;
    height: 4rem;
    left: 0;
    top: -2.7rem;
}
.winter2020-11-part4{
    background-color: #fff;
}
.winter2020-11-part5{
    background-color: #fff;
    padding: 1.65rem 0 0.5rem;
}
.shuang11-img4{
    padding: 0 0.75rem;
    margin-top: 1.85rem;
}
.mr80{
    margin-top: 2rem;
}
.bg-white{
    background-color: #fff;
}
.winter11-btnwrap .winter-buttons-row .button {
    background: #ffe6e6;
    border-color: #ca2f20;
}
.winter11-btnwrap .winter-buttons-row .button.active {
    background-color: #d2393c;
    border-color: #d2393c;
}
.winter2020-11-tabs .winter-teabox .tea-num {
    background: #ce2e36;
    box-shadow: 0 0.1rem 0.2rem rgba(246,204,130,0.47);
}
.winter2020-11-tabs .winter-teabox .tea-num:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 0.95rem;
    height: 1.65rem;
    background: url(../image/winter2020/teabox_tag_11_new.png)no-repeat;
    background-size: 100%;
}
.winter2020-11-tabs .winter-teabox .teabox {
    background: #fff url(../image/winter2020/teabox_bg_11.png)no-repeat top right;
    background-size: auto 100%;
    box-shadow: 0 0.1rem 0.2rem rgba(239,164,24,0.17);
}
.winter2020-11-tabs .winter-teabox .tea-name {
    color: #f0bf64;
}
.winter2020-11-tabs .winter-teabox .tea-name span {
    color: #cd2b34;
}
.winter2020-11-tabs .winter-buttons-row-dg .button.active {
    color: #d03439;
    border-bottom: solid 0.1rem #d03439;
}
.winter2020-11-tabs .winter-tablewrap {
    border: solid 0.2rem #cd2b34;
    box-shadow: 0 0.4rem 0.4rem rgba(230,114,120,0.46);
}
.winter2020-11-tabs table th {
    background-color: #cd2b34;
}
.winter2020-11-tabs table td:first-child {
    color: #cd2b34;
}
.winter11-apply-fixed{
    border-top: solid 1px #ccc;
}
.winter11-apply-fixed .apply-fixed-info{
    color: #d0353a;
    font-size: 0.9rem;
    line-height: 2.5rem;
    background-color: #eace97;
    padding-top: 0;
}
.winter11-apply-fixed .apply-fixed-btn {
    background-color: #d0353a;
}
.shuang11-img5{
    padding: 0.3rem;
    margin-top: 1rem;
}
/* 双十一购买页 */
.winter2020-11-buy-banner{
    padding-top: 42%;
    background: url(../image/winter2020/success_11_topbg.jpg)no-repeat;
    background-size: 100% auto;
}
.success-11-topbtn{
    width: 13.05rem;
    height: 1.85rem;
}
.success-11-topimg{
    padding: 0 0.15rem;
    margin-top: 9%;
}
.winter11-buytabs .summer20202-buttons-row .button.active {
    background-color: #d2393c;
    border-color: #d2393c;
}
.winter11-buytabs .class-box-sm .price {
    color: #d2393c;
}
.winter11-buytabs .class-box-sm .check.act {
    background-color: #d2393c;
}
.winter11buy-apply-fixed .apply-fixed-left{
    background:#d2393c;
}
/* 双十一成功页 */
.success11-txt{
    padding: 0 2.3rem;
}
#success11-top{
    padding-top: 4.8rem;
}
.success11-logo {
    padding: 1.1rem 0;
    text-align: center;
}
.success11-logo img{
    width: 7.7rem;
    height: 1.15rem;
}
.success11-code{
    margin-top: 2.65rem;
}